{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :invoke, :f :write, :value 2, :process 3, :time 8418120884, :index 602}
{:type :ok, :f :write, :value 2, :process 3, :time 8428041013, :index 603}
{:type :invoke, :f :write, :value 2, :process 3, :time 8432285773, :index 604}
{:type :ok, :f :write, :value 2, :process 3, :time 8437455743, :index 605}
{:type :invoke, :f :write, :value 1, :process 4, :time 8508049222, :index 606}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 8509881082, :index 607}
{:type :invoke, :f :read, :value nil, :process 3, :time 8518843812, :index 608}
{:type :ok, :f :write, :value 1, :process 4, :time 8520335792, :index 609}
{:type :ok, :f :read, :value 1, :process 3, :time 8520909241, :index 610}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 8521211121, :index 611}
{:type :invoke, :f :read, :value nil, :process 6, :time 8522447792, :index 612}
{:type :ok, :f :read, :value 1, :process 6, :time 8523930192, :index 613}
{:type :invoke, :f :write, :value 3, :process 3, :time 8537116352, :index 614}
{:type :ok, :f :write, :value 3, :process 3, :time 8541784731, :index 615}
{:type :invoke, :f :read, :value nil, :process 2, :time 8542940031, :index 616}
{:type :ok, :f :read, :value 3, :process 2, :time 8544512641, :index 617}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 8548249491, :index 618}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 8552668631, :index 619}
{:type :invoke, :f :write, :value 3, :process 6, :time 8562129611, :index 620}
{:type :ok, :f :write, :value 3, :process 6, :time 8566744461, :index 621}
{:type :invoke, :f :write, :value 2, :process 3, :time 8609074610, :index 622}
{:type :ok, :f :write, :value 2, :process 3, :time 8619667130, :index 623}
{:type :invoke, :f :write, :value 3, :process 2, :time 8658683229, :index 624}
{:type :ok, :f :write, :value 3, :process 2, :time 8667501429, :index 625}
{:type :invoke, :f :read, :value nil, :process 4, :time 8668652549, :index 626}
{:type :ok, :f :read, :value 3, :process 4, :time 8670734819, :index 627}
{:type :invoke, :f :write, :value 3, :process 0, :time 8695930178, :index 628}
{:type :ok, :f :write, :value 3, :process 0, :time 8704233728, :index 629}
{:type :invoke, :f :cas, :value [0 3], :process 2, :time 8711924318, :index 630}
{:type :fail, :f :cas, :value [0 3], :process 2, :time 8717918478, :index 631}
{:type :invoke, :f :write, :value 1, :process 6, :time 8738083057, :index 632}
{:type :ok, :f :write, :value 1, :process 6, :time 8745401928, :index 633}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 8771575857, :index 634}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 8781178717, :index 635}
{:type :invoke, :f :read, :value nil, :process 2, :time 8784271547, :index 636}
{:type :ok, :f :read, :value 1, :process 2, :time 8786328636, :index 637}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 8805047666, :index 638}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 8811745306, :index 639}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 8841074955, :index 640}
{:type :invoke, :f :write, :value 3, :process 0, :time 8848556765, :index 641}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 8849332495, :index 642}
{:type :invoke, :f :write, :value 1, :process 3, :time 8851048085, :index 643}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 8851742695, :index 644}
{:type :ok, :f :write, :value 3, :process 0, :time 8854420795, :index 645}
{:type :ok, :f :write, :value 1, :process 3, :time 8855398275, :index 646}
{:type :ok, :f :cas, :value [1 0], :process 6, :time 8856740315, :index 647}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 8916757434, :index 648}
{:type :ok, :f :cas, :value [0 3], :process 0, :time 8928059224, :index 649}
{:type :invoke, :f :read, :value nil, :process 4, :time 8931673434, :index 650}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 8932445474, :index 651}
{:type :ok, :f :read, :value 3, :process 4, :time 8933853914, :index 652}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 8937407924, :index 653}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 8971713643, :index 654}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 8979166232, :index 655}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 8979602312, :index 656}
{:type :invoke, :f :read, :value nil, :process 2, :time 8980604232, :index 657}
{:type :invoke, :f :write, :value 0, :process 6, :time 8981990442, :index 658}
{:type :ok, :f :read, :value 3, :process 2, :time 8982369842, :index 659}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 8987454413, :index 660}
{:type :ok, :f :write, :value 0, :process 6, :time 8989425983, :index 661}
{:type :invoke, :f :read, :value nil, :process 3, :time 8997933242, :index 662}
{:type :ok, :f :read, :value 0, :process 3, :time 8999905632, :index 663}
{:type :invoke, :f :write, :value 3, :process 2, :time 9007613202, :index 664}
{:type :ok, :f :write, :value 3, :process 2, :time 9012860432, :index 665}
{:type :invoke, :f :read, :value nil, :process 0, :time 9020709222, :index 666}
{:type :ok, :f :read, :value 3, :process 0, :time 9022411892, :index 667}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 9038643001, :index 668}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 9046290642, :index 669}
{:type :invoke, :f :write, :value 0, :process 2, :time 9051197431, :index 670}
{:type :invoke, :f :read, :value nil, :process 0, :time 9054590281, :index 671}
{:type :ok, :f :write, :value 0, :process 2, :time 9056546001, :index 672}
{:type :ok, :f :read, :value 0, :process 0, :time 9056584811, :index 673}
{:type :invoke, :f :read, :value nil, :process 3, :time 9071137451, :index 674}
{:type :ok, :f :read, :value 0, :process 3, :time 9072913171, :index 675}
{:type :invoke, :f :read, :value nil, :process 0, :time 9101950220, :index 676}
{:type :ok, :f :read, :value 0, :process 0, :time 9104177340, :index 677}
{:type :invoke, :f :cas, :value [3 0], :process 6, :time 9113699540, :index 678}
{:type :fail, :f :cas, :value [3 0], :process 6, :time 9121754520, :index 679}
{:type :invoke, :f :write, :value 1, :process 4, :time 9126772110, :index 680}
{:type :ok, :f :write, :value 1, :process 4, :time 9131783220, :index 681}
{:type :invoke, :f :write, :value 0, :process 6, :time 9173058619, :index 682}
{:type :ok, :f :write, :value 0, :process 6, :time 9179766359, :index 683}
{:type :invoke, :f :read, :value nil, :process 3, :time 9207160028, :index 684}
{:type :ok, :f :read, :value 0, :process 3, :time 9209182248, :index 685}
{:type :invoke, :f :read, :value nil, :process 2, :time 9219780428, :index 686}
{:type :ok, :f :read, :value 0, :process 2, :time 9221517678, :index 687}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 9257548607, :index 688}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 9266287937, :index 689}
{:type :invoke, :f :read, :value nil, :process 4, :time 9280063377, :index 690}
{:type :ok, :f :read, :value 0, :process 4, :time 9282034237, :index 691}
{:type :invoke, :f :write, :value 1, :process 6, :time 9340096765, :index 692}
{:type :ok, :f :write, :value 1, :process 6, :time 9351722055, :index 693}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 9365658035, :index 694}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 9372630145, :index 695}
{:type :invoke, :f :write, :value 1, :process 2, :time 9385761695, :index 696}
{:type :ok, :f :write, :value 1, :process 2, :time 9390874005, :index 697}
{:type :invoke, :f :write, :value 3, :process 3, :time 9396452744, :index 698}
{:type :ok, :f :write, :value 3, :process 3, :time 9401257374, :index 699}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 9409066714, :index 700}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 9413909324, :index 701}
{:type :invoke, :f :read, :value nil, :process 4, :time 9419314164, :index 702}
{:type :ok, :f :read, :value 3, :process 4, :time 9421567194, :index 703}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 9446041544, :index 704}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 9452192034, :index 705}
{:type :invoke, :f :write, :value 0, :process 0, :time 9466231183, :index 706}
{:type :ok, :f :write, :value 0, :process 0, :time 9470742613, :index 707}
{:type :invoke, :f :read, :value nil, :process 4, :time 9472823573, :index 708}
{:type :ok, :f :read, :value 0, :process 4, :time 9474480933, :index 709}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 9490140053, :index 710}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 9494925022, :index 711}
{:type :invoke, :f :write, :value 1, :process 4, :time 9523710292, :index 712}
{:type :invoke, :f :write, :value 2, :process 2, :time 9526225732, :index 713}
{:type :ok, :f :write, :value 1, :process 4, :time 9530134062, :index 714}
{:type :ok, :f :write, :value 2, :process 2, :time 9531251962, :index 715}
{:type :invoke, :f :read, :value nil, :process 3, :time 9544515252, :index 716}
{:type :ok, :f :read, :value 2, :process 3, :time 9546233012, :index 717}
{:type :invoke, :f :read, :value nil, :process 6, :time 9547499072, :index 718}
{:type :ok, :f :read, :value 2, :process 6, :time 9549110332, :index 719}
{:type :invoke, :f :write, :value 0, :process 4, :time 9591504100, :index 720}
{:type :ok, :f :write, :value 0, :process 4, :time 9601081271, :index 721}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 9625511530, :index 722}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 9631798120, :index 723}
{:type :invoke, :f :write, :value 4, :process 0, :time 9637217010, :index 724}
{:type :ok, :f :write, :value 4, :process 0, :time 9642161590, :index 725}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 9660135119, :index 726}
{:type :ok, :f :cas, :value [4 3], :process 3, :time 9666540249, :index 727}
{:type :invoke, :f :read, :value nil, :process 2, :time 9667508729, :index 728}
{:type :ok, :f :read, :value 3, :process 2, :time 9669430329, :index 729}
{:type :invoke, :f :write, :value 0, :process 6, :time 9678333019, :index 730}
{:type :ok, :f :write, :value 0, :process 6, :time 9684713349, :index 731}
{:type :invoke, :f :read, :value nil, :process 4, :time 9712449608, :index 732}
{:type :ok, :f :read, :value 0, :process 4, :time 9714423888, :index 733}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 9724081958, :index 734}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 9730601778, :index 735}
{:type :invoke, :f :read, :value nil, :process 0, :time 9777536797, :index 736}
{:type :ok, :f :read, :value 0, :process 0, :time 9779978697, :index 737}
{:type :invoke, :f :write, :value 3, :process 0, :time 9806287326, :index 738}
{:type :invoke, :f :write, :value 3, :process 2, :time 9815743176, :index 739}
{:type :ok, :f :write, :value 3, :process 0, :time 9818746596, :index 740}
{:type :ok, :f :write, :value 3, :process 2, :time 9821008056, :index 741}
{:type :invoke, :f :read, :value nil, :process 6, :time 9825984486, :index 742}
{:type :ok, :f :read, :value 3, :process 6, :time 9829051856, :index 743}
{:type :invoke, :f :write, :value 1, :process 3, :time 9852030646, :index 744}
{:type :ok, :f :write, :value 1, :process 3, :time 9857441895, :index 745}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 9863646135, :index 746}
{:type :invoke, :f :write, :value 4, :process 2, :time 9864310255, :index 747}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 9869069765, :index 748}
{:type :ok, :f :write, :value 4, :process 2, :time 9869724285, :index 749}
{:type :invoke, :f :write, :value 0, :process 3, :time 9917805134, :index 750}
{:type :ok, :f :write, :value 0, :process 3, :time 9927859104, :index 751}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 9948392234, :index 752}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 9955084063, :index 753}
{:type :invoke, :f :write, :value 3, :process 0, :time 9963148143, :index 754}
{:type :ok, :f :write, :value 3, :process 0, :time 9968338893, :index 755}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 9973359053, :index 756}
{:type :ok, :f :cas, :value [3 3], :process 4, :time 9977955593, :index 757}
{:type :invoke, :f :read, :value nil, :process 2, :time 10014974122, :index 758}
{:type :ok, :f :read, :value 3, :process 2, :time 10017275872, :index 759}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 10019268322, :index 760}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 10028510102, :index 761}
{:type :invoke, :f :write, :value 2, :process 0, :time 10042670012, :index 762}
{:type :ok, :f :write, :value 2, :process 0, :time 10049217871, :index 763}
{:type :invoke, :f :write, :value 3, :process 2, :time 10083615341, :index 764}
{:type :invoke, :f :write, :value 1, :process 3, :time 10086959521, :index 765}
{:type :ok, :f :write, :value 3, :process 2, :time 10091755881, :index 766}
{:type :ok, :f :write, :value 1, :process 3, :time 10093761621, :index 767}
{:type :invoke, :f :cas, :value [0 4], :process 4, :time 10135296620, :index 768}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 10138386530, :index 769}
{:type :fail, :f :cas, :value [0 4], :process 4, :time 10144388449, :index 770}
{:type :fail, :f :cas, :value [0 1], :process 6, :time 10145780740, :index 771}
{:type :invoke, :f :write, :value 1, :process 2, :time 10187039829, :index 772}
{:type :invoke, :f :write, :value 2, :process 6, :time 10187039709, :index 773}
{:type :ok, :f :write, :value 2, :process 6, :time 10194451949, :index 774}
{:type :ok, :f :write, :value 1, :process 2, :time 10194477259, :index 775}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 10200810768, :index 776}
{:type :fail, :f :cas, :value [0 1], :process 6, :time 10207282498, :index 777}
{:type :invoke, :f :read, :value nil, :process 2, :time 10211796008, :index 778}
{:type :ok, :f :read, :value 1, :process 2, :time 10213568019, :index 779}
{:type :invoke, :f :read, :value nil, :process 0, :time 10234519408, :index 780}
{:type :ok, :f :read, :value 1, :process 0, :time 10236165628, :index 781}
{:type :invoke, :f :write, :value 0, :process 3, :time 10255026887, :index 782}
{:type :ok, :f :write, :value 0, :process 3, :time 10266187347, :index 783}
{:type :invoke, :f :read, :value nil, :process 3, :time 10274497297, :index 784}
{:type :ok, :f :read, :value 0, :process 3, :time 10276231307, :index 785}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 10322477826, :index 786}
{:type :invoke, :f :write, :value 0, :process 2, :time 10325800316, :index 787}
{:type :invoke, :f :read, :value nil, :process 4, :time 10326725976, :index 788}
{:type :ok, :f :read, :value 0, :process 4, :time 10328655676, :index 789}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 10329498116, :index 790}
{:type :ok, :f :write, :value 0, :process 2, :time 10330692706, :index 791}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 10339591776, :index 792}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 10345149096, :index 793}
{:type :invoke, :f :read, :value nil, :process 4, :time 10347926786, :index 794}
{:type :ok, :f :read, :value 0, :process 4, :time 10349356166, :index 795}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 10403822415, :index 796}
{:type :ok, :f :cas, :value [0 4], :process 0, :time 10415073774, :index 797}
{:type :invoke, :f :read, :value nil, :process 2, :time 10416963934, :index 798}
{:type :ok, :f :read, :value 4, :process 2, :time 10418691824, :index 799}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 10424531194, :index 800}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 10429965844, :index 801}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
