{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :invoke, :f :read, :value nil, :process 2, :time 29402546751, :index 2606}
{:type :fail, :f :read, :value nil, :process 2, :time 29404480031, :error "Remoting error:null", :index 2607}
{:type :invoke, :f :write, :value 1, :process 2, :time 29501755369, :index 2612}
{:type :ok, :f :write, :value 1, :process 2, :time 29507038079, :index 2613}
{:type :invoke, :f :read, :value nil, :process 0, :time 29529633648, :index 2614}
{:type :ok, :f :read, :value 1, :process 0, :time 29531590858, :index 2615}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 29534273568, :index 2616}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 29536966198, :index 2617}
{:type :ok, :f :cas, :value [1 2], :process 3, :time 29539234918, :index 2618}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 29540526548, :index 2619}
{:type :invoke, :f :read, :value nil, :process 4, :time 29596907027, :index 2620}
{:type :ok, :f :read, :value 2, :process 4, :time 29598683977, :index 2621}
{:type :invoke, :f :read, :value nil, :process 4, :time 29600122586, :index 2622}
{:type :ok, :f :read, :value 2, :process 4, :time 29601511357, :index 2623}
{:type :invoke, :f :write, :value 2, :process 0, :time 29624884486, :index 2624}
{:type :ok, :f :write, :value 2, :process 0, :time 29633179476, :index 2625}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 29649556296, :index 2626}
{:type :ok, :f :cas, :value [2 2], :process 3, :time 29653778416, :index 2627}
{:type :invoke, :f :read, :value nil, :process 2, :time 29698415744, :index 2628}
{:type :ok, :f :read, :value 2, :process 2, :time 29700362964, :index 2629}
{:type :invoke, :f :read, :value nil, :process 6, :time 29714934635, :index 2630}
{:type :ok, :f :read, :value 2, :process 6, :time 29716437195, :index 2631}
{:type :invoke, :f :read, :value nil, :process 4, :time 29737774083, :index 2632}
{:type :ok, :f :read, :value 2, :process 4, :time 29739703514, :index 2633}
{:type :invoke, :f :read, :value nil, :process 6, :time 29782732383, :index 2634}
{:type :ok, :f :read, :value 2, :process 6, :time 29784666903, :index 2635}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 29790435433, :index 2636}
{:type :invoke, :f :read, :value nil, :process 6, :time 29791941453, :index 2637}
{:type :ok, :f :read, :value 2, :process 6, :time 29793180343, :index 2638}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 29803466273, :index 2639}
{:type :invoke, :f :write, :value 0, :process 3, :time 29817058382, :index 2640}
{:type :ok, :f :write, :value 0, :process 3, :time 29821808422, :index 2641}
{:type :invoke, :f :write, :value 3, :process 4, :time 29831005082, :index 2642}
{:type :ok, :f :write, :value 3, :process 4, :time 29835124622, :index 2643}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 29854435881, :index 2644}
{:type :ok, :f :cas, :value [3 3], :process 6, :time 29859364771, :index 2645}
{:type :invoke, :f :read, :value nil, :process 3, :time 29881096371, :index 2646}
{:type :ok, :f :read, :value 3, :process 3, :time 29883057641, :index 2647}
{:type :invoke, :f :read, :value nil, :process 2, :time 29899661171, :index 2648}
{:type :ok, :f :read, :value 3, :process 2, :time 29901907011, :index 2649}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 29912836250, :index 2650}
{:type :invoke, :f :write, :value 0, :process 4, :time 29916395370, :index 2651}
{:type :invoke, :f :write, :value 4, :process 6, :time 29917727690, :index 2652}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 29920298020, :index 2653}
{:type :ok, :f :write, :value 0, :process 4, :time 29921847640, :index 2654}
{:type :ok, :f :write, :value 4, :process 6, :time 29922049870, :index 2655}
{:type :invoke, :f :read, :value nil, :process 0, :time 29925587040, :index 2656}
{:type :ok, :f :read, :value 4, :process 0, :time 29927141620, :index 2657}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 29942133510, :index 2658}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 29947204650, :index 2659}
{:type :invoke, :f :cas, :value [0 1], :process 4, :time 29982621939, :index 2660}
{:type :fail, :f :cas, :value [0 1], :process 4, :time 29988716089, :index 2661}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 30007307178, :index 2662}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 30012484638, :index 2663}
{:type :invoke, :f :read, :value nil, :process 3, :time 30023368068, :index 2664}
{:type :ok, :f :read, :value 4, :process 3, :time 30024965848, :index 2665}
{:type :invoke, :f :write, :value 3, :process 4, :time 30057089748, :index 2666}
{:type :ok, :f :write, :value 3, :process 4, :time 30063761917, :index 2667}
{:type :invoke, :f :read, :value nil, :process 3, :time 30078258857, :index 2668}
{:type :ok, :f :read, :value 3, :process 3, :time 30080306437, :index 2669}
{:type :invoke, :f :write, :value 3, :process 0, :time 30089394587, :index 2670}
{:type :invoke, :f :read, :value nil, :process 2, :time 30091145087, :index 2671}
{:type :ok, :f :read, :value 3, :process 2, :time 30092793657, :index 2672}
{:type :ok, :f :write, :value 3, :process 0, :time 30095694077, :index 2673}
{:type :invoke, :f :write, :value 0, :process 6, :time 30161837175, :index 2674}
{:type :invoke, :f :write, :value 0, :process 2, :time 30165076475, :index 2675}
{:type :ok, :f :write, :value 0, :process 6, :time 30169480295, :index 2676}
{:type :ok, :f :write, :value 0, :process 2, :time 30170750366, :index 2677}
{:type :invoke, :f :write, :value 3, :process 4, :time 30182077525, :index 2678}
{:type :ok, :f :write, :value 3, :process 4, :time 30186462915, :index 2679}
{:type :invoke, :f :read, :value nil, :process 4, :time 30233755184, :index 2680}
{:type :ok, :f :read, :value 3, :process 4, :time 30236045724, :index 2681}
{:type :invoke, :f :write, :value 2, :process 0, :time 30238977684, :index 2682}
{:type :invoke, :f :write, :value 3, :process 3, :time 30247623224, :index 2683}
{:type :ok, :f :write, :value 2, :process 0, :time 30248698554, :index 2684}
{:type :ok, :f :write, :value 3, :process 3, :time 30252230184, :index 2685}
{:type :invoke, :f :read, :value nil, :process 6, :time 30274861043, :index 2686}
{:type :invoke, :f :cas, :value [1 2], :process 2, :time 30276084483, :index 2687}
{:type :ok, :f :read, :value 3, :process 6, :time 30276850683, :index 2688}
{:type :fail, :f :cas, :value [1 2], :process 2, :time 30284110853, :index 2689}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 30320406982, :index 2690}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 30327484312, :index 2691}
{:type :ok, :f :cas, :value [3 3], :process 4, :time 30328956552, :index 2692}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 30332125892, :index 2693}
{:type :invoke, :f :write, :value 4, :process 3, :time 30397347311, :index 2694}
{:type :invoke, :f :write, :value 1, :process 4, :time 30397284721, :index 2695}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 30399324381, :index 2696}
{:type :ok, :f :write, :value 4, :process 3, :time 30406754701, :index 2697}
{:type :ok, :f :write, :value 1, :process 4, :time 30406754670, :index 2698}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 30407333490, :index 2699}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 30439041240, :index 2700}
{:type :ok, :f :cas, :value [4 3], :process 0, :time 30446493760, :index 2701}
{:type :invoke, :f :write, :value 1, :process 2, :time 30450494260, :index 2702}
{:type :ok, :f :write, :value 1, :process 2, :time 30455875820, :index 2703}
{:type :invoke, :f :write, :value 1, :process 0, :time 30469796289, :index 2704}
{:type :ok, :f :write, :value 1, :process 0, :time 30475291519, :index 2705}
{:type :invoke, :f :write, :value 0, :process 2, :time 30477219359, :index 2706}
{:type :ok, :f :write, :value 0, :process 2, :time 30481375189, :index 2707}
{:type :invoke, :f :write, :value 0, :process 2, :time 30504692539, :index 2708}
{:type :ok, :f :write, :value 0, :process 2, :time 30510340489, :index 2709}
{:type :invoke, :f :read, :value nil, :process 6, :time 30552638858, :index 2710}
{:type :ok, :f :read, :value 0, :process 6, :time 30554785948, :index 2711}
{:type :invoke, :f :write, :value 3, :process 4, :time 30563161207, :index 2712}
{:type :ok, :f :write, :value 3, :process 4, :time 30571695398, :index 2713}
{:type :invoke, :f :cas, :value [3 3], :process 3, :time 30584118057, :index 2714}
{:type :ok, :f :cas, :value [3 3], :process 3, :time 30589921447, :index 2715}
{:type :invoke, :f :read, :value nil, :process 0, :time 30615558646, :index 2716}
{:type :ok, :f :read, :value 3, :process 0, :time 30617748426, :index 2717}
{:type :invoke, :f :write, :value 1, :process 0, :time 30681151325, :index 2718}
{:type :invoke, :f :read, :value nil, :process 2, :time 30684607345, :index 2719}
{:type :ok, :f :read, :value 3, :process 2, :time 30686253575, :index 2720}
{:type :ok, :f :write, :value 1, :process 0, :time 30691033445, :index 2721}
{:type :invoke, :f :read, :value nil, :process 6, :time 30698108845, :index 2722}
{:type :invoke, :f :write, :value 2, :process 4, :time 30699036325, :index 2723}
{:type :ok, :f :read, :value 1, :process 6, :time 30699732045, :index 2724}
{:type :ok, :f :write, :value 2, :process 4, :time 30703621945, :index 2725}
{:type :invoke, :f :write, :value 0, :process 4, :time 30723040415, :index 2726}
{:type :ok, :f :write, :value 0, :process 4, :time 30728028215, :index 2727}
{:type :invoke, :f :write, :value 2, :process 6, :time 30763004224, :index 2728}
{:type :ok, :f :write, :value 2, :process 6, :time 30769091323, :index 2729}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 30782367323, :index 2730}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 30786783653, :index 2731}
{:type :invoke, :f :write, :value 2, :process 3, :time 30797096643, :index 2732}
{:type :ok, :f :write, :value 2, :process 3, :time 30801562013, :index 2733}
{:type :invoke, :f :read, :value nil, :process 0, :time 30815311853, :index 2734}
{:type :ok, :f :read, :value 2, :process 0, :time 30817300173, :index 2735}
{:type :invoke, :f :cas, :value [0 2], :process 2, :time 30826587862, :index 2736}
{:type :fail, :f :cas, :value [0 2], :process 2, :time 30832383532, :index 2737}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 30843692892, :index 2738}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 30848536642, :index 2739}
{:type :invoke, :f :write, :value 3, :process 3, :time 30860831212, :index 2740}
{:type :invoke, :f :write, :value 0, :process 6, :time 30864449352, :index 2741}
{:type :ok, :f :write, :value 3, :process 3, :time 30867129721, :index 2742}
{:type :ok, :f :write, :value 0, :process 6, :time 30868060941, :index 2743}
{:type :invoke, :f :write, :value 0, :process 3, :time 30877377772, :index 2744}
{:type :ok, :f :write, :value 0, :process 3, :time 30882136712, :index 2745}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 30918609681, :index 2746}
{:type :invoke, :f :read, :value nil, :process 4, :time 30921282960, :index 2747}
{:type :ok, :f :read, :value 0, :process 4, :time 30922770151, :index 2748}
{:type :ok, :f :cas, :value [0 0], :process 0, :time 30925055670, :index 2749}
{:type :invoke, :f :read, :value nil, :process 4, :time 30978148390, :index 2750}
{:type :ok, :f :read, :value 0, :process 4, :time 30980084179, :index 2751}
{:type :invoke, :f :write, :value 0, :process 4, :time 31004359879, :index 2752}
{:type :invoke, :f :write, :value 2, :process 0, :time 31005284209, :index 2753}
{:type :invoke, :f :cas, :value [1 2], :process 2, :time 31007820419, :index 2754}
{:type :ok, :f :write, :value 0, :process 4, :time 31012619989, :index 2755}
{:type :ok, :f :write, :value 2, :process 0, :time 31014195189, :index 2756}
{:type :fail, :f :cas, :value [1 2], :process 2, :time 31014212669, :index 2757}
{:type :invoke, :f :write, :value 2, :process 4, :time 31027884028, :index 2758}
{:type :ok, :f :write, :value 2, :process 4, :time 31033446778, :index 2759}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 31039354368, :index 2760}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 31043470988, :index 2761}
{:type :invoke, :f :write, :value 1, :process 3, :time 31045461598, :index 2762}
{:type :ok, :f :write, :value 1, :process 3, :time 31049075138, :index 2763}
{:type :invoke, :f :read, :value nil, :process 6, :time 31099743107, :index 2764}
{:type :ok, :f :read, :value 1, :process 6, :time 31101326497, :index 2765}
{:type :invoke, :f :read, :value nil, :process 2, :time 31136521726, :index 2766}
{:type :invoke, :f :write, :value 3, :process 6, :time 31136559786, :index 2767}
{:type :invoke, :f :read, :value nil, :process 3, :time 31138338166, :index 2768}
{:type :ok, :f :read, :value 1, :process 2, :time 31138923506, :index 2769}
{:type :ok, :f :read, :value 1, :process 3, :time 31141144566, :index 2770}
{:type :ok, :f :write, :value 3, :process 6, :time 31151465116, :index 2771}
{:type :invoke, :f :read, :value nil, :process 4, :time 31161689566, :index 2772}
{:type :ok, :f :read, :value 3, :process 4, :time 31163550516, :index 2773}
{:type :invoke, :f :read, :value nil, :process 0, :time 31202392955, :index 2774}
{:type :ok, :f :read, :value 3, :process 0, :time 31204050935, :index 2775}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 31205357125, :index 2776}
{:type :ok, :f :cas, :value [3 1], :process 0, :time 31213755105, :index 2777}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 31225718574, :index 2778}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 31230352174, :index 2779}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 31264786264, :index 2781}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 31270959324, :index 2782}
{:type :invoke, :f :read, :value nil, :process 0, :time 31280072574, :index 2783}
{:type :ok, :f :read, :value 1, :process 0, :time 31281675253, :index 2784}
{:type :invoke, :f :write, :value 4, :process 2, :time 31328230842, :index 2785}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 31331402822, :index 2786}
{:type :ok, :f :write, :value 4, :process 2, :time 31336426632, :index 2787}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 31338206912, :index 2788}
{:type :invoke, :f :read, :value nil, :process 6, :time 31351683742, :index 2789}
{:type :ok, :f :read, :value 4, :process 6, :time 31353575222, :index 2790}
{:type :invoke, :f :read, :value nil, :process 2, :time 31361725342, :index 2791}
{:type :ok, :f :read, :value 4, :process 2, :time 31363293951, :index 2792}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 31401448101, :index 2793}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 31410194111, :index 2794}
{:type :invoke, :f :read, :value nil, :process 4, :time 31420218481, :index 2795}
{:type :ok, :f :read, :value 4, :process 4, :time 31421875550, :index 2796}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :invoke, :f :write, :value 4, :process 0, :time 31459970740, :index 2798}
{:type :invoke, :f :write, :value 0, :process 6, :time 31461870010, :index 2799}
{:type :ok, :f :write, :value 4, :process 0, :time 31464379170, :index 2800}
{:type :ok, :f :write, :value 0, :process 6, :time 31465339490, :index 2801}
{:type :invoke, :f :read, :value nil, :process 4, :time 31513242479, :index 2802}
{:type :ok, :f :read, :value 0, :process 4, :time 31515063629, :index 2803}
{:type :invoke, :f :read, :value nil, :process 3, :time 31520476369, :index 2805}
{:type :ok, :f :read, :value 0, :process 3, :time 31521805099, :index 2807}
{:type :invoke, :f :write, :value 1, :process 6, :time 31542569478, :index 2808}
{:type :ok, :f :write, :value 1, :process 6, :time 31549867998, :index 2809}
{:type :invoke, :f :write, :value 3, :process 2, :time 31556611238, :index 2810}
{:type :ok, :f :write, :value 3, :process 2, :time 31561462938, :index 2813}
{:type :invoke, :f :write, :value 2, :process 0, :time 31626650227, :index 2816}
{:type :ok, :f :write, :value 2, :process 0, :time 31631154826, :index 2817}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
