{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :invoke, :f :cas, :value [3 0], :process 6, :time 46296488048, :index 4214}
{:type :fail, :f :cas, :value [3 0], :process 6, :time 46299814367, :index 4215}
{:type :invoke, :f :read, :value nil, :process 2, :time 46315670107, :index 4218}
{:type :ok, :f :read, :value 0, :process 2, :time 46317141517, :index 4219}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 46317089837, :index 4220}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 46320249767, :index 4221}
{:type :invoke, :f :read, :value nil, :process 4, :time 46337323656, :index 4222}
{:type :ok, :f :read, :value 0, :process 4, :time 46338452316, :index 4223}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 46351939807, :index 4224}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 46354828946, :index 4225}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 46354990946, :index 4226}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 46357913776, :index 4227}
{:type :invoke, :f :write, :value 0, :process 6, :time 46363474446, :index 4228}
{:type :ok, :f :write, :value 0, :process 6, :time 46366476476, :index 4229}
{:type :invoke, :f :write, :value 2, :process 6, :time 46378653575, :index 4230}
{:type :ok, :f :write, :value 2, :process 6, :time 46381480666, :index 4231}
{:type :invoke, :f :read, :value nil, :process 4, :time 46443647555, :index 4232}
{:type :invoke, :f :write, :value 4, :process 0, :time 46444099135, :index 4233}
{:type :ok, :f :read, :value 2, :process 4, :time 46445107355, :index 4234}
{:type :invoke, :f :read, :value nil, :process 2, :time 46445489365, :index 4235}
{:type :ok, :f :read, :value 2, :process 2, :time 46446913885, :index 4236}
{:type :ok, :f :write, :value 4, :process 0, :time 46447788394, :index 4237}
{:type :invoke, :f :read, :value nil, :process 6, :time 46460668684, :index 4238}
{:type :ok, :f :read, :value 4, :process 6, :time 46461790864, :index 4239}
{:type :invoke, :f :read, :value nil, :process 3, :time 46491867573, :index 4240}
{:type :ok, :f :read, :value 4, :process 3, :time 46493109573, :index 4241}
{:type :invoke, :f :write, :value 3, :process 4, :time 46537384503, :index 4242}
{:type :ok, :f :write, :value 3, :process 4, :time 46540980623, :index 4243}
{:type :invoke, :f :read, :value nil, :process 2, :time 46594116451, :index 4244}
{:type :ok, :f :read, :value 3, :process 2, :time 46595660191, :index 4245}
{:type :invoke, :f :cas, :value [0 2], :process 3, :time 46597327011, :index 4246}
{:type :fail, :f :cas, :value [0 2], :process 3, :time 46600701971, :index 4247}
{:type :invoke, :f :write, :value 1, :process 0, :time 46624995401, :index 4248}
{:type :ok, :f :write, :value 1, :process 0, :time 46628428931, :index 4249}
{:type :invoke, :f :write, :value 4, :process 6, :time 46645029101, :index 4250}
{:type :ok, :f :write, :value 4, :process 6, :time 46648602290, :index 4251}
{:type :invoke, :f :cas, :value [3 4], :process 2, :time 46694905710, :index 4252}
{:type :fail, :f :cas, :value [3 4], :process 2, :time 46698756989, :index 4253}
{:type :invoke, :f :write, :value 2, :process 3, :time 46698921849, :index 4254}
{:type :ok, :f :write, :value 2, :process 3, :time 46702036189, :index 4255}
{:type :invoke, :f :write, :value 3, :process 4, :time 46727275689, :index 4256}
{:type :ok, :f :write, :value 3, :process 4, :time 46730962919, :index 4257}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :invoke, :f :write, :value 2, :process 0, :time 46784697188, :index 4259}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 46785279128, :index 4260}
{:type :ok, :f :write, :value 2, :process 0, :time 46788466958, :index 4261}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 46788945488, :index 4262}
{:type :invoke, :f :write, :value 3, :process 6, :time 46804883887, :index 4263}
{:type :ok, :f :write, :value 3, :process 6, :time 46807570737, :index 4264}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 46819763867, :index 4265}
{:type :ok, :f :cas, :value [3 3], :process 6, :time 46823486867, :index 4266}
{:type :invoke, :f :cas, :value [4 3], :process 2, :time 46826065947, :index 4267}
{:type :fail, :f :cas, :value [4 3], :process 2, :time 46829039987, :index 4268}
{:type :invoke, :f :write, :value 3, :process 6, :time 46833680057, :index 4269}
{:type :ok, :f :write, :value 3, :process 6, :time 46836375917, :index 4270}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 46868201236, :index 4272}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 46871484036, :index 4273}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 46906787256, :index 4274}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 46909856655, :index 4275}
{:type :invoke, :f :read, :value nil, :process 4, :time 46926702215, :index 4276}
{:type :ok, :f :read, :value 3, :process 4, :time 46928011515, :index 4277}
{:type :invoke, :f :write, :value 1, :process 2, :time 46938237165, :index 4278}
{:type :ok, :f :write, :value 1, :process 2, :time 46941063675, :index 4279}
{:type :invoke, :f :write, :value 4, :process 3, :time 46956118374, :index 4280}
{:type :ok, :f :write, :value 4, :process 3, :time 46958933804, :index 4281}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 46978584714, :index 4282}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 46981291184, :index 4283}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 46983138434, :index 4284}
{:type :fail, :f :cas, :value [1 2], :process 3, :time 46985644344, :index 4285}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 46991823473, :index 4286}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 46994332553, :index 4287}
{:type :invoke, :f :write, :value 4, :process 0, :time 47018123843, :index 4288}
{:type :ok, :f :write, :value 4, :process 0, :time 47020891383, :index 4289}
{:type :invoke, :f :read, :value nil, :process 6, :time 47024465673, :index 4290}
{:type :ok, :f :read, :value 4, :process 6, :time 47025712943, :index 4291}
{:type :invoke, :f :read, :value nil, :process 3, :time 47029517743, :index 4292}
{:type :ok, :f :read, :value 4, :process 3, :time 47030562813, :index 4293}
{:type :invoke, :f :write, :value 0, :process 4, :time 47063200612, :index 4294}
{:type :ok, :f :write, :value 0, :process 4, :time 47066067542, :index 4295}
{:type :invoke, :f :read, :value nil, :process 4, :time 47117265771, :index 4296}
{:type :ok, :f :read, :value 0, :process 4, :time 47118571831, :index 4297}
{:type :invoke, :f :write, :value 3, :process 2, :time 47139293071, :index 4298}
{:type :ok, :f :write, :value 3, :process 2, :time 47142208391, :index 4299}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 47154766851, :index 4300}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 47157564171, :index 4301}
{:type :invoke, :f :write, :value 3, :process 3, :time 47166750770, :index 4302}
{:type :ok, :f :write, :value 3, :process 3, :time 47169412840, :index 4303}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 47169904390, :index 4304}
{:type :ok, :f :cas, :value [3 2], :process 6, :time 47172318830, :index 4305}
{:type :invoke, :f :write, :value 4, :process 0, :time 47194095060, :index 4306}
{:type :ok, :f :write, :value 4, :process 0, :time 47196878959, :index 4307}
{:type :invoke, :f :read, :value nil, :process 4, :time 47198763490, :index 4308}
{:type :ok, :f :read, :value 4, :process 4, :time 47199764379, :index 4309}
{:type :invoke, :f :write, :value 3, :process 0, :time 47226067299, :index 4310}
{:type :ok, :f :write, :value 3, :process 0, :time 47229077089, :index 4311}
{:type :invoke, :f :read, :value nil, :process 2, :time 47237401218, :index 4312}
{:type :ok, :f :read, :value 3, :process 2, :time 47238369058, :index 4313}
{:type :invoke, :f :write, :value 1, :process 6, :time 47249503279, :index 4314}
{:type :ok, :f :write, :value 1, :process 6, :time 47252016918, :index 4315}
{:type :invoke, :f :read, :value nil, :process 3, :time 47264584918, :index 4316}
{:type :ok, :f :read, :value 1, :process 3, :time 47265518378, :index 4317}
{:type :invoke, :f :write, :value 0, :process 3, :time 47266685358, :index 4318}
{:type :ok, :f :write, :value 0, :process 3, :time 47269580218, :index 4319}
{:type :invoke, :f :write, :value 0, :process 3, :time 47278751008, :index 4320}
{:type :ok, :f :write, :value 0, :process 3, :time 47281466418, :index 4321}
{:type :invoke, :f :cas, :value [0 4], :process 2, :time 47297560997, :index 4322}
{:type :ok, :f :cas, :value [0 4], :process 2, :time 47300995737, :index 4323}
{:type :invoke, :f :write, :value 0, :process 4, :time 47318938247, :index 4324}
{:type :ok, :f :write, :value 0, :process 4, :time 47322153837, :index 4325}
{:type :invoke, :f :read, :value nil, :process 2, :time 47324237827, :index 4326}
{:type :ok, :f :read, :value 0, :process 2, :time 47325255367, :index 4327}
{:type :invoke, :f :read, :value nil, :process 6, :time 47350224236, :index 4328}
{:type :ok, :f :read, :value 0, :process 6, :time 47351766007, :index 4329}
{:type :invoke, :f :read, :value nil, :process 4, :time 47357351596, :index 4330}
{:type :ok, :f :read, :value 0, :process 4, :time 47358464516, :index 4331}
{:type :invoke, :f :write, :value 3, :process 0, :time 47372272636, :index 4332}
{:type :ok, :f :write, :value 3, :process 0, :time 47375603216, :index 4333}
{:type :invoke, :f :write, :value 0, :process 3, :time 47421667315, :index 4334}
{:type :ok, :f :write, :value 0, :process 3, :time 47425053445, :index 4335}
{:type :invoke, :f :read, :value nil, :process 2, :time 47452447354, :index 4336}
{:type :ok, :f :read, :value 0, :process 2, :time 47453878694, :index 4337}
{:type :invoke, :f :write, :value 1, :process 4, :time 47502683653, :index 4338}
{:type :ok, :f :write, :value 1, :process 4, :time 47506383563, :index 4339}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 47544966952, :index 4340}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 47548268843, :index 4341}
{:type :invoke, :f :read, :value nil, :process 0, :time 47565845452, :index 4342}
{:type :ok, :f :read, :value 1, :process 0, :time 47567079022, :index 4343}
{:type :invoke, :f :write, :value 0, :process 4, :time 47587627612, :index 4344}
{:type :ok, :f :write, :value 0, :process 4, :time 47590914532, :index 4345}
{:type :invoke, :f :write, :value 0, :process 3, :time 47597314052, :index 4346}
{:type :ok, :f :write, :value 0, :process 3, :time 47600206291, :index 4347}
{:type :invoke, :f :write, :value 0, :process 2, :time 47650126161, :index 4348}
{:type :ok, :f :write, :value 0, :process 2, :time 47654222970, :index 4349}
{:type :invoke, :f :write, :value 1, :process 3, :time 47658428550, :index 4350}
{:type :ok, :f :write, :value 1, :process 3, :time 47661407560, :index 4351}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 47681318230, :index 4352}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 47684510810, :index 4353}
{:type :invoke, :f :read, :value nil, :process 4, :time 47696154100, :index 4354}
{:type :ok, :f :read, :value 1, :process 4, :time 47697381089, :index 4355}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 47709651609, :index 4356}
{:type :ok, :f :cas, :value [1 2], :process 3, :time 47712806149, :index 4357}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 47734066559, :index 4358}
{:type :fail, :f :cas, :value [3 1], :process 3, :time 47737513329, :index 4359}
{:type :invoke, :f :cas, :value [3 0], :process 2, :time 47737519419, :index 4360}
{:type :invoke, :f :cas, :value [2 1], :process 6, :time 47738577409, :index 4361}
{:type :fail, :f :cas, :value [3 0], :process 2, :time 47740764459, :index 4362}
{:type :ok, :f :cas, :value [2 1], :process 6, :time 47741839379, :index 4363}
{:type :invoke, :f :write, :value 3, :process 4, :time 47801634878, :index 4364}
{:type :ok, :f :write, :value 3, :process 4, :time 47805403788, :index 4365}
{:type :invoke, :f :read, :value nil, :process 0, :time 47859730577, :index 4366}
{:type :ok, :f :read, :value 3, :process 0, :time 47861174197, :index 4367}
{:type :invoke, :f :write, :value 2, :process 6, :time 47865076177, :index 4368}
{:type :ok, :f :write, :value 2, :process 6, :time 47867861086, :index 4369}
{:type :invoke, :f :read, :value nil, :process 2, :time 47917957756, :index 4370}
{:type :ok, :f :read, :value 2, :process 2, :time 47919389165, :index 4371}
{:type :invoke, :f :read, :value nil, :process 3, :time 47922781265, :index 4372}
{:type :ok, :f :read, :value 2, :process 3, :time 47923984555, :index 4373}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 47964094435, :index 4374}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 47967557384, :index 4375}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 47974176914, :index 4376}
{:type :fail, :f :cas, :value [4 4], :process 3, :time 47976951894, :index 4377}
{:type :invoke, :f :write, :value 4, :process 2, :time 47992635444, :index 4378}
{:type :ok, :f :write, :value 4, :process 2, :time 47995891444, :index 4379}
{:type :invoke, :f :write, :value 0, :process 4, :time 48001652714, :index 4380}
{:type :ok, :f :write, :value 0, :process 4, :time 48004552974, :index 4381}
{:type :invoke, :f :write, :value 2, :process 0, :time 48019443363, :index 4382}
{:type :ok, :f :write, :value 2, :process 0, :time 48022292133, :index 4383}
{:type :invoke, :f :read, :value nil, :process 6, :time 48079833702, :index 4384}
{:type :ok, :f :read, :value 2, :process 6, :time 48081346412, :index 4385}
{:type :invoke, :f :read, :value nil, :process 3, :time 48081193412, :index 4386}
{:type :ok, :f :read, :value 2, :process 3, :time 48082462122, :index 4387}
{:type :invoke, :f :cas, :value [3 0], :process 2, :time 48161169881, :index 4388}
{:type :fail, :f :cas, :value [3 0], :process 2, :time 48165088551, :index 4389}
{:type :invoke, :f :cas, :value [2 2], :process 4, :time 48168768140, :index 4390}
{:type :ok, :f :cas, :value [2 2], :process 4, :time 48172163820, :index 4391}
{:type :invoke, :f :write, :value 4, :process 6, :time 48186566780, :index 4392}
{:type :ok, :f :write, :value 4, :process 6, :time 48190318870, :index 4393}
{:type :invoke, :f :write, :value 3, :process 0, :time 48206516640, :index 4394}
{:type :ok, :f :write, :value 3, :process 0, :time 48210601999, :index 4395}
{:type :invoke, :f :write, :value 1, :process 4, :time 48219409259, :index 4396}
{:type :ok, :f :write, :value 1, :process 4, :time 48222712129, :index 4397}
{:type :invoke, :f :write, :value 3, :process 0, :time 48222871899, :index 4398}
{:type :ok, :f :write, :value 3, :process 0, :time 48226041189, :index 4399}
{:type :invoke, :f :cas, :value [2 1], :process 2, :time 48253392059, :index 4400}
{:type :fail, :f :cas, :value [2 1], :process 2, :time 48257526899, :index 4401}
{:type :invoke, :f :read, :value nil, :process 3, :time 48279724568, :index 4402}
{:type :ok, :f :read, :value 3, :process 3, :time 48281260068, :index 4403}
{:type :invoke, :f :write, :value 4, :process 3, :time 48302527878, :index 4404}
{:type :ok, :f :write, :value 4, :process 3, :time 48306290208, :index 4405}
{:type :invoke, :f :write, :value 4, :process 6, :time 48339553147, :index 4406}
{:type :ok, :f :write, :value 4, :process 6, :time 48343042717, :index 4407}
{:type :invoke, :f :write, :value 3, :process 2, :time 48343860107, :index 4408}
{:type :ok, :f :write, :value 3, :process 2, :time 48346644677, :index 4409}
{:type :invoke, :f :read, :value nil, :process 4, :time 48380991016, :index 4410}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 48382257436, :index 4411}
{:type :ok, :f :read, :value 3, :process 4, :time 48382508636, :index 4412}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 48385494336, :index 4413}
{:type :invoke, :f :read, :value nil, :process 6, :time 48437280855, :index 4414}
{:type :ok, :f :read, :value 3, :process 6, :time 48438755665, :index 4415}
{:type :invoke, :f :read, :value nil, :process 3, :time 48481533474, :index 4416}
{:type :ok, :f :read, :value 3, :process 3, :time 48482966884, :index 4417}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
