{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :invoke, :f :read, :value nil, :process 3, :time 50453177295, :index 4614}
{:type :fail, :f :read, :value nil, :process 3, :time 50454859965, :error "Remoting error:null", :index 4615}
{:type :invoke, :f :read, :value nil, :process 6, :time 50477544355, :index 4618}
{:type :fail, :f :read, :value nil, :process 6, :time 50479120585, :error "Remoting error:null", :index 4619}
{:type :invoke, :f :write, :value 1, :process 4, :time 50502133014, :index 4621}
{:type :ok, :f :write, :value 1, :process 4, :time 50504921674, :index 4623}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 50532317264, :index 4624}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 50535146034, :index 4625}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 50551127673, :index 4626}
{:type :ok, :f :cas, :value [1 4], :process 3, :time 50554121783, :index 4627}
{:type :invoke, :f :read, :value nil, :process 2, :time 50579203403, :index 4628}
{:type :ok, :f :read, :value 4, :process 2, :time 50580542053, :index 4629}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 50600354252, :index 4630}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 50603861942, :index 4631}
{:type :invoke, :f :read, :value nil, :process 3, :time 50620358792, :index 4632}
{:type :ok, :f :read, :value 4, :process 3, :time 50621645712, :index 4633}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 50635883862, :index 4634}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 50639020842, :index 4635}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 50656105751, :index 4636}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 50659186571, :index 4637}
{:type :invoke, :f :read, :value nil, :process 0, :time 50660799181, :index 4638}
{:type :ok, :f :read, :value 4, :process 0, :time 50661758821, :index 4639}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 50684093641, :index 4640}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 50686667361, :index 4641}
{:type :invoke, :f :write, :value 4, :process 0, :time 50705926370, :index 4642}
{:type :ok, :f :write, :value 4, :process 0, :time 50708490710, :index 4643}
{:type :invoke, :f :read, :value nil, :process 3, :time 50711293970, :index 4644}
{:type :ok, :f :read, :value 4, :process 3, :time 50712245481, :index 4645}
{:type :invoke, :f :read, :value nil, :process 6, :time 50728393290, :index 4646}
{:type :ok, :f :read, :value 4, :process 6, :time 50729501030, :index 4647}
{:type :invoke, :f :read, :value nil, :process 2, :time 50743743360, :index 4648}
{:type :ok, :f :read, :value 4, :process 2, :time 50744893430, :index 4649}
{:type :invoke, :f :write, :value 4, :process 0, :time 50774685619, :index 4650}
{:type :ok, :f :write, :value 4, :process 0, :time 50778139989, :index 4651}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 50782917549, :index 4652}
{:type :invoke, :f :cas, :value [2 4], :process 2, :time 50783101329, :index 4653}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 50786295549, :index 4654}
{:type :fail, :f :cas, :value [2 4], :process 2, :time 50786319889, :index 4655}
{:type :invoke, :f :write, :value 4, :process 2, :time 50840532508, :index 4656}
{:type :ok, :f :write, :value 4, :process 2, :time 50843853598, :index 4657}
{:type :invoke, :f :read, :value nil, :process 6, :time 50863699277, :index 4658}
{:type :ok, :f :read, :value 4, :process 6, :time 50865207957, :index 4659}
{:type :invoke, :f :write, :value 4, :process 4, :time 50893526177, :index 4660}
{:type :invoke, :f :read, :value nil, :process 3, :time 50896471997, :index 4661}
{:type :ok, :f :write, :value 4, :process 4, :time 50896965667, :index 4662}
{:type :ok, :f :read, :value 4, :process 3, :time 50897663647, :index 4663}
{:type :invoke, :f :read, :value nil, :process 2, :time 50908110957, :index 4664}
{:type :ok, :f :read, :value 4, :process 2, :time 50909356066, :index 4665}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 50962403556, :index 4666}
{:type :fail, :f :cas, :value [1 4], :process 0, :time 50965843595, :index 4667}
{:type :invoke, :f :write, :value 1, :process 6, :time 50996393895, :index 4668}
{:type :ok, :f :write, :value 1, :process 6, :time 50999880225, :index 4669}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 51005094664, :index 4670}
{:type :ok, :f :cas, :value [1 4], :process 0, :time 51008217684, :index 4671}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 51010874464, :index 4672}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 51013728144, :index 4673}
{:type :invoke, :f :write, :value 4, :process 4, :time 51059209174, :index 4674}
{:type :ok, :f :write, :value 4, :process 4, :time 51062451423, :index 4675}
{:type :invoke, :f :read, :value nil, :process 2, :time 51082549123, :index 4676}
{:type :invoke, :f :write, :value 3, :process 6, :time 51083133593, :index 4677}
{:type :ok, :f :read, :value 4, :process 2, :time 51084130153, :index 4678}
{:type :ok, :f :write, :value 3, :process 6, :time 51086444403, :index 4679}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 51093950313, :index 4680}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 51096727253, :index 4681}
{:type :invoke, :f :read, :value nil, :process 0, :time 51120485552, :index 4682}
{:type :ok, :f :read, :value 3, :process 0, :time 51121935432, :index 4683}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 51125936822, :index 4684}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 51129016542, :index 4685}
{:type :invoke, :f :write, :value 2, :process 6, :time 51137663142, :index 4686}
{:type :ok, :f :write, :value 2, :process 6, :time 51140490252, :index 4687}
{:type :invoke, :f :write, :value 4, :process 6, :time 51189732791, :index 4688}
{:type :ok, :f :write, :value 4, :process 6, :time 51193152401, :index 4689}
{:type :invoke, :f :write, :value 3, :process 4, :time 51212696071, :index 4690}
{:type :ok, :f :write, :value 3, :process 4, :time 51215660840, :index 4691}
{:type :invoke, :f :read, :value nil, :process 4, :time 51215841550, :index 4692}
{:type :ok, :f :read, :value 3, :process 4, :time 51216914370, :index 4693}
{:type :invoke, :f :write, :value 0, :process 2, :time 51259461009, :index 4694}
{:type :ok, :f :write, :value 0, :process 2, :time 51262732190, :index 4695}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 51304098219, :index 4696}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 51307479049, :index 4697}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 51310150489, :index 4698}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 51313075018, :index 4699}
{:type :invoke, :f :read, :value nil, :process 3, :time 51316239888, :index 4700}
{:type :ok, :f :read, :value 0, :process 3, :time 51317558388, :index 4701}
{:type :invoke, :f :write, :value 1, :process 6, :time 51320421888, :index 4702}
{:type :ok, :f :write, :value 1, :process 6, :time 51323192608, :index 4703}
{:type :invoke, :f :write, :value 0, :process 2, :time 51416063796, :index 4704}
{:type :ok, :f :write, :value 0, :process 2, :time 51419262776, :index 4705}
{:type :invoke, :f :read, :value nil, :process 4, :time 51428668236, :index 4706}
{:type :ok, :f :read, :value 0, :process 4, :time 51429803426, :index 4707}
{:type :invoke, :f :read, :value nil, :process 2, :time 51456444676, :index 4708}
{:type :ok, :f :read, :value 0, :process 2, :time 51457642696, :index 4709}
{:type :invoke, :f :write, :value 1, :process 0, :time 51471240405, :index 4710}
{:type :ok, :f :write, :value 1, :process 0, :time 51474394285, :index 4711}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 51485787255, :index 4712}
{:type :invoke, :f :write, :value 1, :process 6, :time 51487447505, :index 4713}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 51489021235, :index 4714}
{:type :ok, :f :write, :value 1, :process 6, :time 51490184735, :index 4715}
{:type :invoke, :f :write, :value 0, :process 2, :time 51503805034, :index 4716}
{:type :ok, :f :write, :value 0, :process 2, :time 51506461604, :index 4717}
{:type :invoke, :f :write, :value 3, :process 2, :time 51508620954, :index 4718}
{:type :ok, :f :write, :value 3, :process 2, :time 51511069675, :index 4719}
{:type :invoke, :f :cas, :value [1 4], :process 2, :time 51517256214, :index 4720}
{:type :fail, :f :cas, :value [1 4], :process 2, :time 51519772305, :index 4721}
{:type :invoke, :f :cas, :value [3 0], :process 2, :time 51542957804, :index 4722}
{:type :ok, :f :cas, :value [3 0], :process 2, :time 51546176224, :index 4723}
{:type :invoke, :f :read, :value nil, :process 3, :time 51553242944, :index 4724}
{:type :ok, :f :read, :value 0, :process 3, :time 51554415754, :index 4725}
{:type :invoke, :f :write, :value 0, :process 0, :time 51581632023, :index 4726}
{:type :ok, :f :write, :value 0, :process 0, :time 51584720763, :index 4727}
{:type :invoke, :f :read, :value nil, :process 4, :time 51601107493, :index 4728}
{:type :ok, :f :read, :value 0, :process 4, :time 51602591943, :index 4729}
{:type :invoke, :f :read, :value nil, :process 0, :time 51603945743, :index 4730}
{:type :ok, :f :read, :value 0, :process 0, :time 51605026433, :index 4731}
{:type :invoke, :f :read, :value nil, :process 6, :time 51635375162, :index 4732}
{:type :ok, :f :read, :value 0, :process 6, :time 51636516502, :index 4733}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 51699767851, :index 4734}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 51703367071, :index 4735}
{:type :invoke, :f :read, :value nil, :process 2, :time 51708487051, :index 4736}
{:type :ok, :f :read, :value 0, :process 2, :time 51710056630, :index 4737}
{:type :invoke, :f :read, :value nil, :process 3, :time 51716615360, :index 4738}
{:type :ok, :f :read, :value 0, :process 3, :time 51717901330, :index 4739}
{:type :invoke, :f :write, :value 2, :process 6, :time 51731656580, :index 4740}
{:type :ok, :f :write, :value 2, :process 6, :time 51734955980, :index 4741}
{:type :invoke, :f :write, :value 4, :process 2, :time 51753322880, :index 4742}
{:type :ok, :f :write, :value 4, :process 2, :time 51756556810, :index 4743}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 51775861939, :index 4744}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 51779444629, :index 4745}
{:type :invoke, :f :read, :value nil, :process 2, :time 51779775169, :index 4746}
{:type :ok, :f :read, :value 4, :process 2, :time 51781060459, :index 4747}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 51785278879, :index 4748}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 51788410149, :index 4749}
{:type :invoke, :f :read, :value nil, :process 3, :time 51824144839, :index 4750}
{:type :ok, :f :read, :value 4, :process 3, :time 51825699208, :index 4751}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :invoke, :f :read, :value nil, :process 6, :time 51878181158, :index 4753}
{:type :ok, :f :read, :value 4, :process 6, :time 51879791407, :index 4754}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 51895642207, :index 4755}
{:type :invoke, :f :write, :value 1, :process 4, :time 51895744657, :index 4756}
{:type :ok, :f :write, :value 1, :process 4, :time 51898931907, :index 4757}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 51898911817, :index 4758}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 51917936917, :index 4759}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 51920985097, :index 4760}
{:type :invoke, :f :write, :value 0, :process 2, :time 51946277476, :index 4761}
{:type :ok, :f :write, :value 0, :process 2, :time 51949384956, :index 4762}
{:type :invoke, :f :write, :value 3, :process 0, :time 51971239326, :index 4763}
{:type :ok, :f :write, :value 3, :process 0, :time 51974531496, :index 4764}
{:type :invoke, :f :cas, :value [2 4], :process 6, :time 51982987115, :index 4765}
{:type :fail, :f :cas, :value [2 4], :process 6, :time 51986229755, :index 4766}
{:type :invoke, :f :cas, :value [4 0], :process 2, :time 52016649444, :index 4767}
{:type :fail, :f :cas, :value [4 0], :process 2, :time 52020098604, :index 4768}
{:type :invoke, :f :read, :value nil, :process 6, :time 52021481694, :index 4769}
{:type :ok, :f :read, :value 3, :process 6, :time 52022953884, :index 4770}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 52037187884, :index 4771}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 52040114334, :index 4772}
{:type :invoke, :f :write, :value 0, :process 2, :time 52043325784, :index 4773}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 52044179214, :index 4774}
{:type :ok, :f :write, :value 0, :process 2, :time 52046784224, :index 4775}
{:type :ok, :f :cas, :value [0 0], :process 4, :time 52049389734, :index 4776}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 52071193434, :index 4778}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 52074162934, :index 4779}
{:type :invoke, :f :write, :value 2, :process 0, :time 52076762653, :index 4780}
{:type :ok, :f :write, :value 2, :process 0, :time 52079867153, :index 4781}
{:type :invoke, :f :cas, :value [1 0], :process 2, :time 52080026413, :index 4782}
{:type :fail, :f :cas, :value [1 0], :process 2, :time 52082595743, :index 4783}
{:type :invoke, :f :read, :value nil, :process 6, :time 52092379243, :index 4784}
{:type :ok, :f :read, :value 2, :process 6, :time 52093593903, :index 4785}
{:type :invoke, :f :write, :value 3, :process 0, :time 52109125233, :index 4786}
{:type :ok, :f :write, :value 3, :process 0, :time 52112258082, :index 4787}
{:type :invoke, :f :read, :value nil, :process 4, :time 52138635152, :index 4788}
{:type :ok, :f :read, :value 3, :process 4, :time 52140058822, :index 4789}
{:type :invoke, :f :write, :value 3, :process 6, :time 52160807542, :index 4790}
{:type :ok, :f :write, :value 3, :process 6, :time 52164260272, :index 4791}
{:type :invoke, :f :write, :value 3, :process 4, :time 52172255481, :index 4792}
{:type :ok, :f :write, :value 3, :process 4, :time 52175040941, :index 4793}
{:type :invoke, :f :read, :value nil, :process 3, :time 52237351950, :index 4794}
{:type :ok, :f :read, :value 3, :process 3, :time 52238930340, :index 4795}
{:type :invoke, :f :cas, :value [0 2], :process 2, :time 52247787510, :index 4796}
{:type :fail, :f :cas, :value [0 2], :process 2, :time 52251056540, :index 4797}
{:type :invoke, :f :read, :value nil, :process 0, :time 52255455410, :index 4798}
{:type :ok, :f :read, :value 3, :process 0, :time 52256729150, :index 4799}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 52274919709, :index 4800}
{:type :invoke, :f :write, :value 4, :process 6, :time 52276501089, :index 4801}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 52278246490, :index 4802}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 52278382119, :index 4803}
{:type :ok, :f :write, :value 4, :process 6, :time 52279261439, :index 4804}
{:type :ok, :f :cas, :value [4 4], :process 0, :time 52281006530, :index 4805}
{:type :invoke, :f :read, :value nil, :process 0, :time 52336222438, :index 4806}
{:type :ok, :f :read, :value 4, :process 0, :time 52337696928, :index 4807}
{:type :invoke, :f :write, :value 2, :process 6, :time 52345464078, :index 4808}
{:type :ok, :f :write, :value 2, :process 6, :time 52348590698, :index 4809}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 52367278657, :index 4810}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 52370920718, :index 4811}
{:type :invoke, :f :read, :value nil, :process 0, :time 52383932757, :index 4812}
{:type :ok, :f :read, :value 2, :process 0, :time 52385290337, :index 4813}
{:type :invoke, :f :read, :value nil, :process 6, :time 52420832847, :index 4814}
{:type :ok, :f :read, :value 2, :process 6, :time 52422317026, :index 4815}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 52426244226, :index 4816}
{:type :ok, :f :cas, :value [2 1], :process 3, :time 52429493856, :index 4817}
{:type :invoke, :f :write, :value 1, :process 2, :time 52442279866, :index 4818}
{:type :ok, :f :write, :value 1, :process 2, :time 52445545626, :index 4819}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
