{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 25090446966, :index 2204}
{:type :ok, :f :cas, :value [0 4], :process 6, :time 25097485315, :index 2207}
{:type :invoke, :f :cas, :value [3 0], :process 2, :time 25106249645, :index 2208}
{:type :fail, :f :cas, :value [3 0], :process 2, :time 25111536755, :index 2209}
{:type :invoke, :f :write, :value 0, :process 6, :time 25131769045, :index 2210}
{:type :ok, :f :write, :value 0, :process 6, :time 25138305455, :index 2211}
{:type :invoke, :f :write, :value 1, :process 4, :time 25164298664, :index 2214}
{:type :ok, :f :write, :value 1, :process 4, :time 25170831714, :index 2215}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 25222341223, :index 2216}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 25232533493, :index 2217}
{:type :invoke, :f :read, :value nil, :process 3, :time 25244446332, :index 2218}
{:type :ok, :f :read, :value 1, :process 3, :time 25245989572, :index 2219}
{:type :invoke, :f :write, :value 4, :process 2, :time 25247830792, :index 2220}
{:type :ok, :f :write, :value 4, :process 2, :time 25251968172, :index 2221}
{:type :invoke, :f :write, :value 3, :process 3, :time 25299268762, :index 2222}
{:type :ok, :f :write, :value 3, :process 3, :time 25306826571, :index 2223}
{:type :invoke, :f :read, :value nil, :process 6, :time 25308596481, :index 2224}
{:type :ok, :f :read, :value 3, :process 6, :time 25309864491, :index 2225}
{:type :invoke, :f :write, :value 0, :process 4, :time 25322116041, :index 2226}
{:type :ok, :f :write, :value 0, :process 4, :time 25326755801, :index 2227}
{:type :invoke, :f :read, :value nil, :process 2, :time 25349260441, :index 2228}
{:type :ok, :f :read, :value 0, :process 2, :time 25351012510, :index 2229}
{:type :invoke, :f :read, :value nil, :process 4, :time 25361026220, :index 2230}
{:type :ok, :f :read, :value 0, :process 4, :time 25362288730, :index 2231}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 25382878790, :index 2232}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 25389818060, :index 2233}
{:type :invoke, :f :write, :value 3, :process 3, :time 25440134428, :index 2234}
{:type :ok, :f :write, :value 3, :process 3, :time 25445889059, :index 2235}
{:type :invoke, :f :write, :value 0, :process 6, :time 25448059579, :index 2236}
{:type :ok, :f :write, :value 0, :process 6, :time 25451858539, :index 2237}
{:type :invoke, :f :read, :value nil, :process 0, :time 25482103928, :index 2238}
{:type :ok, :f :read, :value 0, :process 0, :time 25483617188, :index 2239}
{:type :invoke, :f :cas, :value [0 2], :process 3, :time 25533215587, :index 2240}
{:type :ok, :f :cas, :value [0 2], :process 3, :time 25539687477, :index 2241}
{:type :invoke, :f :write, :value 1, :process 4, :time 25540480987, :index 2242}
{:type :ok, :f :write, :value 1, :process 4, :time 25543960937, :index 2243}
{:type :invoke, :f :cas, :value [4 0], :process 2, :time 25545224677, :index 2244}
{:type :fail, :f :cas, :value [4 0], :process 2, :time 25548782397, :index 2245}
{:type :invoke, :f :cas, :value [2 0], :process 2, :time 25555001066, :index 2246}
{:type :fail, :f :cas, :value [2 0], :process 2, :time 25558759766, :index 2247}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 25619190845, :index 2248}
{:type :ok, :f :cas, :value [1 3], :process 4, :time 25626611975, :index 2249}
{:type :invoke, :f :read, :value nil, :process 6, :time 25628096535, :index 2250}
{:type :ok, :f :read, :value 3, :process 6, :time 25629205115, :index 2251}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 25652859034, :index 2252}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 25657937004, :index 2253}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 25676953494, :index 2254}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 25682160083, :index 2255}
{:type :invoke, :f :write, :value 2, :process 2, :time 25691081324, :index 2256}
{:type :ok, :f :write, :value 2, :process 2, :time 25694790464, :index 2257}
{:type :invoke, :f :read, :value nil, :process 0, :time 25697262814, :index 2258}
{:type :ok, :f :read, :value 2, :process 0, :time 25698866983, :index 2259}
{:type :invoke, :f :read, :value nil, :process 0, :time 25715085003, :index 2260}
{:type :ok, :f :read, :value 2, :process 0, :time 25716496753, :index 2261}
{:type :invoke, :f :read, :value nil, :process 0, :time 25721804203, :index 2262}
{:type :ok, :f :read, :value 2, :process 0, :time 25723310353, :index 2263}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 25759404462, :index 2264}
{:type :invoke, :f :cas, :value [0 4], :process 4, :time 25763961462, :index 2265}
{:type :ok, :f :cas, :value [2 3], :process 6, :time 25768327002, :index 2266}
{:type :fail, :f :cas, :value [0 4], :process 4, :time 25769708162, :index 2267}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 25801475631, :index 2268}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 25806938541, :index 2269}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 25847012731, :index 2270}
{:type :ok, :f :cas, :value [3 1], :process 4, :time 25853261040, :index 2271}
{:type :invoke, :f :cas, :value [0 1], :process 0, :time 25869542410, :index 2272}
{:type :invoke, :f :read, :value nil, :process 2, :time 25871139060, :index 2273}
{:type :ok, :f :read, :value 1, :process 2, :time 25872785130, :index 2274}
{:type :fail, :f :cas, :value [0 1], :process 0, :time 25874518680, :index 2275}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 25896707389, :index 2276}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 25901655900, :index 2277}
{:type :invoke, :f :write, :value 1, :process 0, :time 25910921330, :index 2278}
{:type :ok, :f :write, :value 1, :process 0, :time 25914982479, :index 2279}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 25921205559, :index 2280}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 25924999129, :index 2281}
{:type :invoke, :f :read, :value nil, :process 6, :time 25929560229, :index 2282}
{:type :ok, :f :read, :value 1, :process 6, :time 25930869479, :index 2283}
{:type :invoke, :f :write, :value 0, :process 3, :time 25970201978, :index 2284}
{:type :ok, :f :write, :value 0, :process 3, :time 25977417678, :index 2285}
{:type :invoke, :f :write, :value 4, :process 6, :time 26038093587, :index 2286}
{:type :invoke, :f :write, :value 2, :process 2, :time 26041014427, :index 2287}
{:type :invoke, :f :read, :value nil, :process 4, :time 26047609096, :index 2288}
{:type :invoke, :f :read, :value nil, :process 3, :time 26048694047, :index 2289}
{:type :ok, :f :write, :value 4, :process 6, :time 26048896596, :index 2290}
{:type :ok, :f :read, :value 4, :process 4, :time 26049646006, :index 2291}
{:type :ok, :f :write, :value 2, :process 2, :time 26049860906, :index 2292}
{:type :ok, :f :read, :value 2, :process 3, :time 26050706826, :index 2293}
{:type :invoke, :f :write, :value 2, :process 0, :time 26061263427, :index 2294}
{:type :invoke, :f :read, :value nil, :process 3, :time 26065935876, :index 2295}
{:type :ok, :f :write, :value 2, :process 0, :time 26066328486, :index 2296}
{:type :ok, :f :read, :value 2, :process 3, :time 26067317636, :index 2297}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 26130600265, :index 2298}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :ok, :f :cas, :value [2 4], :process 0, :time 26142465754, :index 2300}
{:type :invoke, :f :read, :value nil, :process 0, :time 26145852194, :index 2301}
{:type :ok, :f :read, :value 4, :process 0, :time 26147800154, :index 2302}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 26173890754, :index 2303}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 26180936844, :index 2304}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 26215219784, :index 2305}
{:type :fail, :f :cas, :value [1 0], :process 6, :time 26221888453, :index 2306}
{:type :invoke, :f :write, :value 3, :process 2, :time 26232087003, :index 2307}
{:type :ok, :f :write, :value 3, :process 2, :time 26236560973, :index 2308}
{:type :invoke, :f :read, :value nil, :process 3, :time 26237560473, :index 2309}
{:type :ok, :f :read, :value 3, :process 3, :time 26239077763, :index 2310}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :invoke, :f :read, :value nil, :process 4, :time 26298339962, :index 2312}
{:type :ok, :f :read, :value 3, :process 4, :time 26300481291, :index 2313}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 26318101741, :index 2314}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 26328817651, :index 2315}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 26329182481, :index 2316}
{:type :fail, :f :cas, :value [1 0], :process 6, :time 26333400341, :index 2317}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 26382841360, :index 2318}
{:type :invoke, :f :read, :value nil, :process 3, :time 26384346160, :index 2319}
{:type :ok, :f :read, :value 3, :process 3, :time 26389818780, :index 2320}
{:type :invoke, :f :write, :value 3, :process 2, :time 26389869530, :index 2321}
{:type :invoke, :f :write, :value 2, :process 3, :time 26391149780, :index 2322}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 26395356710, :index 2323}
{:type :ok, :f :write, :value 2, :process 3, :time 26396712970, :index 2324}
{:type :ok, :f :write, :value 3, :process 2, :time 26396810200, :index 2325}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 26398933220, :index 2326}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 26403061680, :index 2327}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 26444188199, :index 2328}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 26451187928, :index 2329}
{:type :invoke, :f :write, :value 1, :process 3, :time 26504309087, :index 2330}
{:type :ok, :f :write, :value 1, :process 3, :time 26513103367, :index 2331}
{:type :invoke, :f :write, :value 3, :process 6, :time 26515683317, :index 2332}
{:type :ok, :f :write, :value 3, :process 6, :time 26519597247, :index 2333}
{:type :invoke, :f :write, :value 1, :process 2, :time 26520049827, :index 2334}
{:type :ok, :f :write, :value 1, :process 2, :time 26523648937, :index 2335}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 26571659776, :index 2336}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 26581550736, :index 2337}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 26584828556, :index 2338}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 26589914216, :index 2339}
{:type :invoke, :f :write, :value 4, :process 2, :time 26591866206, :index 2340}
{:type :ok, :f :write, :value 4, :process 2, :time 26595711196, :index 2341}
{:type :invoke, :f :read, :value nil, :process 3, :time 26601359956, :index 2342}
{:type :ok, :f :read, :value 4, :process 3, :time 26602779865, :index 2343}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 26632515215, :index 2344}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 26639646815, :index 2345}
{:type :invoke, :f :read, :value nil, :process 3, :time 26673033055, :index 2346}
{:type :ok, :f :read, :value 4, :process 3, :time 26674585304, :index 2347}
{:type :invoke, :f :write, :value 4, :process 6, :time 26741163753, :index 2348}
{:type :ok, :f :write, :value 4, :process 6, :time 26753527393, :index 2349}
{:type :invoke, :f :read, :value nil, :process 0, :time 26758964142, :index 2350}
{:type :ok, :f :read, :value 4, :process 0, :time 26760373273, :index 2351}
{:type :invoke, :f :write, :value 0, :process 4, :time 26766963263, :index 2352}
{:type :ok, :f :write, :value 0, :process 4, :time 26772679313, :index 2353}
{:type :invoke, :f :write, :value 2, :process 2, :time 26785942302, :index 2354}
{:type :ok, :f :write, :value 2, :process 2, :time 26791495092, :index 2355}
{:type :invoke, :f :read, :value nil, :process 2, :time 26837763171, :index 2356}
{:type :ok, :f :read, :value 2, :process 2, :time 26839587381, :index 2357}
{:type :invoke, :f :read, :value nil, :process 3, :time 26861813681, :index 2358}
{:type :ok, :f :read, :value 2, :process 3, :time 26863252081, :index 2359}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 26872573070, :index 2360}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 26876901150, :index 2361}
{:type :invoke, :f :write, :value 1, :process 0, :time 26886121150, :index 2362}
{:type :ok, :f :write, :value 1, :process 0, :time 26889520680, :index 2363}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 26896720530, :index 2364}
{:type :invoke, :f :read, :value nil, :process 2, :time 26899824480, :index 2365}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 26900035310, :index 2366}
{:type :ok, :f :read, :value 1, :process 2, :time 26901211460, :index 2367}
{:type :invoke, :f :write, :value 4, :process 3, :time 26908446579, :index 2368}
{:type :ok, :f :write, :value 4, :process 3, :time 26911647659, :index 2369}
{:type :invoke, :f :read, :value nil, :process 4, :time 26924940250, :index 2370}
{:type :ok, :f :read, :value 4, :process 4, :time 26926355709, :index 2371}
{:type :invoke, :f :write, :value 1, :process 6, :time 26934782349, :index 2372}
{:type :ok, :f :write, :value 1, :process 6, :time 26939115019, :index 2373}
{:type :invoke, :f :read, :value nil, :process 0, :time 26981234409, :index 2374}
{:type :ok, :f :read, :value 1, :process 0, :time 26983111048, :index 2375}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 27032580337, :index 2376}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 27043961377, :index 2377}
{:type :invoke, :f :write, :value 3, :process 3, :time 27061869956, :index 2378}
{:type :invoke, :f :write, :value 2, :process 2, :time 27066422946, :index 2379}
{:type :ok, :f :write, :value 3, :process 3, :time 27068043487, :index 2380}
{:type :ok, :f :write, :value 2, :process 2, :time 27070333897, :index 2381}
{:type :invoke, :f :read, :value nil, :process 4, :time 27078262987, :index 2382}
{:type :ok, :f :read, :value 2, :process 4, :time 27079710066, :index 2383}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 27090345676, :index 2384}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 27094149336, :index 2385}
{:type :invoke, :f :read, :value nil, :process 0, :time 27111392116, :index 2386}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 27112327836, :index 2387}
{:type :ok, :f :read, :value 2, :process 0, :time 27113247126, :index 2388}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 27116445106, :index 2389}
{:type :invoke, :f :read, :value nil, :process 3, :time 27161391885, :index 2390}
{:type :ok, :f :read, :value 2, :process 3, :time 27162915215, :index 2391}
{:type :invoke, :f :read, :value nil, :process 0, :time 27172478214, :index 2392}
{:type :ok, :f :read, :value 2, :process 0, :time 27173833234, :index 2393}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 27196665824, :index 2394}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 27201918614, :index 2395}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 27207938164, :index 2396}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 27211895153, :index 2397}
{:type :invoke, :f :read, :value nil, :process 6, :time 27223169004, :index 2398}
{:type :ok, :f :read, :value 2, :process 6, :time 27224397224, :index 2399}
{:type :invoke, :f :read, :value nil, :process 0, :time 27226027113, :index 2400}
{:type :ok, :f :read, :value 2, :process 0, :time 27227263313, :index 2401}
{:type :invoke, :f :read, :value nil, :process 2, :time 27258544153, :index 2404}
{:type :ok, :f :read, :value 2, :process 2, :time 27260059503, :index 2405}
{:type :invoke, :f :write, :value 1, :process 3, :time 27269189723, :index 2406}
{:type :ok, :f :write, :value 1, :process 3, :time 27285670982, :index 2407}
{:type :invoke, :f :write, :value 4, :process 6, :time 27386614510, :index 2411}
{:type :ok, :f :write, :value 4, :process 6, :time 27394138940, :index 2413}
{:type :invoke, :f :read, :value nil, :process 4, :time 27406163280, :index 2414}
{:type :ok, :f :read, :value 4, :process 4, :time 27407824470, :index 2415}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
