{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 35723252416, :index 3210}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 35726067505, :index 3211}
{:type :invoke, :f :write, :value 4, :process 2, :time 35818553544, :index 3214}
{:type :ok, :f :write, :value 4, :process 2, :time 35822051254, :index 3215}
{:type :invoke, :f :cas, :value [2 1], :process 0, :time 35869095443, :index 3216}
{:type :fail, :f :cas, :value [2 1], :process 0, :time 35872571213, :index 3217}
{:type :invoke, :f :write, :value 0, :process 6, :time 35877282322, :index 3218}
{:type :ok, :f :write, :value 0, :process 6, :time 35880236383, :index 3219}
{:type :invoke, :f :read, :value nil, :process 4, :time 35880543993, :index 3220}
{:type :ok, :f :read, :value 0, :process 4, :time 35881723033, :index 3221}
{:type :invoke, :f :read, :value nil, :process 3, :time 35883273273, :index 3222}
{:type :ok, :f :read, :value 0, :process 3, :time 35884454963, :index 3223}
{:type :invoke, :f :read, :value nil, :process 6, :time 35913460672, :index 3224}
{:type :ok, :f :read, :value 0, :process 6, :time 35914649622, :index 3225}
{:type :invoke, :f :write, :value 4, :process 2, :time 35928277592, :index 3226}
{:type :ok, :f :write, :value 4, :process 2, :time 35931397312, :index 3227}
{:type :invoke, :f :write, :value 4, :process 0, :time 35953851611, :index 3228}
{:type :invoke, :f :write, :value 2, :process 6, :time 35954840591, :index 3229}
{:type :ok, :f :write, :value 4, :process 0, :time 35957653581, :index 3230}
{:type :ok, :f :write, :value 2, :process 6, :time 35958540501, :index 3231}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 35982632991, :index 3232}
{:type :ok, :f :cas, :value [2 4], :process 3, :time 35985905591, :index 3233}
{:type :invoke, :f :read, :value nil, :process 6, :time 36005731910, :index 3234}
{:type :ok, :f :read, :value 4, :process 6, :time 36007000091, :index 3235}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 36013924140, :index 3236}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 36017370080, :index 3237}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 36020922560, :index 3238}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 36023661550, :index 3239}
{:type :invoke, :f :read, :value nil, :process 6, :time 36033220370, :index 3240}
{:type :ok, :f :read, :value 4, :process 6, :time 36034272630, :index 3241}
{:type :invoke, :f :read, :value nil, :process 0, :time 36034864040, :index 3242}
{:type :ok, :f :read, :value 4, :process 0, :time 36035744360, :index 3243}
{:type :invoke, :f :write, :value 0, :process 2, :time 36086625618, :index 3244}
{:type :ok, :f :write, :value 0, :process 2, :time 36089893118, :index 3245}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 36091591218, :index 3246}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 36094467848, :index 3247}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 36109674768, :index 3248}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 36112534788, :index 3249}
{:type :invoke, :f :write, :value 4, :process 4, :time 36112687288, :index 3250}
{:type :ok, :f :write, :value 4, :process 4, :time 36115480068, :index 3251}
{:type :invoke, :f :write, :value 1, :process 3, :time 36169165727, :index 3252}
{:type :ok, :f :write, :value 1, :process 3, :time 36172574257, :index 3253}
{:type :invoke, :f :write, :value 0, :process 6, :time 36191458617, :index 3254}
{:type :ok, :f :write, :value 0, :process 6, :time 36194524777, :index 3255}
{:type :invoke, :f :read, :value nil, :process 4, :time 36210752686, :index 3256}
{:type :invoke, :f :read, :value nil, :process 3, :time 36210852706, :index 3257}
{:type :ok, :f :read, :value 0, :process 4, :time 36212150556, :index 3258}
{:type :ok, :f :read, :value 0, :process 3, :time 36212332356, :index 3259}
{:type :invoke, :f :read, :value nil, :process 0, :time 36231910126, :index 3260}
{:type :ok, :f :read, :value 0, :process 0, :time 36232990006, :index 3261}
{:type :invoke, :f :write, :value 0, :process 4, :time 36253380255, :index 3262}
{:type :ok, :f :write, :value 0, :process 4, :time 36256884715, :index 3263}
{:type :invoke, :f :read, :value nil, :process 4, :time 36262112765, :index 3264}
{:type :ok, :f :read, :value 0, :process 4, :time 36263357615, :index 3265}
{:type :invoke, :f :cas, :value [2 0], :process 2, :time 36271125315, :index 3266}
{:type :fail, :f :cas, :value [2 0], :process 2, :time 36274018775, :index 3267}
{:type :invoke, :f :read, :value nil, :process 3, :time 36346604434, :index 3268}
{:type :ok, :f :read, :value 0, :process 3, :time 36348190824, :index 3269}
{:type :invoke, :f :write, :value 0, :process 4, :time 36349547874, :index 3270}
{:type :ok, :f :write, :value 0, :process 4, :time 36352757444, :index 3271}
{:type :invoke, :f :read, :value nil, :process 0, :time 36376186443, :index 3272}
{:type :ok, :f :read, :value 0, :process 0, :time 36377600193, :index 3273}
{:type :invoke, :f :cas, :value [2 0], :process 2, :time 36380236533, :index 3274}
{:type :fail, :f :cas, :value [2 0], :process 2, :time 36383287053, :index 3275}
{:type :invoke, :f :write, :value 3, :process 6, :time 36388750423, :index 3276}
{:type :ok, :f :write, :value 3, :process 6, :time 36391629832, :index 3277}
{:type :invoke, :f :read, :value nil, :process 4, :time 36401999153, :index 3278}
{:type :ok, :f :read, :value 3, :process 4, :time 36403325633, :index 3279}
{:type :invoke, :f :read, :value nil, :process 6, :time 36410865943, :index 3280}
{:type :ok, :f :read, :value 3, :process 6, :time 36412385932, :index 3281}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 36471846741, :index 3283}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 36475299521, :index 3284}
{:type :invoke, :f :read, :value nil, :process 3, :time 36477417311, :index 3285}
{:type :ok, :f :read, :value 3, :process 3, :time 36478730851, :index 3286}
{:type :invoke, :f :read, :value nil, :process 2, :time 36495509381, :index 3287}
{:type :ok, :f :read, :value 3, :process 2, :time 36496784141, :index 3288}
{:type :invoke, :f :write, :value 3, :process 6, :time 36498693781, :index 3289}
{:type :ok, :f :write, :value 3, :process 6, :time 36502410991, :index 3290}
{:type :invoke, :f :read, :value nil, :process 2, :time 36527008170, :index 3291}
{:type :ok, :f :read, :value 3, :process 2, :time 36528704100, :index 3292}
{:type :invoke, :f :write, :value 0, :process 6, :time 36540687440, :index 3293}
{:type :ok, :f :write, :value 0, :process 6, :time 36544220860, :index 3294}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :invoke, :f :write, :value 4, :process 2, :time 36550959759, :index 3296}
{:type :ok, :f :write, :value 4, :process 2, :time 36553833029, :index 3297}
{:type :invoke, :f :read, :value nil, :process 0, :time 36575550619, :index 3298}
{:type :ok, :f :read, :value 4, :process 0, :time 36576832609, :index 3299}
{:type :invoke, :f :write, :value 2, :process 2, :time 36599042219, :index 3300}
{:type :invoke, :f :cas, :value [2 2], :process 4, :time 36601537208, :index 3301}
{:type :ok, :f :write, :value 2, :process 2, :time 36602038948, :index 3302}
{:type :ok, :f :cas, :value [2 2], :process 4, :time 36604137379, :index 3303}
{:type :invoke, :f :write, :value 2, :process 3, :time 36669054357, :index 3304}
{:type :ok, :f :write, :value 2, :process 3, :time 36672451917, :index 3305}
{:type :invoke, :f :read, :value nil, :process 0, :time 36690031477, :index 3306}
{:type :ok, :f :read, :value 2, :process 0, :time 36691530907, :index 3307}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 36700767446, :index 3308}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 36703795726, :index 3309}
{:type :invoke, :f :cas, :value [2 3], :process 2, :time 36712273617, :index 3310}
{:type :ok, :f :cas, :value [2 3], :process 2, :time 36715090866, :index 3311}
{:type :invoke, :f :read, :value nil, :process 6, :time 36719464526, :index 3312}
{:type :ok, :f :read, :value 3, :process 6, :time 36720712036, :index 3313}
{:type :invoke, :f :read, :value nil, :process 4, :time 36742324106, :index 3314}
{:type :ok, :f :read, :value 3, :process 4, :time 36743832986, :index 3315}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 36790037185, :index 3316}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 36793196275, :index 3317}
{:type :invoke, :f :write, :value 2, :process 0, :time 36814018564, :index 3318}
{:type :ok, :f :write, :value 2, :process 0, :time 36816952294, :index 3319}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 36858440493, :index 3320}
{:type :invoke, :f :write, :value 3, :process 3, :time 36858685063, :index 3321}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 36862014163, :index 3322}
{:type :ok, :f :write, :value 3, :process 3, :time 36862015463, :index 3323}
{:type :invoke, :f :write, :value 3, :process 6, :time 36876890063, :index 3324}
{:type :ok, :f :write, :value 3, :process 6, :time 36880165283, :index 3325}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 36888311233, :index 3326}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 36891886453, :index 3327}
{:type :invoke, :f :cas, :value [2 4], :process 2, :time 36892352553, :index 3328}
{:type :fail, :f :cas, :value [2 4], :process 2, :time 36895426973, :index 3329}
{:type :invoke, :f :read, :value nil, :process 4, :time 36921227772, :index 3330}
{:type :ok, :f :read, :value 3, :process 4, :time 36923143612, :index 3331}
{:type :invoke, :f :write, :value 3, :process 4, :time 36941443952, :index 3332}
{:type :ok, :f :write, :value 3, :process 4, :time 36944292622, :index 3333}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 36974286261, :index 3334}
{:type :fail, :f :cas, :value [1 2], :process 3, :time 36977795561, :index 3335}
{:type :invoke, :f :read, :value nil, :process 6, :time 36981400961, :index 3336}
{:type :ok, :f :read, :value 3, :process 6, :time 36982758561, :index 3337}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 36995549721, :index 3338}
{:type :fail, :f :cas, :value [1 4], :process 4, :time 36999005571, :index 3339}
{:type :invoke, :f :write, :value 2, :process 0, :time 36999185531, :index 3340}
{:type :invoke, :f :cas, :value [4 3], :process 2, :time 36999725521, :index 3341}
{:type :ok, :f :write, :value 2, :process 0, :time 37002250491, :index 3342}
{:type :fail, :f :cas, :value [4 3], :process 2, :time 37002907031, :index 3343}
{:type :invoke, :f :write, :value 0, :process 3, :time 37104086498, :index 3344}
{:type :invoke, :f :write, :value 3, :process 0, :time 37104474448, :index 3345}
{:type :ok, :f :write, :value 3, :process 0, :time 37107868989, :index 3346}
{:type :ok, :f :write, :value 0, :process 3, :time 37107963678, :index 3347}
{:type :invoke, :f :write, :value 3, :process 6, :time 37108975598, :index 3348}
{:type :ok, :f :write, :value 3, :process 6, :time 37111920549, :index 3349}
{:type :invoke, :f :read, :value nil, :process 4, :time 37112294209, :index 3350}
{:type :ok, :f :read, :value 3, :process 4, :time 37113647569, :index 3351}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 37115134829, :index 3352}
{:type :ok, :f :cas, :value [3 3], :process 2, :time 37118339309, :index 3353}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 37123248288, :index 3354}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 37126433478, :index 3355}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 37149657338, :index 3356}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 37153063658, :index 3357}
{:type :invoke, :f :read, :value nil, :process 3, :time 37158255808, :index 3358}
{:type :ok, :f :read, :value 3, :process 3, :time 37159582997, :index 3359}
{:type :invoke, :f :write, :value 1, :process 4, :time 37178888797, :index 3360}
{:type :ok, :f :write, :value 1, :process 4, :time 37182562297, :index 3361}
{:type :invoke, :f :read, :value nil, :process 6, :time 37274327995, :index 3362}
{:type :ok, :f :read, :value 1, :process 6, :time 37276062245, :index 3363}
{:type :invoke, :f :read, :value nil, :process 6, :time 37284291575, :index 3364}
{:type :ok, :f :read, :value 1, :process 6, :time 37285479535, :index 3365}
{:type :invoke, :f :read, :value nil, :process 3, :time 37285815775, :index 3366}
{:type :ok, :f :read, :value 1, :process 3, :time 37287101465, :index 3367}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 37288137535, :index 3368}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 37291443255, :index 3369}
{:type :invoke, :f :cas, :value [4 4], :process 2, :time 37294548505, :index 3370}
{:type :fail, :f :cas, :value [4 4], :process 2, :time 37297345755, :index 3371}
{:type :invoke, :f :read, :value nil, :process 4, :time 37310851794, :index 3372}
{:type :ok, :f :read, :value 1, :process 4, :time 37312204894, :index 3373}
{:type :invoke, :f :write, :value 0, :process 2, :time 37325575104, :index 3374}
{:type :ok, :f :write, :value 0, :process 2, :time 37328905304, :index 3375}
{:type :invoke, :f :read, :value nil, :process 0, :time 37398691933, :index 3376}
{:type :ok, :f :read, :value 0, :process 0, :time 37400580473, :index 3377}
{:type :invoke, :f :cas, :value [0 0], :process 2, :time 37405144192, :index 3378}
{:type :ok, :f :cas, :value [0 0], :process 2, :time 37408873772, :index 3379}
{:type :invoke, :f :read, :value nil, :process 4, :time 37421485352, :index 3380}
{:type :ok, :f :read, :value 0, :process 4, :time 37423099683, :index 3381}
{:type :invoke, :f :read, :value nil, :process 4, :time 37470375151, :index 3382}
{:type :ok, :f :read, :value 0, :process 4, :time 37472020021, :index 3383}
{:type :invoke, :f :write, :value 1, :process 6, :time 37473697811, :index 3384}
{:type :ok, :f :write, :value 1, :process 6, :time 37477150451, :index 3385}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 37478895282, :index 3386}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 37481616941, :index 3387}
{:type :invoke, :f :read, :value nil, :process 2, :time 37486103761, :index 3388}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 37486314541, :index 3389}
{:type :ok, :f :read, :value 1, :process 2, :time 37487600231, :index 3390}
{:type :ok, :f :cas, :value [1 4], :process 3, :time 37489242441, :index 3391}
{:type :invoke, :f :cas, :value [2 0], :process 2, :time 37527915760, :index 3392}
{:type :fail, :f :cas, :value [2 0], :process 2, :time 37531340610, :index 3393}
{:type :invoke, :f :write, :value 2, :process 4, :time 37554292660, :index 3394}
{:type :ok, :f :write, :value 2, :process 4, :time 37558055100, :index 3395}
{:type :invoke, :f :cas, :value [4 2], :process 2, :time 37585605859, :index 3396}
{:type :fail, :f :cas, :value [4 2], :process 2, :time 37589521059, :index 3397}
{:type :invoke, :f :read, :value nil, :process 6, :time 37627422138, :index 3398}
{:type :ok, :f :read, :value 2, :process 6, :time 37629300958, :index 3399}
{:type :invoke, :f :read, :value nil, :process 3, :time 37630489088, :index 3400}
{:type :ok, :f :read, :value 2, :process 3, :time 37632173988, :index 3401}
{:type :invoke, :f :read, :value nil, :process 0, :time 37637826978, :index 3402}
{:type :ok, :f :read, :value 2, :process 0, :time 37639253828, :index 3403}
{:type :invoke, :f :write, :value 0, :process 3, :time 37673472947, :index 3404}
{:type :ok, :f :write, :value 0, :process 3, :time 37677342247, :index 3405}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 37705598357, :index 3406}
{:type :ok, :f :cas, :value [0 1], :process 6, :time 37709869097, :index 3407}
{:type :invoke, :f :read, :value nil, :process 4, :time 37722328327, :index 3408}
{:type :ok, :f :read, :value 1, :process 4, :time 37724009397, :index 3409}
{:type :invoke, :f :read, :value nil, :process 2, :time 37750859976, :index 3410}
{:type :ok, :f :read, :value 1, :process 2, :time 37752462066, :index 3411}
{:type :invoke, :f :write, :value 4, :process 0, :time 37812502344, :index 3413}
{:type :ok, :f :write, :value 4, :process 0, :time 37816745135, :index 3416}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
