{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :invoke, :f :write, :value 2, :process 2, :time 33578707058, :index 3010}
{:type :ok, :f :write, :value 2, :process 2, :time 33581628698, :index 3011}
{:type :invoke, :f :read, :value nil, :process 2, :time 33618863258, :index 3013}
{:type :ok, :f :read, :value 2, :process 2, :time 33620465547, :index 3014}
{:type :invoke, :f :write, :value 2, :process 3, :time 33648202987, :index 3016}
{:type :ok, :f :write, :value 2, :process 3, :time 33651168657, :index 3017}
{:type :invoke, :f :read, :value nil, :process 6, :time 33671898466, :index 3018}
{:type :ok, :f :read, :value 2, :process 6, :time 33673089637, :index 3019}
{:type :invoke, :f :read, :value nil, :process 3, :time 33693362376, :index 3020}
{:type :ok, :f :read, :value 2, :process 3, :time 33694505376, :index 3021}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 33698184376, :index 3022}
{:type :ok, :f :cas, :value [2 4], :process 0, :time 33701390226, :index 3023}
{:type :invoke, :f :read, :value nil, :process 2, :time 33722707245, :index 3024}
{:type :ok, :f :read, :value 4, :process 2, :time 33723915495, :index 3025}
{:type :invoke, :f :write, :value 2, :process 4, :time 33764024455, :index 3026}
{:type :ok, :f :write, :value 2, :process 4, :time 33767135895, :index 3027}
{:type :invoke, :f :write, :value 1, :process 2, :time 33777129284, :index 3028}
{:type :ok, :f :write, :value 1, :process 2, :time 33779974674, :index 3029}
{:type :invoke, :f :write, :value 1, :process 6, :time 33792281514, :index 3030}
{:type :ok, :f :write, :value 1, :process 6, :time 33795149664, :index 3031}
{:type :invoke, :f :read, :value nil, :process 3, :time 33851689083, :index 3032}
{:type :ok, :f :read, :value 1, :process 3, :time 33852932293, :index 3033}
{:type :invoke, :f :read, :value nil, :process 0, :time 33890633312, :index 3034}
{:type :ok, :f :read, :value 1, :process 0, :time 33891911132, :index 3035}
{:type :invoke, :f :write, :value 0, :process 2, :time 33920192692, :index 3036}
{:type :ok, :f :write, :value 0, :process 2, :time 33923349601, :index 3037}
{:type :invoke, :f :cas, :value [0 1], :process 4, :time 33923373621, :index 3038}
{:type :ok, :f :cas, :value [0 1], :process 4, :time 33926333181, :index 3039}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 33947116571, :index 3040}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 33950204221, :index 3041}
{:type :invoke, :f :read, :value nil, :process 3, :time 33961129331, :index 3042}
{:type :ok, :f :read, :value 1, :process 3, :time 33962192980, :index 3043}
{:type :invoke, :f :read, :value nil, :process 6, :time 33973347780, :index 3044}
{:type :ok, :f :read, :value 1, :process 6, :time 33974328240, :index 3045}
{:type :invoke, :f :cas, :value [3 1], :process 2, :time 33996587520, :index 3046}
{:type :fail, :f :cas, :value [3 1], :process 2, :time 33999687080, :index 3047}
{:type :invoke, :f :write, :value 2, :process 2, :time 34035927699, :index 3048}
{:type :ok, :f :write, :value 2, :process 2, :time 34039356499, :index 3049}
{:type :invoke, :f :write, :value 2, :process 2, :time 34039518789, :index 3050}
{:type :ok, :f :write, :value 2, :process 2, :time 34042233489, :index 3051}
{:type :invoke, :f :read, :value nil, :process 4, :time 34045767049, :index 3052}
{:type :ok, :f :read, :value 2, :process 4, :time 34046974109, :index 3053}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 34080419778, :index 3054}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 34083923688, :index 3055}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 34085377358, :index 3056}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 34088970798, :index 3057}
{:type :invoke, :f :write, :value 0, :process 6, :time 34124573447, :index 3058}
{:type :invoke, :f :read, :value nil, :process 4, :time 34127187907, :index 3059}
{:type :ok, :f :write, :value 0, :process 6, :time 34128688367, :index 3060}
{:type :ok, :f :read, :value 0, :process 4, :time 34128945057, :index 3061}
{:type :invoke, :f :read, :value nil, :process 2, :time 34136448847, :index 3062}
{:type :ok, :f :read, :value 0, :process 2, :time 34137583717, :index 3063}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 34150165027, :index 3064}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 34153278117, :index 3065}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 34154160127, :index 3066}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 34156957396, :index 3067}
{:type :invoke, :f :read, :value nil, :process 4, :time 34225197146, :index 3068}
{:type :ok, :f :read, :value 0, :process 4, :time 34226729515, :index 3069}
{:type :invoke, :f :read, :value nil, :process 0, :time 34260544365, :index 3070}
{:type :ok, :f :read, :value 0, :process 0, :time 34261916115, :index 3071}
{:type :invoke, :f :write, :value 3, :process 6, :time 34279940644, :index 3072}
{:type :ok, :f :write, :value 3, :process 6, :time 34283178354, :index 3073}
{:type :invoke, :f :read, :value nil, :process 3, :time 34286208774, :index 3074}
{:type :ok, :f :read, :value 3, :process 3, :time 34287389784, :index 3075}
{:type :invoke, :f :cas, :value [2 0], :process 2, :time 34319778374, :index 3076}
{:type :fail, :f :cas, :value [2 0], :process 2, :time 34323104213, :index 3077}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 34333410673, :index 3078}
{:type :ok, :f :cas, :value [3 3], :process 6, :time 34336630233, :index 3079}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 34376087532, :index 3080}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 34379500563, :index 3081}
{:type :invoke, :f :write, :value 3, :process 0, :time 34392163832, :index 3082}
{:type :invoke, :f :write, :value 1, :process 3, :time 34392557022, :index 3083}
{:type :ok, :f :write, :value 3, :process 0, :time 34395443342, :index 3084}
{:type :ok, :f :write, :value 1, :process 3, :time 34396112862, :index 3085}
{:type :invoke, :f :write, :value 3, :process 2, :time 34397344902, :index 3086}
{:type :ok, :f :write, :value 3, :process 2, :time 34399969712, :index 3087}
{:type :invoke, :f :read, :value nil, :process 4, :time 34407979812, :index 3088}
{:type :ok, :f :read, :value 3, :process 4, :time 34409174212, :index 3089}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 34436703861, :index 3090}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 34439676651, :index 3091}
{:type :invoke, :f :write, :value 3, :process 2, :time 34448183871, :index 3092}
{:type :ok, :f :write, :value 3, :process 2, :time 34451363771, :index 3093}
{:type :invoke, :f :read, :value nil, :process 6, :time 34454885521, :index 3094}
{:type :ok, :f :read, :value 3, :process 6, :time 34456163671, :index 3095}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 34480909800, :index 3096}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 34484375770, :index 3097}
{:type :invoke, :f :cas, :value [1 1], :process 6, :time 34495367730, :index 3098}
{:type :fail, :f :cas, :value [1 1], :process 6, :time 34498489310, :index 3099}
{:type :invoke, :f :read, :value nil, :process 3, :time 34523312929, :index 3100}
{:type :invoke, :f :write, :value 4, :process 2, :time 34523607789, :index 3101}
{:type :ok, :f :read, :value 3, :process 3, :time 34524782789, :index 3102}
{:type :ok, :f :write, :value 4, :process 2, :time 34526834139, :index 3103}
{:type :invoke, :f :read, :value nil, :process 0, :time 34536673860, :index 3104}
{:type :ok, :f :read, :value 4, :process 0, :time 34537881609, :index 3105}
{:type :invoke, :f :write, :value 2, :process 4, :time 34581384608, :index 3106}
{:type :ok, :f :write, :value 2, :process 4, :time 34584649738, :index 3107}
{:type :invoke, :f :read, :value nil, :process 6, :time 34588729338, :index 3108}
{:type :ok, :f :read, :value 2, :process 6, :time 34589877308, :index 3109}
{:type :invoke, :f :read, :value nil, :process 2, :time 34627049938, :index 3110}
{:type :ok, :f :read, :value 2, :process 2, :time 34628179368, :index 3111}
{:type :invoke, :f :write, :value 0, :process 6, :time 34661066267, :index 3112}
{:type :ok, :f :write, :value 0, :process 6, :time 34664507917, :index 3113}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 34666767877, :index 3114}
{:type :ok, :f :cas, :value [0 1], :process 6, :time 34670057137, :index 3115}
{:type :invoke, :f :write, :value 0, :process 3, :time 34691133626, :index 3116}
{:type :ok, :f :write, :value 0, :process 3, :time 34695518776, :index 3117}
{:type :invoke, :f :write, :value 1, :process 3, :time 34701963866, :index 3118}
{:type :ok, :f :write, :value 1, :process 3, :time 34705828346, :index 3119}
{:type :invoke, :f :read, :value nil, :process 0, :time 34725063316, :index 3120}
{:type :ok, :f :read, :value 1, :process 0, :time 34726231516, :index 3121}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 34743266935, :index 3122}
{:type :invoke, :f :write, :value 3, :process 2, :time 34744430645, :index 3123}
{:type :ok, :f :cas, :value [1 3], :process 6, :time 34746574415, :index 3124}
{:type :ok, :f :write, :value 3, :process 2, :time 34747903085, :index 3125}
{:type :invoke, :f :read, :value nil, :process 4, :time 34781884575, :index 3126}
{:type :ok, :f :read, :value 3, :process 4, :time 34783417715, :index 3127}
{:type :invoke, :f :read, :value nil, :process 0, :time 34795453974, :index 3128}
{:type :ok, :f :read, :value 3, :process 0, :time 34797015004, :index 3129}
{:type :invoke, :f :read, :value nil, :process 3, :time 34858087853, :index 3130}
{:type :ok, :f :read, :value 3, :process 3, :time 34859518473, :index 3131}
{:type :invoke, :f :write, :value 3, :process 0, :time 34891249212, :index 3132}
{:type :ok, :f :write, :value 3, :process 0, :time 34894351502, :index 3133}
{:type :invoke, :f :write, :value 4, :process 2, :time 34896207752, :index 3134}
{:type :ok, :f :write, :value 4, :process 2, :time 34899251912, :index 3135}
{:type :invoke, :f :cas, :value [0 1], :process 4, :time 34907625192, :index 3136}
{:type :fail, :f :cas, :value [0 1], :process 4, :time 34910583022, :index 3137}
{:type :invoke, :f :write, :value 3, :process 6, :time 34913802232, :index 3138}
{:type :ok, :f :write, :value 3, :process 6, :time 34916796572, :index 3139}
{:type :invoke, :f :read, :value nil, :process 2, :time 34928500401, :index 3140}
{:type :ok, :f :read, :value 3, :process 2, :time 34929689212, :index 3141}
{:type :invoke, :f :write, :value 2, :process 0, :time 34987602310, :index 3142}
{:type :ok, :f :write, :value 2, :process 0, :time 34990899151, :index 3143}
{:type :invoke, :f :cas, :value [2 1], :process 2, :time 35023866280, :index 3144}
{:type :ok, :f :cas, :value [2 1], :process 2, :time 35027432080, :index 3145}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 35043736459, :index 3146}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 35046897429, :index 3147}
{:type :invoke, :f :read, :value nil, :process 4, :time 35061780409, :index 3148}
{:type :ok, :f :read, :value 1, :process 4, :time 35062926889, :index 3149}
{:type :invoke, :f :cas, :value [0 3], :process 2, :time 35085715589, :index 3150}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 35088027658, :index 3151}
{:type :fail, :f :cas, :value [0 3], :process 2, :time 35089043978, :index 3152}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 35090782718, :index 3153}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 35139215887, :index 3154}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 35142456347, :index 3155}
{:type :invoke, :f :read, :value nil, :process 6, :time 35177041467, :index 3156}
{:type :ok, :f :read, :value 1, :process 6, :time 35178387267, :index 3157}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 35209605016, :index 3158}
{:type :ok, :f :cas, :value [1 0], :process 6, :time 35212675816, :index 3159}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 35218126016, :index 3160}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 35221229286, :index 3161}
{:type :invoke, :f :read, :value nil, :process 3, :time 35228159886, :index 3162}
{:type :ok, :f :read, :value 0, :process 3, :time 35229345875, :index 3163}
{:type :invoke, :f :read, :value nil, :process 2, :time 35247280495, :index 3164}
{:type :ok, :f :read, :value 0, :process 2, :time 35248257475, :index 3165}
{:type :invoke, :f :write, :value 3, :process 0, :time 35287704324, :index 3166}
{:type :ok, :f :write, :value 3, :process 0, :time 35290769694, :index 3167}
{:type :invoke, :f :read, :value nil, :process 3, :time 35297540104, :index 3168}
{:type :ok, :f :read, :value 3, :process 3, :time 35298878274, :index 3169}
{:type :invoke, :f :write, :value 4, :process 4, :time 35378475012, :index 3170}
{:type :ok, :f :write, :value 4, :process 4, :time 35382425792, :index 3171}
{:type :invoke, :f :write, :value 2, :process 6, :time 35407999942, :index 3172}
{:type :ok, :f :write, :value 2, :process 6, :time 35412046052, :index 3173}
{:type :invoke, :f :cas, :value [4 0], :process 4, :time 35413732442, :index 3174}
{:type :fail, :f :cas, :value [4 0], :process 4, :time 35416796052, :index 3175}
{:type :invoke, :f :cas, :value [0 2], :process 3, :time 35431112312, :index 3176}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 35432340662, :index 3177}
{:type :fail, :f :cas, :value [0 2], :process 3, :time 35434991642, :index 3178}
{:type :ok, :f :cas, :value [2 0], :process 6, :time 35435692811, :index 3179}
{:type :invoke, :f :cas, :value [3 1], :process 2, :time 35442474551, :index 3180}
{:type :fail, :f :cas, :value [3 1], :process 2, :time 35445776021, :index 3181}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 35452934651, :index 3182}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 35456034361, :index 3183}
{:type :invoke, :f :read, :value nil, :process 4, :time 35460039131, :index 3184}
{:type :ok, :f :read, :value 0, :process 4, :time 35461289781, :index 3185}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 35490028090, :index 3186}
{:type :ok, :f :cas, :value [0 0], :process 0, :time 35493445081, :index 3187}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 35499035900, :index 3188}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 35502166070, :index 3189}
{:type :invoke, :f :write, :value 4, :process 6, :time 35507310020, :index 3190}
{:type :ok, :f :write, :value 4, :process 6, :time 35510288670, :index 3191}
{:type :invoke, :f :read, :value nil, :process 4, :time 35540514999, :index 3192}
{:type :ok, :f :read, :value 4, :process 4, :time 35542092749, :index 3193}
{:type :invoke, :f :read, :value nil, :process 0, :time 35553673219, :index 3194}
{:type :ok, :f :read, :value 4, :process 0, :time 35555042639, :index 3195}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 35563578349, :index 3196}
{:type :ok, :f :cas, :value [4 4], :process 6, :time 35566908649, :index 3197}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 35576259199, :index 3198}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 35579452659, :index 3199}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 35615276408, :index 3200}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 35618946968, :index 3201}
{:type :invoke, :f :read, :value nil, :process 2, :time 35636397107, :index 3202}
{:type :ok, :f :read, :value 4, :process 2, :time 35638151258, :index 3203}
{:type :invoke, :f :write, :value 1, :process 6, :time 35680165407, :index 3204}
{:type :ok, :f :write, :value 1, :process 6, :time 35683960657, :index 3205}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 35691341496, :index 3206}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 35694330836, :index 3207}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 35708247456, :index 3208}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 35711079236, :index 3209}
{:type :invoke, :f :read, :value nil, :process 0, :time 35741695836, :index 3212}
{:type :ok, :f :read, :value 1, :process 0, :time 35742882756, :index 3213}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
