{:type :invoke, :f :cas, :value [4 0], :process 0, :time 3035299310, :index 196}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 3044150140, :index 197}
{:type :invoke, :f :cas, :value [2 3], :process 2, :time 3052850769, :index 199}
{:type :fail, :f :cas, :value [2 3], :process 2, :time 3058748219, :index 201}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 3122615158, :index 203}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 3130985328, :index 205}
{:type :invoke, :f :write, :value 3, :process 3, :time 3159492038, :index 206}
{:type :ok, :f :write, :value 3, :process 3, :time 3168682077, :index 207}
{:type :invoke, :f :cas, :value [2 3], :process 2, :time 3170201737, :index 208}
{:type :fail, :f :cas, :value [2 3], :process 2, :time 3176883617, :index 209}
{:type :invoke, :f :write, :value 1, :process 4, :time 3193929447, :index 210}
{:type :invoke, :f :write, :value 3, :process 2, :time 3197297467, :index 211}
{:type :ok, :f :write, :value 1, :process 4, :time 3202467597, :index 212}
{:type :ok, :f :write, :value 3, :process 2, :time 3203806897, :index 213}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 3207666646, :index 214}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 3214458426, :index 215}
{:type :invoke, :f :write, :value 1, :process 3, :time 3225127116, :index 216}
{:type :invoke, :f :cas, :value [2 2], :process 2, :time 3228216266, :index 217}
{:type :ok, :f :write, :value 1, :process 3, :time 3236766916, :index 218}
{:type :fail, :f :cas, :value [2 2], :process 2, :time 3238205066, :index 219}
{:type :invoke, :f :write, :value 2, :process 4, :time 3238042586, :index 220}
{:type :ok, :f :write, :value 2, :process 4, :time 3246964956, :index 221}
{:type :invoke, :f :cas, :value [3 2], :process 1, :time 3249007656, :index 222}
{:type :fail, :f :cas, :value [3 2], :process 1, :time 3256745005, :index 223}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 3289998375, :index 224}
{:type :fail, :f :cas, :value [1 4], :process 0, :time 3301014835, :index 225}
{:type :invoke, :f :write, :value 3, :process 1, :time 3305359165, :index 226}
{:type :ok, :f :write, :value 3, :process 1, :time 3316137675, :index 227}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 3336681014, :index 228}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 3344622554, :index 229}
{:type :invoke, :f :write, :value 1, :process 4, :time 3366570434, :index 230}
{:type :invoke, :f :cas, :value [1 3], :process 1, :time 3367585843, :index 231}
{:type :ok, :f :write, :value 1, :process 4, :time 3375776263, :index 232}
{:type :invoke, :f :write, :value 4, :process 2, :time 3375647203, :index 233}
{:type :ok, :f :cas, :value [1 3], :process 1, :time 3378035563, :index 234}
{:type :ok, :f :write, :value 4, :process 2, :time 3382290943, :index 235}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 3398521543, :index 236}
{:type :ok, :f :cas, :value [4 0], :process 3, :time 3406758133, :index 237}
{:type :invoke, :f :write, :value 1, :process 1, :time 3412375713, :index 238}
{:type :ok, :f :write, :value 1, :process 1, :time 3420396692, :index 239}
{:type :invoke, :f :read, :value nil, :process 2, :time 3427711382, :index 240}
{:type :ok, :f :read, :value 1, :process 2, :time 3431346132, :index 241}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 3465349461, :index 242}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 3480626161, :index 243}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 3503096041, :index 244}
{:type :invoke, :f :write, :value 2, :process 1, :time 3508018280, :index 245}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 3517204430, :index 246}
{:type :ok, :f :write, :value 2, :process 1, :time 3518394100, :index 247}
{:type :invoke, :f :read, :value nil, :process 4, :time 3525298840, :index 248}
{:type :ok, :f :read, :value 2, :process 4, :time 3530838700, :index 249}
{:type :invoke, :f :read, :value nil, :process 1, :time 3615870849, :index 250}
{:type :ok, :f :read, :value 2, :process 1, :time 3621564318, :index 251}
{:type :invoke, :f :read, :value nil, :process 2, :time 3621756329, :index 252}
{:type :ok, :f :read, :value 2, :process 2, :time 3626125198, :index 253}
{:type :invoke, :f :write, :value 2, :process 3, :time 3641308448, :index 254}
{:type :invoke, :f :read, :value nil, :process 1, :time 3646062918, :index 255}
{:type :ok, :f :read, :value 2, :process 1, :time 3651646018, :index 256}
{:type :invoke, :f :read, :value nil, :process 4, :time 3653569558, :index 257}
{:type :ok, :f :read, :value 2, :process 4, :time 3661294448, :index 258}
{:type :ok, :f :write, :value 2, :process 3, :time 3668684847, :index 259}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 3673001897, :index 260}
{:type :invoke, :f :read, :value nil, :process 0, :time 3678553027, :index 261}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 3679913367, :index 262}
{:type :ok, :f :read, :value 2, :process 0, :time 3682012707, :index 263}
{:type :invoke, :f :read, :value nil, :process 3, :time 3722283626, :index 264}
{:type :ok, :f :read, :value 2, :process 3, :time 3727892976, :index 265}
{:type :invoke, :f :write, :value 3, :process 2, :time 3752851886, :index 266}
{:type :ok, :f :write, :value 3, :process 2, :time 3766263836, :index 267}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 3771485526, :index 268}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 3780924475, :index 269}
{:type :invoke, :f :cas, :value [3 1], :process 1, :time 3790370605, :index 270}
{:type :ok, :f :cas, :value [3 1], :process 1, :time 3799237685, :index 271}
{:type :invoke, :f :write, :value 4, :process 0, :time 3803623245, :index 272}
{:type :ok, :f :write, :value 4, :process 0, :time 3812658105, :index 273}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 3823602444, :index 274}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 3831545694, :index 275}
{:type :invoke, :f :read, :value nil, :process 1, :time 3842598654, :index 276}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 3844501844, :index 277}
{:type :ok, :f :read, :value 4, :process 1, :time 3846145934, :index 278}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 3850507194, :index 279}
{:type :invoke, :f :read, :value nil, :process 4, :time 3858027974, :index 280}
{:type :ok, :f :read, :value 4, :process 4, :time 3860634004, :index 281}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 3917872652, :index 282}
{:type :invoke, :f :cas, :value [3 0], :process 1, :time 3922460923, :index 283}
{:type :ok, :f :cas, :value [4 4], :process 3, :time 3927292032, :index 284}
{:type :fail, :f :cas, :value [3 0], :process 1, :time 3928326742, :index 285}
{:type :invoke, :f :read, :value nil, :process 2, :time 3941993132, :index 286}
{:type :ok, :f :read, :value 4, :process 2, :time 3944705092, :index 287}
{:type :invoke, :f :write, :value 0, :process 2, :time 3952019762, :index 288}
{:type :ok, :f :write, :value 0, :process 2, :time 3958693872, :index 289}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 3975844031, :index 290}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 3982015671, :index 291}
{:type :invoke, :f :write, :value 3, :process 0, :time 3999362431, :index 292}
{:type :ok, :f :write, :value 3, :process 0, :time 4004895870, :index 293}
{:type :invoke, :f :write, :value 4, :process 4, :time 4047946660, :index 294}
{:type :invoke, :f :write, :value 2, :process 1, :time 4048721490, :index 295}
{:type :ok, :f :write, :value 4, :process 4, :time 4056496350, :index 296}
{:type :ok, :f :write, :value 2, :process 1, :time 4056496290, :index 297}
{:type :invoke, :f :write, :value 2, :process 3, :time 4070607669, :index 298}
{:type :ok, :f :write, :value 2, :process 3, :time 4076669649, :index 299}
{:type :invoke, :f :read, :value nil, :process 2, :time 4124156498, :index 300}
{:type :ok, :f :read, :value 2, :process 2, :time 4127131848, :index 301}
{:type :invoke, :f :write, :value 1, :process 1, :time 4170896978, :index 302}
{:type :ok, :f :write, :value 1, :process 1, :time 4181746607, :index 303}
{:type :invoke, :f :write, :value 0, :process 0, :time 4193270987, :index 304}
{:type :ok, :f :write, :value 0, :process 0, :time 4199294587, :index 305}
{:type :invoke, :f :write, :value 1, :process 3, :time 4212191387, :index 306}
{:type :ok, :f :write, :value 1, :process 3, :time 4217670677, :index 307}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 4221915466, :index 308}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 4226900927, :index 309}
{:type :invoke, :f :read, :value nil, :process 2, :time 4272549996, :index 310}
{:type :ok, :f :read, :value 1, :process 2, :time 4275936675, :index 311}
{:type :invoke, :f :write, :value 1, :process 2, :time 4311310064, :index 312}
{:type :ok, :f :write, :value 1, :process 2, :time 4322737735, :index 313}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 4326259404, :index 314}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 4333996334, :index 315}
{:type :invoke, :f :write, :value 0, :process 1, :time 4379232453, :index 316}
{:type :ok, :f :write, :value 0, :process 1, :time 4387578433, :index 317}
{:type :invoke, :f :write, :value 4, :process 0, :time 4394678783, :index 318}
{:type :ok, :f :write, :value 4, :process 0, :time 4400332723, :index 319}
{:type :invoke, :f :write, :value 2, :process 3, :time 4401015343, :index 320}
{:type :ok, :f :write, :value 2, :process 3, :time 4405991533, :index 321}
{:type :invoke, :f :read, :value nil, :process 4, :time 4446461582, :index 322}
{:type :ok, :f :read, :value 2, :process 4, :time 4449324702, :index 323}
{:type :invoke, :f :write, :value 0, :process 1, :time 4498983601, :index 324}
{:type :invoke, :f :read, :value nil, :process 2, :time 4503198471, :index 325}
{:type :ok, :f :read, :value 2, :process 2, :time 4505883871, :index 326}
{:type :ok, :f :write, :value 0, :process 1, :time 4510952991, :index 327}
{:type :invoke, :f :read, :value nil, :process 2, :time 4552286900, :index 328}
{:type :ok, :f :read, :value 0, :process 2, :time 4555242060, :index 329}
{:type :invoke, :f :write, :value 4, :process 3, :time 4570320950, :index 330}
{:type :ok, :f :write, :value 4, :process 3, :time 4578722250, :index 331}
{:type :invoke, :f :read, :value nil, :process 4, :time 4582663869, :index 332}
{:type :ok, :f :read, :value 4, :process 4, :time 4585082059, :index 333}
{:type :invoke, :f :read, :value nil, :process 0, :time 4593669189, :index 334}
{:type :ok, :f :read, :value 4, :process 0, :time 4596171659, :index 335}
{:type :invoke, :f :cas, :value [2 3], :process 1, :time 4596320539, :index 336}
{:type :fail, :f :cas, :value [2 3], :process 1, :time 4602317749, :index 337}
{:type :invoke, :f :cas, :value [0 1], :process 2, :time 4608635129, :index 338}
{:type :fail, :f :cas, :value [0 1], :process 2, :time 4614090299, :index 339}
{:type :invoke, :f :read, :value nil, :process 0, :time 4649525588, :index 340}
{:type :ok, :f :read, :value 4, :process 0, :time 4652089768, :index 341}
{:type :invoke, :f :read, :value nil, :process 2, :time 4667449018, :index 342}
{:type :ok, :f :read, :value 4, :process 2, :time 4669667708, :index 343}
{:type :invoke, :f :cas, :value [1 0], :process 2, :time 4669854458, :index 344}
{:type :fail, :f :cas, :value [1 0], :process 2, :time 4677653247, :index 345}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 4699218497, :index 346}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 4706071467, :index 347}
{:type :invoke, :f :read, :value nil, :process 4, :time 4775391206, :index 348}
{:type :ok, :f :read, :value 4, :process 4, :time 4777947356, :index 349}
{:type :invoke, :f :write, :value 4, :process 1, :time 4781687646, :index 350}
{:type :ok, :f :write, :value 4, :process 1, :time 4790959395, :index 351}
{:type :invoke, :f :read, :value nil, :process 2, :time 4826070725, :index 352}
{:type :ok, :f :read, :value 4, :process 2, :time 4829488694, :index 353}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 4837475184, :index 354}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 4839282394, :index 355}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 4845363844, :index 356}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 4846413624, :index 357}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 4846364964, :index 358}
{:type :ok, :f :cas, :value [4 2], :process 0, :time 4852544814, :index 359}
{:type :invoke, :f :write, :value 3, :process 1, :time 4883275113, :index 360}
{:type :ok, :f :write, :value 3, :process 1, :time 4890763793, :index 361}
{:type :invoke, :f :read, :value nil, :process 4, :time 4910687873, :index 362}
{:type :ok, :f :read, :value 3, :process 4, :time 4913567523, :index 363}
{:type :invoke, :f :read, :value nil, :process 2, :time 4926867712, :index 364}
{:type :ok, :f :read, :value 3, :process 2, :time 4929288162, :index 365}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 4958897292, :index 366}
{:type :invoke, :f :read, :value nil, :process 3, :time 4983818351, :index 367}
{:type :ok, :f :cas, :value [3 4], :process 4, :time 4985951511, :index 368}
{:type :ok, :f :read, :value 4, :process 3, :time 4986602051, :index 369}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 5013900551, :index 370}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 5023055210, :index 371}
{:type :invoke, :f :read, :value nil, :process 2, :time 5031669631, :index 372}
{:type :ok, :f :read, :value 4, :process 2, :time 5034836150, :index 373}
{:type :invoke, :f :write, :value 0, :process 4, :time 5068295590, :index 374}
{:type :ok, :f :write, :value 0, :process 4, :time 5076302409, :index 375}
{:type :invoke, :f :cas, :value [3 2], :process 2, :time 5084181700, :index 376}
{:type :invoke, :f :read, :value nil, :process 1, :time 5084186260, :index 377}
{:type :ok, :f :read, :value 0, :process 1, :time 5086904580, :index 378}
{:type :fail, :f :cas, :value [3 2], :process 2, :time 5090228280, :index 379}
{:type :invoke, :f :write, :value 4, :process 2, :time 5152601248, :index 380}
{:type :ok, :f :write, :value 4, :process 2, :time 5162243648, :index 381}
{:type :invoke, :f :write, :value 0, :process 0, :time 5166505928, :index 382}
{:type :ok, :f :write, :value 0, :process 0, :time 5172709467, :index 383}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 5173701618, :index 384}
{:type :invoke, :f :read, :value nil, :process 3, :time 5178909088, :index 385}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 5179184598, :index 386}
{:type :invoke, :f :write, :value 2, :process 1, :time 5179272158, :index 387}
{:type :ok, :f :read, :value 0, :process 3, :time 5181912378, :index 388}
{:type :ok, :f :write, :value 2, :process 1, :time 5184864498, :index 389}
{:type :invoke, :f :write, :value 1, :process 2, :time 5192754007, :index 390}
{:type :ok, :f :write, :value 1, :process 2, :time 5198288147, :index 391}
{:type :invoke, :f :write, :value 3, :process 3, :time 5204254277, :index 392}
{:type :ok, :f :write, :value 3, :process 3, :time 5209810987, :index 393}
{:type :invoke, :f :write, :value 2, :process 4, :time 5211601587, :index 394}
{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :ok, :f :write, :value 2, :process 4, :time 5217191317, :index 396}
{:type :invoke, :f :write, :value 4, :process 0, :time 5260163466, :index 400}
{:type :ok, :f :write, :value 4, :process 0, :time 5268929636, :index 402}
{:type :invoke, :f :write, :value 1, :process 1, :time 5336245425, :index 407}
{:type :ok, :f :write, :value 1, :process 1, :time 5344837874, :index 408}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
