{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :invoke, :f :write, :value 1, :process 3, :time 37809832764, :index 3412}
{:type :ok, :f :write, :value 1, :process 3, :time 37815306314, :index 3414}
{:type :invoke, :f :write, :value 1, :process 6, :time 37816210075, :index 3415}
{:type :ok, :f :write, :value 1, :process 6, :time 37819762855, :index 3417}
{:type :invoke, :f :cas, :value [1 3], :process 2, :time 37823744595, :index 3418}
{:type :ok, :f :cas, :value [1 3], :process 2, :time 37827393724, :index 3419}
{:type :invoke, :f :cas, :value [0 1], :process 2, :time 37843679654, :index 3420}
{:type :fail, :f :cas, :value [0 1], :process 2, :time 37847494914, :index 3421}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 37852127224, :index 3422}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 37855526784, :index 3423}
{:type :invoke, :f :write, :value 1, :process 4, :time 37908373183, :index 3424}
{:type :ok, :f :write, :value 1, :process 4, :time 37912360513, :index 3425}
{:type :invoke, :f :read, :value nil, :process 3, :time 37929739122, :index 3426}
{:type :ok, :f :read, :value 1, :process 3, :time 37931553122, :index 3427}
{:type :invoke, :f :read, :value nil, :process 2, :time 37955750752, :index 3428}
{:type :ok, :f :read, :value 1, :process 2, :time 37957242692, :index 3429}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 38000064981, :index 3430}
{:type :ok, :f :cas, :value [1 4], :process 0, :time 38005035941, :index 3431}
{:type :invoke, :f :cas, :value [2 4], :process 6, :time 38040836120, :index 3432}
{:type :fail, :f :cas, :value [2 4], :process 6, :time 38045096990, :index 3433}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 38053662920, :index 3434}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 38057164839, :index 3435}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 38110857919, :index 3436}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 38115169849, :index 3437}
{:type :invoke, :f :cas, :value [0 3], :process 2, :time 38140488788, :index 3438}
{:type :fail, :f :cas, :value [0 3], :process 2, :time 38144160928, :index 3439}
{:type :invoke, :f :write, :value 1, :process 6, :time 38169446468, :index 3440}
{:type :invoke, :f :write, :value 4, :process 0, :time 38171305508, :index 3441}
{:type :ok, :f :write, :value 1, :process 6, :time 38173235477, :index 3442}
{:type :ok, :f :write, :value 4, :process 0, :time 38174581857, :index 3443}
{:type :invoke, :f :write, :value 0, :process 4, :time 38175444957, :index 3444}
{:type :ok, :f :write, :value 0, :process 4, :time 38178304697, :index 3445}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 38247521096, :index 3446}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 38251781536, :index 3447}
{:type :invoke, :f :read, :value nil, :process 6, :time 38287529395, :index 3448}
{:type :ok, :f :read, :value 0, :process 6, :time 38289510235, :index 3449}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 38299856145, :index 3450}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 38303673605, :index 3451}
{:type :invoke, :f :read, :value nil, :process 2, :time 38305466615, :index 3452}
{:type :ok, :f :read, :value 0, :process 2, :time 38306743005, :index 3453}
{:type :invoke, :f :cas, :value [3 0], :process 3, :time 38349138004, :index 3454}
{:type :fail, :f :cas, :value [3 0], :process 3, :time 38352386314, :index 3455}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 38362522444, :index 3456}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 38365415093, :index 3457}
{:type :invoke, :f :write, :value 4, :process 4, :time 38406821353, :index 3458}
{:type :ok, :f :write, :value 4, :process 4, :time 38410084003, :index 3459}
{:type :invoke, :f :read, :value nil, :process 2, :time 38474970071, :index 3460}
{:type :ok, :f :read, :value 4, :process 2, :time 38476187662, :index 3461}
{:type :invoke, :f :write, :value 3, :process 6, :time 38482764891, :index 3462}
{:type :ok, :f :write, :value 3, :process 6, :time 38485755061, :index 3463}
{:type :invoke, :f :write, :value 3, :process 0, :time 38501898111, :index 3464}
{:type :ok, :f :write, :value 3, :process 0, :time 38504912561, :index 3465}
{:type :invoke, :f :write, :value 3, :process 4, :time 38513295501, :index 3466}
{:type :ok, :f :write, :value 3, :process 4, :time 38516099201, :index 3467}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 38533602210, :index 3468}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 38536487340, :index 3469}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 38583119570, :index 3470}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 38586266100, :index 3471}
{:type :invoke, :f :write, :value 3, :process 4, :time 38603294619, :index 3472}
{:type :ok, :f :write, :value 3, :process 4, :time 38605820739, :index 3473}
{:type :invoke, :f :read, :value nil, :process 0, :time 38610471489, :index 3474}
{:type :ok, :f :read, :value 3, :process 0, :time 38611656969, :index 3475}
{:type :invoke, :f :cas, :value [4 0], :process 2, :time 38668399267, :index 3476}
{:type :fail, :f :cas, :value [4 0], :process 2, :time 38672213498, :index 3477}
{:type :invoke, :f :write, :value 2, :process 6, :time 38674976018, :index 3478}
{:type :ok, :f :write, :value 2, :process 6, :time 38678068058, :index 3479}
{:type :invoke, :f :write, :value 0, :process 3, :time 38679716658, :index 3480}
{:type :ok, :f :write, :value 0, :process 3, :time 38682982178, :index 3481}
{:type :invoke, :f :write, :value 0, :process 4, :time 38725023717, :index 3482}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 38728310786, :index 3483}
{:type :ok, :f :write, :value 0, :process 4, :time 38728546097, :index 3484}
{:type :ok, :f :cas, :value [0 3], :process 6, :time 38731418466, :index 3485}
{:type :invoke, :f :write, :value 1, :process 3, :time 38777293596, :index 3486}
{:type :ok, :f :write, :value 1, :process 3, :time 38781272736, :index 3487}
{:type :invoke, :f :read, :value nil, :process 2, :time 38783584416, :index 3488}
{:type :ok, :f :read, :value 1, :process 2, :time 38784691845, :index 3489}
{:type :invoke, :f :write, :value 2, :process 0, :time 38800867965, :index 3490}
{:type :ok, :f :write, :value 2, :process 0, :time 38804148575, :index 3491}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 38811863325, :index 3492}
{:type :invoke, :f :read, :value nil, :process 3, :time 38814546395, :index 3493}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 38815350675, :index 3494}
{:type :ok, :f :read, :value 2, :process 3, :time 38816010935, :index 3495}
{:type :invoke, :f :cas, :value [4 3], :process 2, :time 38818879705, :index 3496}
{:type :fail, :f :cas, :value [4 3], :process 2, :time 38821836715, :index 3497}
{:type :invoke, :f :read, :value nil, :process 6, :time 38846628104, :index 3498}
{:type :ok, :f :read, :value 2, :process 6, :time 38848046544, :index 3499}
{:type :invoke, :f :write, :value 1, :process 4, :time 38934616533, :index 3500}
{:type :ok, :f :write, :value 1, :process 4, :time 38938545612, :index 3501}
{:type :invoke, :f :read, :value nil, :process 0, :time 38997376171, :index 3502}
{:type :ok, :f :read, :value 1, :process 0, :time 38999014321, :index 3503}
{:type :invoke, :f :write, :value 3, :process 0, :time 38999169911, :index 3504}
{:type :ok, :f :write, :value 3, :process 0, :time 39002162151, :index 3505}
{:type :invoke, :f :read, :value nil, :process 3, :time 39008205741, :index 3506}
{:type :ok, :f :read, :value 3, :process 3, :time 39009356001, :index 3507}
{:type :invoke, :f :read, :value nil, :process 2, :time 39021023901, :index 3508}
{:type :ok, :f :read, :value 3, :process 2, :time 39022208391, :index 3509}
{:type :invoke, :f :read, :value nil, :process 6, :time 39041204920, :index 3510}
{:type :ok, :f :read, :value 3, :process 6, :time 39042686990, :index 3511}
{:type :invoke, :f :cas, :value [4 0], :process 4, :time 39049820480, :index 3512}
{:type :fail, :f :cas, :value [4 0], :process 4, :time 39053418220, :index 3513}
{:type :invoke, :f :write, :value 2, :process 0, :time 39125393689, :index 3514}
{:type :ok, :f :write, :value 2, :process 0, :time 39129419378, :index 3515}
{:type :invoke, :f :cas, :value [4 0], :process 4, :time 39159665368, :index 3516}
{:type :fail, :f :cas, :value [4 0], :process 4, :time 39163091418, :index 3517}
{:type :invoke, :f :read, :value nil, :process 2, :time 39165427558, :index 3518}
{:type :ok, :f :read, :value 2, :process 2, :time 39166777518, :index 3519}
{:type :invoke, :f :write, :value 1, :process 3, :time 39177537948, :index 3520}
{:type :invoke, :f :read, :value nil, :process 6, :time 39178949118, :index 3521}
{:type :ok, :f :read, :value 2, :process 6, :time 39180420398, :index 3522}
{:type :ok, :f :write, :value 1, :process 3, :time 39180830348, :index 3523}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 39182762737, :index 3524}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 39185867228, :index 3525}
{:type :invoke, :f :read, :value nil, :process 4, :time 39201376748, :index 3526}
{:type :ok, :f :read, :value 1, :process 4, :time 39203072987, :index 3527}
{:type :invoke, :f :write, :value 4, :process 4, :time 39210324387, :index 3528}
{:type :ok, :f :write, :value 4, :process 4, :time 39214308747, :index 3529}
{:type :invoke, :f :write, :value 2, :process 0, :time 39247153726, :index 3530}
{:type :ok, :f :write, :value 2, :process 0, :time 39251542566, :index 3531}
{:type :invoke, :f :cas, :value [0 1], :process 3, :time 39253054406, :index 3532}
{:type :fail, :f :cas, :value [0 1], :process 3, :time 39256466706, :index 3533}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 39257738276, :index 3534}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 39260596526, :index 3535}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 39283672626, :index 3536}
{:type :invoke, :f :write, :value 4, :process 0, :time 39284906665, :index 3537}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 39288207946, :index 3538}
{:type :ok, :f :write, :value 4, :process 0, :time 39288784446, :index 3539}
{:type :invoke, :f :read, :value nil, :process 0, :time 39341099704, :index 3540}
{:type :ok, :f :read, :value 4, :process 0, :time 39342842734, :index 3541}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 39347841704, :index 3542}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 39351437465, :index 3543}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 39353022525, :index 3544}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 39356241594, :index 3545}
{:type :invoke, :f :write, :value 2, :process 6, :time 39368486344, :index 3546}
{:type :ok, :f :write, :value 2, :process 6, :time 39371600364, :index 3547}
{:type :invoke, :f :write, :value 2, :process 0, :time 39373133184, :index 3548}
{:type :ok, :f :write, :value 2, :process 0, :time 39375971544, :index 3549}
{:type :invoke, :f :write, :value 2, :process 6, :time 39382808994, :index 3550}
{:type :ok, :f :write, :value 2, :process 6, :time 39385431244, :index 3551}
{:type :invoke, :f :read, :value nil, :process 3, :time 39393649993, :index 3552}
{:type :ok, :f :read, :value 2, :process 3, :time 39394810464, :index 3553}
{:type :invoke, :f :read, :value nil, :process 4, :time 39405563593, :index 3554}
{:type :ok, :f :read, :value 2, :process 4, :time 39407024293, :index 3555}
{:type :invoke, :f :cas, :value [4 1], :process 2, :time 39411497663, :index 3556}
{:type :fail, :f :cas, :value [4 1], :process 2, :time 39414586003, :index 3557}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 39471253432, :index 3558}
{:type :ok, :f :cas, :value [2 3], :process 0, :time 39474600522, :index 3559}
{:type :invoke, :f :cas, :value [3 0], :process 3, :time 39496052761, :index 3560}
{:type :invoke, :f :write, :value 1, :process 6, :time 39498630511, :index 3561}
{:type :ok, :f :cas, :value [3 0], :process 3, :time 39499609411, :index 3562}
{:type :ok, :f :write, :value 1, :process 6, :time 39502125761, :index 3563}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 39541329941, :index 3564}
{:type :ok, :f :cas, :value [1 1], :process 4, :time 39545195130, :index 3565}
{:type :invoke, :f :read, :value nil, :process 2, :time 39547817781, :index 3566}
{:type :ok, :f :read, :value 1, :process 2, :time 39549111280, :index 3567}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 39612404789, :index 3568}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 39616571199, :index 3569}
{:type :invoke, :f :write, :value 2, :process 6, :time 39621364359, :index 3570}
{:type :ok, :f :write, :value 2, :process 6, :time 39624676429, :index 3571}
{:type :invoke, :f :read, :value nil, :process 4, :time 39629498499, :index 3572}
{:type :ok, :f :read, :value 2, :process 4, :time 39631279949, :index 3573}
{:type :invoke, :f :write, :value 3, :process 2, :time 39642873819, :index 3574}
{:type :ok, :f :write, :value 3, :process 2, :time 39646567948, :index 3575}
{:type :invoke, :f :write, :value 1, :process 6, :time 39647951748, :index 3576}
{:type :invoke, :f :read, :value nil, :process 4, :time 39649540868, :index 3577}
{:type :invoke, :f :read, :value nil, :process 0, :time 39650854148, :index 3578}
{:type :ok, :f :write, :value 1, :process 6, :time 39651326358, :index 3579}
{:type :ok, :f :read, :value 3, :process 4, :time 39651328928, :index 3580}
{:type :ok, :f :read, :value 1, :process 0, :time 39652273958, :index 3581}
{:type :invoke, :f :write, :value 3, :process 3, :time 39683947187, :index 3582}
{:type :ok, :f :write, :value 3, :process 3, :time 39687829158, :index 3583}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 39752671086, :index 3584}
{:type :ok, :f :cas, :value [3 1], :process 6, :time 39755884646, :index 3585}
{:type :invoke, :f :write, :value 3, :process 3, :time 39779131436, :index 3586}
{:type :ok, :f :write, :value 3, :process 3, :time 39782002936, :index 3587}
{:type :invoke, :f :cas, :value [0 2], :process 2, :time 39787884346, :index 3588}
{:type :fail, :f :cas, :value [0 2], :process 2, :time 39790774576, :index 3589}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 39801663185, :index 3590}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 39804624725, :index 3591}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 39822469235, :index 3592}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 39825414765, :index 3593}
{:type :invoke, :f :write, :value 4, :process 2, :time 39826047115, :index 3594}
{:type :ok, :f :write, :value 4, :process 2, :time 39828575705, :index 3595}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 39874874794, :index 3596}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 39878005264, :index 3597}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 39920237573, :index 3598}
{:type :invoke, :f :read, :value nil, :process 0, :time 39923638583, :index 3599}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 39923959973, :index 3600}
{:type :ok, :f :read, :value 4, :process 0, :time 39924995803, :index 3601}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 39954191532, :index 3602}
{:type :ok, :f :cas, :value [4 4], :process 6, :time 39957715452, :index 3603}
{:type :invoke, :f :read, :value nil, :process 0, :time 40003260541, :index 3604}
{:type :ok, :f :read, :value 4, :process 0, :time 40004808272, :index 3605}
{:type :invoke, :f :cas, :value [3 0], :process 2, :time 40006784181, :index 3606}
{:type :fail, :f :cas, :value [3 0], :process 2, :time 40010215131, :index 3607}
{:type :invoke, :f :write, :value 1, :process 4, :time 40046257551, :index 3608}
{:type :ok, :f :write, :value 1, :process 4, :time 40049728640, :index 3609}
{:type :invoke, :f :write, :value 1, :process 6, :time 40086005219, :index 3612}
{:type :ok, :f :write, :value 1, :process 6, :time 40089320580, :index 3613}
{:type :invoke, :f :read, :value nil, :process 3, :time 40098274070, :index 3614}
{:type :ok, :f :read, :value 1, :process 3, :time 40099576899, :index 3615}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
