{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 20948121067, :index 1803}
{:type :ok, :f :cas, :value [0 2], :process 4, :time 20959539227, :index 1804}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 21019811075, :index 1809}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 21029258056, :index 1810}
{:type :invoke, :f :write, :value 1, :process 2, :time 21032338706, :index 1811}
{:type :ok, :f :write, :value 1, :process 2, :time 21038386395, :index 1812}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 21083107985, :index 1813}
{:type :ok, :f :cas, :value [1 4], :process 4, :time 21091514965, :index 1814}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 21093733454, :index 1815}
{:type :invoke, :f :read, :value nil, :process 6, :time 21094868714, :index 1816}
{:type :ok, :f :read, :value 4, :process 6, :time 21097044524, :index 1817}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 21098835584, :index 1818}
{:type :invoke, :f :write, :value 3, :process 0, :time 21120430724, :index 1819}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 21121201704, :index 1820}
{:type :ok, :f :write, :value 3, :process 0, :time 21126537254, :index 1821}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 21127848833, :index 1822}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :invoke, :f :read, :value nil, :process 4, :time 21144830033, :index 1824}
{:type :ok, :f :read, :value 3, :process 4, :time 21146667764, :index 1825}
{:type :invoke, :f :write, :value 3, :process 2, :time 21161875853, :index 1826}
{:type :invoke, :f :read, :value nil, :process 0, :time 21163903543, :index 1827}
{:type :ok, :f :read, :value 3, :process 0, :time 21165464103, :index 1828}
{:type :ok, :f :write, :value 3, :process 2, :time 21169955572, :index 1829}
{:type :invoke, :f :write, :value 0, :process 3, :time 21180148013, :index 1830}
{:type :ok, :f :write, :value 0, :process 3, :time 21184943683, :index 1831}
{:type :invoke, :f :read, :value nil, :process 0, :time 21221740542, :index 1832}
{:type :ok, :f :read, :value 0, :process 0, :time 21223538042, :index 1833}
{:type :invoke, :f :read, :value nil, :process 6, :time 21237298071, :index 1834}
{:type :ok, :f :read, :value 0, :process 6, :time 21239408622, :index 1835}
{:type :invoke, :f :write, :value 0, :process 4, :time 21263098781, :index 1836}
{:type :ok, :f :write, :value 0, :process 4, :time 21274666441, :index 1837}
{:type :invoke, :f :write, :value 0, :process 2, :time 21296290300, :index 1838}
{:type :ok, :f :write, :value 0, :process 2, :time 21300696230, :index 1839}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 21308703390, :index 1840}
{:type :fail, :f :cas, :value [4 4], :process 6, :time 21313615590, :index 1841}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 21315262330, :index 1842}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 21319473970, :index 1843}
{:type :invoke, :f :write, :value 0, :process 6, :time 21348939729, :index 1844}
{:type :invoke, :f :write, :value 4, :process 3, :time 21356764679, :index 1845}
{:type :ok, :f :write, :value 0, :process 6, :time 21357117679, :index 1846}
{:type :ok, :f :write, :value 4, :process 3, :time 21360526889, :index 1847}
{:type :invoke, :f :write, :value 2, :process 3, :time 21362777839, :index 1848}
{:type :ok, :f :write, :value 2, :process 3, :time 21366160189, :index 1849}
{:type :invoke, :f :write, :value 4, :process 4, :time 21404107758, :index 1850}
{:type :ok, :f :write, :value 4, :process 4, :time 21411307408, :index 1851}
{:type :invoke, :f :read, :value nil, :process 0, :time 21412792038, :index 1852}
{:type :ok, :f :read, :value 4, :process 0, :time 21414426868, :index 1853}
{:type :invoke, :f :cas, :value [1 4], :process 2, :time 21444027107, :index 1854}
{:type :fail, :f :cas, :value [1 4], :process 2, :time 21450408727, :index 1855}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 21462591287, :index 1856}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 21466856647, :index 1857}
{:type :invoke, :f :write, :value 1, :process 3, :time 21526389956, :index 1858}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 21531424736, :index 1859}
{:type :ok, :f :write, :value 1, :process 3, :time 21535667215, :index 1860}
{:type :fail, :f :cas, :value [4 4], :process 6, :time 21536342095, :index 1861}
{:type :invoke, :f :read, :value nil, :process 0, :time 21591647074, :index 1862}
{:type :ok, :f :read, :value 1, :process 0, :time 21593683334, :index 1863}
{:type :invoke, :f :write, :value 2, :process 0, :time 21597918634, :index 1864}
{:type :invoke, :f :cas, :value [2 4], :process 2, :time 21604689704, :index 1865}
{:type :ok, :f :write, :value 2, :process 0, :time 21607765804, :index 1866}
{:type :ok, :f :cas, :value [2 4], :process 2, :time 21608772944, :index 1867}
{:type :invoke, :f :write, :value 3, :process 4, :time 21609107264, :index 1868}
{:type :ok, :f :write, :value 3, :process 4, :time 21613578354, :index 1869}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 21616618484, :index 1870}
{:type :fail, :f :cas, :value [1 0], :process 6, :time 21621839644, :index 1871}
{:type :invoke, :f :cas, :value [2 1], :process 6, :time 21666113753, :index 1872}
{:type :fail, :f :cas, :value [2 1], :process 6, :time 21677129393, :index 1873}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 21699827913, :index 1874}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 21705207062, :index 1875}
{:type :invoke, :f :write, :value 0, :process 3, :time 21721069362, :index 1876}
{:type :ok, :f :write, :value 0, :process 3, :time 21726556832, :index 1877}
{:type :invoke, :f :write, :value 3, :process 6, :time 21730451562, :index 1878}
{:type :ok, :f :write, :value 3, :process 6, :time 21734770212, :index 1879}
{:type :invoke, :f :cas, :value [3 1], :process 2, :time 21750076171, :index 1880}
{:type :ok, :f :cas, :value [3 1], :process 2, :time 21754586621, :index 1881}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 21758053971, :index 1882}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 21761724511, :index 1883}
{:type :invoke, :f :read, :value nil, :process 2, :time 21783858260, :index 1884}
{:type :ok, :f :read, :value 1, :process 2, :time 21785350610, :index 1885}
{:type :invoke, :f :write, :value 2, :process 6, :time 21808058650, :index 1886}
{:type :ok, :f :write, :value 2, :process 6, :time 21814790240, :index 1887}
{:type :invoke, :f :read, :value nil, :process 0, :time 21844948669, :index 1888}
{:type :ok, :f :read, :value 2, :process 0, :time 21846369979, :index 1889}
{:type :invoke, :f :read, :value nil, :process 3, :time 21856837289, :index 1890}
{:type :ok, :f :read, :value 2, :process 3, :time 21858277699, :index 1891}
{:type :invoke, :f :write, :value 2, :process 4, :time 21884497179, :index 1892}
{:type :ok, :f :write, :value 2, :process 4, :time 21889188529, :index 1893}
{:type :invoke, :f :write, :value 3, :process 2, :time 21898640768, :index 1894}
{:type :ok, :f :write, :value 3, :process 2, :time 21902259008, :index 1895}
{:type :invoke, :f :cas, :value [2 4], :process 6, :time 21905091548, :index 1896}
{:type :fail, :f :cas, :value [2 4], :process 6, :time 21908957758, :index 1897}
{:type :invoke, :f :cas, :value [1 4], :process 2, :time 21916556208, :index 1898}
{:type :fail, :f :cas, :value [1 4], :process 2, :time 21923186178, :index 1899}
{:type :invoke, :f :write, :value 1, :process 3, :time 21926512868, :index 1900}
{:type :ok, :f :write, :value 1, :process 3, :time 21932461097, :index 1901}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 21950609937, :index 1902}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 21955638677, :index 1903}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 21988479527, :index 1904}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 21992892387, :index 1905}
{:type :invoke, :f :read, :value nil, :process 6, :time 21995204816, :index 1906}
{:type :ok, :f :read, :value 1, :process 6, :time 21996768636, :index 1907}
{:type :invoke, :f :read, :value nil, :process 2, :time 22070681805, :index 1908}
{:type :ok, :f :read, :value 1, :process 2, :time 22072471635, :index 1909}
{:type :invoke, :f :write, :value 1, :process 3, :time 22075762565, :index 1910}
{:type :ok, :f :write, :value 1, :process 3, :time 22088119654, :index 1911}
{:type :invoke, :f :read, :value nil, :process 4, :time 22098205125, :index 1912}
{:type :ok, :f :read, :value 1, :process 4, :time 22099978885, :index 1913}
{:type :invoke, :f :write, :value 0, :process 0, :time 22122009394, :index 1914}
{:type :ok, :f :write, :value 0, :process 0, :time 22128947634, :index 1915}
{:type :invoke, :f :write, :value 1, :process 6, :time 22149056613, :index 1916}
{:type :ok, :f :write, :value 1, :process 6, :time 22155491653, :index 1917}
{:type :invoke, :f :cas, :value [0 1], :process 0, :time 22160258653, :index 1918}
{:type :fail, :f :cas, :value [0 1], :process 0, :time 22163891933, :index 1919}
{:type :invoke, :f :write, :value 1, :process 4, :time 22165214193, :index 1920}
{:type :ok, :f :write, :value 1, :process 4, :time 22168966783, :index 1921}
{:type :invoke, :f :read, :value nil, :process 0, :time 22207179032, :index 1922}
{:type :invoke, :f :read, :value nil, :process 2, :time 22207746832, :index 1923}
{:type :ok, :f :read, :value 1, :process 2, :time 22209286252, :index 1924}
{:type :ok, :f :read, :value 1, :process 0, :time 22209286402, :index 1925}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 22264439451, :index 1926}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 22271311581, :index 1927}
{:type :invoke, :f :cas, :value [4 0], :process 4, :time 22282221221, :index 1928}
{:type :fail, :f :cas, :value [4 0], :process 4, :time 22287410341, :index 1929}
{:type :invoke, :f :cas, :value [2 4], :process 6, :time 22344842120, :index 1930}
{:type :fail, :f :cas, :value [2 4], :process 6, :time 22356200649, :index 1931}
{:type :invoke, :f :cas, :value [2 1], :process 2, :time 22357546119, :index 1932}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 22407678708, :index 1933}
{:type :invoke, :f :read, :value nil, :process 4, :time 22423448158, :index 1934}
{:type :invoke, :f :read, :value nil, :process 3, :time 22423675998, :index 1935}
{:type :fail, :f :cas, :value [2 1], :process 2, :time 22424381828, :index 1936}
{:type :ok, :f :read, :value 1, :process 4, :time 22426244918, :index 1937}
{:type :ok, :f :read, :value 1, :process 3, :time 22426690538, :index 1938}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 22433113418, :index 1939}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 22441661598, :index 1940}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 22446457478, :index 1941}
{:type :invoke, :f :cas, :value [2 1], :process 6, :time 22473677017, :index 1942}
{:type :fail, :f :cas, :value [2 1], :process 6, :time 22479989827, :index 1943}
{:type :invoke, :f :read, :value nil, :process 0, :time 22486866947, :index 1944}
{:type :ok, :f :read, :value 1, :process 0, :time 22488524777, :index 1945}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 22562524005, :index 1946}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 22577258615, :index 1947}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 22597968585, :index 1948}
{:type :invoke, :f :read, :value nil, :process 2, :time 22600670664, :index 1949}
{:type :ok, :f :read, :value 1, :process 2, :time 22602047604, :index 1950}
{:type :invoke, :f :write, :value 0, :process 2, :time 22603290015, :index 1951}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 22604177175, :index 1952}
{:type :ok, :f :write, :value 0, :process 2, :time 22607201824, :index 1953}
{:type :invoke, :f :cas, :value [3 3], :process 3, :time 22618418015, :index 1954}
{:type :fail, :f :cas, :value [3 3], :process 3, :time 22623927274, :index 1955}
{:type :invoke, :f :read, :value nil, :process 6, :time 22626300064, :index 1956}
{:type :ok, :f :read, :value 0, :process 6, :time 22627963194, :index 1957}
{:type :invoke, :f :read, :value nil, :process 0, :time 22637747504, :index 1958}
{:type :ok, :f :read, :value 0, :process 0, :time 22639425524, :index 1959}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 22645569223, :index 1960}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 22651953364, :index 1961}
{:type :invoke, :f :read, :value nil, :process 2, :time 22659447394, :index 1962}
{:type :ok, :f :read, :value 0, :process 2, :time 22660867514, :index 1963}
{:type :invoke, :f :read, :value nil, :process 6, :time 22717230892, :index 1964}
{:type :ok, :f :read, :value 0, :process 6, :time 22719169552, :index 1965}
{:type :invoke, :f :write, :value 1, :process 3, :time 22740232682, :index 1966}
{:type :ok, :f :write, :value 1, :process 3, :time 22752918792, :index 1967}
{:type :invoke, :f :write, :value 4, :process 0, :time 22772659501, :index 1968}
{:type :invoke, :f :write, :value 1, :process 6, :time 22776418441, :index 1969}
{:type :ok, :f :write, :value 4, :process 0, :time 22778835181, :index 1970}
{:type :ok, :f :write, :value 1, :process 6, :time 22779781801, :index 1971}
{:type :invoke, :f :read, :value nil, :process 3, :time 22791259311, :index 1972}
{:type :ok, :f :read, :value 1, :process 3, :time 22792790481, :index 1973}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 22797229480, :index 1974}
{:type :ok, :f :cas, :value [1 0], :process 4, :time 22802080391, :index 1975}
{:type :invoke, :f :write, :value 3, :process 0, :time 22812086231, :index 1976}
{:type :ok, :f :write, :value 3, :process 0, :time 22816550160, :index 1977}
{:type :invoke, :f :write, :value 0, :process 2, :time 22854121779, :index 1978}
{:type :ok, :f :write, :value 0, :process 2, :time 22894523919, :index 1979}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 22916326338, :index 1980}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 22920943918, :index 1981}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 22923306238, :index 1982}
{:type :ok, :f :cas, :value [0 0], :process 0, :time 22924945528, :index 1983}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 22933020438, :index 1984}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 22937154168, :index 1985}
{:type :invoke, :f :read, :value nil, :process 6, :time 22959026158, :index 1986}
{:type :ok, :f :read, :value 0, :process 6, :time 22960971378, :index 1987}
{:type :invoke, :f :write, :value 0, :process 4, :time 22971574457, :index 1988}
{:type :ok, :f :write, :value 0, :process 4, :time 22976697427, :index 1989}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 23003952447, :index 1990}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 23009654846, :index 1991}
{:type :invoke, :f :read, :value nil, :process 3, :time 23013472576, :index 1992}
{:type :ok, :f :read, :value 0, :process 3, :time 23014843606, :index 1993}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 23016931246, :index 1994}
{:type :ok, :f :cas, :value [0 2], :process 4, :time 23020904576, :index 1995}
{:type :invoke, :f :write, :value 3, :process 2, :time 23031857716, :index 1996}
{:type :ok, :f :write, :value 3, :process 2, :time 23036087156, :index 1997}
{:type :invoke, :f :write, :value 1, :process 0, :time 23044166866, :index 1998}
{:type :ok, :f :write, :value 1, :process 0, :time 23048381996, :index 1999}
{:type :invoke, :f :write, :value 1, :process 4, :time 23105161774, :index 2002}
{:type :ok, :f :write, :value 1, :process 4, :time 23112578005, :index 2003}
{:type :invoke, :f :write, :value 0, :process 2, :time 23119381434, :index 2005}
{:type :ok, :f :write, :value 0, :process 2, :time 23123077804, :index 2007}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 23133291194, :index 2008}
{:type :ok, :f :cas, :value [0 4], :process 6, :time 23138070064, :index 2009}
{:type :invoke, :f :read, :value nil, :process 3, :time 23185053563, :index 2010}
{:type :ok, :f :read, :value 4, :process 3, :time 23186745243, :index 2011}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
