{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :invoke, :f :read, :value nil, :process 6, :time 52472583895, :index 4820}
{:type :fail, :f :read, :value nil, :process 6, :time 52474201526, :error "Remoting error:null", :index 4821}
{:type :invoke, :f :write, :value 3, :process 4, :time 52489329345, :index 4822}
{:type :ok, :f :write, :value 3, :process 4, :time 52492279485, :index 4823}
{:type :invoke, :f :write, :value 4, :process 0, :time 52537502684, :index 4824}
{:type :ok, :f :write, :value 4, :process 0, :time 52540520904, :index 4825}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 52583762053, :index 4826}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 52586738524, :index 4827}
{:type :invoke, :f :read, :value nil, :process 4, :time 52589515343, :index 4828}
{:type :ok, :f :read, :value 4, :process 4, :time 52590511503, :index 4829}
{:type :invoke, :f :write, :value 0, :process 3, :time 52618730143, :index 4830}
{:type :ok, :f :write, :value 0, :process 3, :time 52621960163, :index 4831}
{:type :invoke, :f :read, :value nil, :process 6, :time 52642397602, :index 4832}
{:type :ok, :f :read, :value 0, :process 6, :time 52643925902, :index 4833}
{:type :invoke, :f :read, :value nil, :process 0, :time 52645812332, :index 4834}
{:type :ok, :f :read, :value 0, :process 0, :time 52647381292, :index 4835}
{:type :invoke, :f :cas, :value [2 1], :process 0, :time 52669594182, :index 4836}
{:type :fail, :f :cas, :value [2 1], :process 0, :time 52672902161, :index 4837}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 52677143102, :index 4838}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 52680125532, :index 4839}
{:type :invoke, :f :read, :value nil, :process 0, :time 52700363841, :index 4840}
{:type :ok, :f :read, :value 0, :process 0, :time 52701719061, :index 4841}
{:type :invoke, :f :cas, :value [4 3], :process 2, :time 52747010300, :index 4842}
{:type :fail, :f :cas, :value [4 3], :process 2, :time 52750264580, :index 4843}
{:type :invoke, :f :read, :value nil, :process 3, :time 52763168120, :index 4844}
{:type :ok, :f :read, :value 0, :process 3, :time 52764653249, :index 4845}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 52776705980, :index 4846}
{:type :ok, :f :cas, :value [0 2], :process 4, :time 52780393889, :index 4847}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 52787913729, :index 4848}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 52791172829, :index 4849}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 52796734629, :index 4850}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 52801212469, :index 4851}
{:type :invoke, :f :cas, :value [3 3], :process 3, :time 52821841439, :index 4852}
{:type :fail, :f :cas, :value [3 3], :process 3, :time 52825650728, :index 4853}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 52830197949, :index 4854}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 52833619628, :index 4855}
{:type :invoke, :f :write, :value 2, :process 2, :time 52835473128, :index 4856}
{:type :ok, :f :write, :value 2, :process 2, :time 52838411639, :index 4857}
{:type :invoke, :f :write, :value 0, :process 3, :time 52848887718, :index 4858}
{:type :ok, :f :write, :value 0, :process 3, :time 52852164298, :index 4859}
{:type :invoke, :f :write, :value 2, :process 4, :time 52943572126, :index 4860}
{:type :ok, :f :write, :value 2, :process 4, :time 52947570166, :index 4861}
{:type :invoke, :f :write, :value 0, :process 2, :time 52962662746, :index 4862}
{:type :ok, :f :write, :value 0, :process 2, :time 52966590056, :index 4863}
{:type :invoke, :f :write, :value 2, :process 0, :time 52970390026, :index 4864}
{:type :ok, :f :write, :value 2, :process 0, :time 52973787036, :index 4865}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 52989889156, :index 4866}
{:type :ok, :f :cas, :value [2 2], :process 6, :time 52993183125, :index 4867}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 53035041284, :index 4868}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 53036363994, :index 4869}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 53038769334, :index 4870}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 53039654434, :index 4871}
{:type :invoke, :f :write, :value 2, :process 4, :time 53145857612, :index 4872}
{:type :ok, :f :write, :value 2, :process 4, :time 53149327092, :index 4873}
{:type :invoke, :f :write, :value 1, :process 2, :time 53153914612, :index 4874}
{:type :ok, :f :write, :value 1, :process 2, :time 53156993402, :index 4875}
{:type :invoke, :f :read, :value nil, :process 0, :time 53175056952, :index 4876}
{:type :invoke, :f :write, :value 1, :process 6, :time 53176462302, :index 4877}
{:type :ok, :f :read, :value 1, :process 0, :time 53176718642, :index 4878}
{:type :ok, :f :write, :value 1, :process 6, :time 53179842532, :index 4879}
{:type :invoke, :f :cas, :value [0 2], :process 3, :time 53223097100, :index 4880}
{:type :fail, :f :cas, :value [0 2], :process 3, :time 53227176451, :index 4881}
{:type :invoke, :f :write, :value 1, :process 4, :time 53255572260, :index 4882}
{:type :ok, :f :write, :value 1, :process 4, :time 53258982830, :index 4883}
{:type :invoke, :f :read, :value nil, :process 0, :time 53258973830, :index 4884}
{:type :ok, :f :read, :value 1, :process 0, :time 53260345710, :index 4885}
{:type :invoke, :f :read, :value nil, :process 3, :time 53322925169, :index 4886}
{:type :ok, :f :read, :value 1, :process 3, :time 53325480069, :index 4887}
{:type :invoke, :f :write, :value 1, :process 2, :time 53332293829, :index 4888}
{:type :invoke, :f :cas, :value [3 0], :process 6, :time 53422982537, :index 4889}
{:type :invoke, :f :write, :value 1, :process 4, :time 53427205367, :index 4890}
{:type :invoke, :f :write, :value 2, :process 0, :time 53440524336, :index 4891}
{:type :invoke, :f :read, :value nil, :process 3, :time 53445779176, :index 4892}
{:type :ok, :f :read, :value 1, :process 3, :time 53531567594, :index 4893}
{:type :ok, :f :write, :value 2, :process 0, :time 53533469325, :index 4894}
{:type :ok, :f :write, :value 1, :process 4, :time 53533477575, :index 4895}
{:type :fail, :f :cas, :value [3 0], :process 6, :time 53533485945, :index 4896}
{:type :ok, :f :write, :value 1, :process 2, :time 53533492965, :index 4897}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 53609774453, :index 4898}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 53626000243, :index 4899}
{:type :invoke, :f :cas, :value [2 2], :process 0, :time 53626182823, :index 4900}
{:type :invoke, :f :cas, :value [3 0], :process 2, :time 53627745612, :index 4901}
{:type :ok, :f :cas, :value [2 2], :process 0, :time 53629455663, :index 4902}
{:type :fail, :f :cas, :value [3 0], :process 2, :time 53630882773, :index 4903}
{:type :invoke, :f :write, :value 2, :process 3, :time 53680881302, :index 4904}
{:type :ok, :f :write, :value 2, :process 3, :time 53684491271, :index 4905}
{:type :invoke, :f :read, :value nil, :process 6, :time 53692770642, :index 4906}
{:type :ok, :f :read, :value 2, :process 6, :time 53693796652, :index 4907}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 53715718041, :index 4908}
{:type :ok, :f :cas, :value [2 1], :process 4, :time 53725433471, :index 4909}
{:type :invoke, :f :read, :value nil, :process 6, :time 53733982341, :index 4910}
{:type :ok, :f :read, :value 1, :process 6, :time 53735214161, :index 4911}
{:type :invoke, :f :cas, :value [1 0], :process 2, :time 53755106830, :index 4912}
{:type :ok, :f :cas, :value [1 0], :process 2, :time 53758008600, :index 4913}
{:type :invoke, :f :read, :value nil, :process 2, :time 53760197230, :index 4914}
{:type :ok, :f :read, :value 0, :process 2, :time 53761143530, :index 4915}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 53771400250, :index 4916}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 53774083150, :index 4917}
{:type :invoke, :f :read, :value nil, :process 2, :time 53788333860, :index 4918}
{:type :ok, :f :read, :value 0, :process 2, :time 53789785060, :index 4919}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 53813690509, :index 4920}
{:type :ok, :f :cas, :value [0 3], :process 0, :time 53816958289, :index 4921}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 53871652378, :index 4922}
{:type :ok, :f :cas, :value [3 3], :process 4, :time 53874780238, :index 4923}
{:type :invoke, :f :cas, :value [0 1], :process 2, :time 53876991308, :index 4924}
{:type :invoke, :f :write, :value 4, :process 3, :time 53877733818, :index 4925}
{:type :fail, :f :cas, :value [0 1], :process 2, :time 53880330208, :index 4926}
{:type :ok, :f :write, :value 4, :process 3, :time 53881183448, :index 4927}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 53895277577, :index 4928}
{:type :ok, :f :cas, :value [4 1], :process 6, :time 53898387107, :index 4929}
{:type :invoke, :f :write, :value 4, :process 2, :time 53922558797, :index 4930}
{:type :ok, :f :write, :value 4, :process 2, :time 53926674967, :index 4931}
{:type :invoke, :f :read, :value nil, :process 2, :time 53944095917, :index 4932}
{:type :ok, :f :read, :value 4, :process 2, :time 53945802897, :index 4933}
{:type :invoke, :f :write, :value 0, :process 0, :time 53982173936, :index 4934}
{:type :ok, :f :write, :value 0, :process 0, :time 53985592385, :index 4935}
{:type :invoke, :f :read, :value nil, :process 6, :time 54027604485, :index 4936}
{:type :ok, :f :read, :value 0, :process 6, :time 54028784575, :index 4937}
{:type :invoke, :f :write, :value 1, :process 2, :time 54032064545, :index 4938}
{:type :ok, :f :write, :value 1, :process 2, :time 54035191785, :index 4939}
{:type :invoke, :f :write, :value 0, :process 3, :time 54052366294, :index 4940}
{:type :ok, :f :write, :value 0, :process 3, :time 54055399184, :index 4941}
{:type :invoke, :f :read, :value nil, :process 4, :time 54067053014, :index 4942}
{:type :ok, :f :read, :value 0, :process 4, :time 54068250994, :index 4943}
{:type :invoke, :f :read, :value nil, :process 4, :time 54102492773, :index 4944}
{:type :ok, :f :read, :value 0, :process 4, :time 54103722583, :index 4945}
{:type :invoke, :f :read, :value nil, :process 0, :time 54114848503, :index 4946}
{:type :ok, :f :read, :value 0, :process 0, :time 54116012433, :index 4947}
{:type :invoke, :f :read, :value nil, :process 2, :time 54119403283, :index 4948}
{:type :ok, :f :read, :value 0, :process 2, :time 54120485283, :index 4949}
{:type :invoke, :f :write, :value 4, :process 3, :time 54136652243, :index 4950}
{:type :ok, :f :write, :value 4, :process 3, :time 54139993893, :index 4951}
{:type :invoke, :f :write, :value 1, :process 6, :time 54180990602, :index 4952}
{:type :ok, :f :write, :value 1, :process 6, :time 54184637212, :index 4953}
{:type :invoke, :f :read, :value nil, :process 4, :time 54212970812, :index 4954}
{:type :ok, :f :read, :value 1, :process 4, :time 54214304881, :index 4955}
{:type :invoke, :f :read, :value nil, :process 2, :time 54218671211, :index 4956}
{:type :ok, :f :read, :value 1, :process 2, :time 54219886851, :index 4957}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 54248273061, :index 4958}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 54251930231, :index 4959}
{:type :invoke, :f :read, :value nil, :process 2, :time 54282113620, :index 4960}
{:type :ok, :f :read, :value 1, :process 2, :time 54283813540, :index 4961}
{:type :invoke, :f :read, :value nil, :process 0, :time 54298200489, :index 4962}
{:type :ok, :f :read, :value 1, :process 0, :time 54299630599, :index 4963}
{:type :invoke, :f :cas, :value [4 2], :process 3, :time 54318194879, :index 4964}
{:type :fail, :f :cas, :value [4 2], :process 3, :time 54321343339, :index 4965}
{:type :invoke, :f :read, :value nil, :process 0, :time 54346842869, :index 4966}
{:type :ok, :f :read, :value 1, :process 0, :time 54347905129, :index 4967}
{:type :invoke, :f :write, :value 3, :process 6, :time 54372868928, :index 4968}
{:type :ok, :f :write, :value 3, :process 6, :time 54375742098, :index 4969}
{:type :invoke, :f :write, :value 3, :process 4, :time 54397493718, :index 4970}
{:type :ok, :f :write, :value 3, :process 4, :time 54400413368, :index 4971}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 54417105467, :index 4972}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 54420075997, :index 4973}
{:type :invoke, :f :cas, :value [0 3], :process 2, :time 54445065547, :index 4974}
{:type :fail, :f :cas, :value [0 3], :process 2, :time 54448505267, :index 4975}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 54479554146, :index 4976}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 54483226926, :index 4977}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 54518616155, :index 4978}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 54521811135, :index 4979}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 54521944715, :index 4980}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 54524778205, :index 4981}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 54539515405, :index 4982}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 54542420174, :index 4983}
{:type :invoke, :f :write, :value 0, :process 3, :time 54564614524, :index 4984}
{:type :ok, :f :write, :value 0, :process 3, :time 54567772464, :index 4985}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 54586033254, :index 4986}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 54589277134, :index 4987}
{:type :invoke, :f :cas, :value [2 4], :process 2, :time 54616767903, :index 4988}
{:type :invoke, :f :read, :value nil, :process 0, :time 54619255393, :index 4989}
{:type :fail, :f :cas, :value [2 4], :process 2, :time 54619897983, :index 4990}
{:type :ok, :f :read, :value 0, :process 0, :time 54620599593, :index 4991}
{:type :invoke, :f :read, :value nil, :process 2, :time 54622086723, :index 4992}
{:type :ok, :f :read, :value 0, :process 2, :time 54623035013, :index 4993}
{:type :invoke, :f :write, :value 4, :process 3, :time 54642985793, :index 4994}
{:type :ok, :f :write, :value 4, :process 3, :time 54645692313, :index 4995}
{:type :invoke, :f :cas, :value [4 1], :process 2, :time 54647198553, :index 4996}
{:type :ok, :f :cas, :value [4 1], :process 2, :time 54649678073, :index 4997}
{:type :invoke, :f :read, :value nil, :process 2, :time 54687846182, :index 4998}
{:type :ok, :f :read, :value 1, :process 2, :time 54688946512, :index 4999}
{:type :invoke, :f :write, :value 0, :process 0, :time 54691764822, :index 5000}
{:type :ok, :f :write, :value 0, :process 0, :time 54694296502, :index 5001}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 54694974331, :index 5002}
{:type :ok, :f :cas, :value [0 3], :process 6, :time 54697487531, :index 5003}
{:type :invoke, :f :write, :value 4, :process 0, :time 54713496142, :index 5004}
{:type :ok, :f :write, :value 4, :process 0, :time 54715953141, :index 5005}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 54724502001, :index 5006}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 54727110431, :index 5007}
{:type :invoke, :f :read, :value nil, :process 2, :time 54758130470, :index 5008}
{:type :ok, :f :read, :value 4, :process 2, :time 54759199850, :index 5009}
{:type :invoke, :f :write, :value 0, :process 6, :time 54799640410, :index 5010}
{:type :ok, :f :write, :value 0, :process 6, :time 54802643280, :index 5011}
{:type :invoke, :f :write, :value 3, :process 3, :time 54808879249, :index 5012}
{:type :ok, :f :write, :value 3, :process 3, :time 54811529609, :index 5013}
{:type :invoke, :f :write, :value 1, :process 2, :time 54880386608, :index 5015}
{:type :ok, :f :write, :value 1, :process 2, :time 54883609788, :index 5017}
{:type :invoke, :f :write, :value 4, :process 4, :time 54912282347, :index 5018}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 54914163277, :index 5019}
{:type :ok, :f :write, :value 4, :process 4, :time 54915487187, :index 5020}
{:type :ok, :f :cas, :value [4 3], :process 0, :time 54917071007, :index 5021}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
