{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :invoke, :f :read, :value nil, :process 0, :time 10442329454, :index 802}
{:type :fail, :f :read, :value nil, :process 0, :time 10444849974, :error "Remoting error:null", :index 803}
{:type :invoke, :f :write, :value 3, :process 4, :time 10466573804, :index 804}
{:type :ok, :f :write, :value 3, :process 4, :time 10475314703, :index 805}
{:type :invoke, :f :cas, :value [3 0], :process 3, :time 10476292103, :index 806}
{:type :ok, :f :cas, :value [3 0], :process 3, :time 10480921733, :index 807}
{:type :invoke, :f :write, :value 2, :process 6, :time 10525603593, :index 808}
{:type :invoke, :f :read, :value nil, :process 3, :time 10529227413, :index 809}
{:type :ok, :f :read, :value 0, :process 3, :time 10530916853, :index 810}
{:type :ok, :f :write, :value 2, :process 6, :time 10532385933, :index 811}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 10592608181, :index 812}
{:type :fail, :f :cas, :value [1 4], :process 4, :time 10602649151, :index 813}
{:type :invoke, :f :write, :value 2, :process 2, :time 10612015541, :index 814}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 10615184221, :index 815}
{:type :ok, :f :write, :value 2, :process 2, :time 10617827501, :index 816}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 10619629401, :index 817}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :invoke, :f :write, :value 0, :process 3, :time 10675227690, :index 819}
{:type :invoke, :f :read, :value nil, :process 2, :time 10683128230, :index 820}
{:type :ok, :f :write, :value 0, :process 3, :time 10683805290, :index 821}
{:type :ok, :f :read, :value 0, :process 2, :time 10684907590, :index 822}
{:type :invoke, :f :read, :value nil, :process 6, :time 10687633839, :index 823}
{:type :ok, :f :read, :value 0, :process 6, :time 10689418959, :index 824}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 10711233899, :index 825}
{:type :invoke, :f :read, :value nil, :process 3, :time 10714057719, :index 826}
{:type :ok, :f :read, :value 0, :process 3, :time 10715793969, :index 827}
{:type :ok, :f :cas, :value [0 3], :process 4, :time 10716689879, :index 828}
{:type :invoke, :f :write, :value 4, :process 0, :time 10719877199, :index 829}
{:type :ok, :f :write, :value 4, :process 0, :time 10723745959, :index 830}
{:type :invoke, :f :write, :value 2, :process 6, :time 10767643298, :index 831}
{:type :ok, :f :write, :value 2, :process 6, :time 10774836428, :index 832}
{:type :invoke, :f :read, :value nil, :process 0, :time 10808999737, :index 833}
{:type :ok, :f :read, :value 2, :process 0, :time 10810860927, :index 834}
{:type :invoke, :f :read, :value nil, :process 2, :time 10813121657, :index 835}
{:type :ok, :f :read, :value 2, :process 2, :time 10814570387, :index 836}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :invoke, :f :write, :value 2, :process 3, :time 10840107176, :index 838}
{:type :ok, :f :write, :value 2, :process 3, :time 10846225086, :index 839}
{:type :invoke, :f :write, :value 0, :process 4, :time 10864958596, :index 840}
{:type :invoke, :f :cas, :value [2 1], :process 0, :time 10868152726, :index 841}
{:type :ok, :f :write, :value 0, :process 4, :time 10871771556, :index 842}
{:type :fail, :f :cas, :value [2 1], :process 0, :time 10872593456, :index 843}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 10899823035, :index 844}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 10907439695, :index 845}
{:type :invoke, :f :cas, :value [0 0], :process 2, :time 10921802795, :index 846}
{:type :invoke, :f :read, :value nil, :process 6, :time 10923161665, :index 847}
{:type :ok, :f :read, :value 0, :process 6, :time 10924797305, :index 848}
{:type :ok, :f :cas, :value [0 0], :process 2, :time 10927649575, :index 849}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 10933058605, :index 850}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 10936991114, :index 851}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 10978564413, :index 852}
{:type :ok, :f :cas, :value [0 0], :process 3, :time 10985112664, :index 853}
{:type :invoke, :f :read, :value nil, :process 6, :time 10986041884, :index 854}
{:type :ok, :f :read, :value 0, :process 6, :time 10987515454, :index 855}
{:type :invoke, :f :write, :value 4, :process 6, :time 10988731744, :index 856}
{:type :ok, :f :write, :value 4, :process 6, :time 10992514573, :index 857}
{:type :invoke, :f :read, :value nil, :process 3, :time 11001379793, :index 858}
{:type :ok, :f :read, :value 4, :process 3, :time 11002944783, :index 859}
{:type :invoke, :f :write, :value 4, :process 0, :time 11041799352, :index 860}
{:type :ok, :f :write, :value 4, :process 0, :time 11050563003, :index 861}
{:type :invoke, :f :read, :value nil, :process 4, :time 11074191722, :index 862}
{:type :ok, :f :read, :value 4, :process 4, :time 11075912522, :index 863}
{:type :invoke, :f :write, :value 2, :process 2, :time 11099906961, :index 864}
{:type :ok, :f :write, :value 2, :process 2, :time 11107968371, :index 865}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 11132132291, :index 866}
{:type :fail, :f :cas, :value [3 1], :process 3, :time 11137965341, :index 867}
{:type :invoke, :f :write, :value 1, :process 6, :time 11144755970, :index 868}
{:type :invoke, :f :write, :value 0, :process 0, :time 11145954230, :index 869}
{:type :ok, :f :write, :value 1, :process 6, :time 11149524650, :index 870}
{:type :ok, :f :write, :value 0, :process 0, :time 11150221710, :index 871}
{:type :invoke, :f :read, :value nil, :process 6, :time 11173844680, :index 872}
{:type :ok, :f :read, :value 0, :process 6, :time 11175960030, :index 873}
{:type :invoke, :f :write, :value 2, :process 4, :time 11183067200, :index 874}
{:type :ok, :f :write, :value 2, :process 4, :time 11187323960, :index 875}
{:type :invoke, :f :write, :value 3, :process 0, :time 11189457679, :index 876}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 11193213729, :index 877}
{:type :ok, :f :write, :value 3, :process 0, :time 11193425249, :index 878}
{:type :ok, :f :cas, :value [3 2], :process 3, :time 11196680679, :index 879}
{:type :invoke, :f :cas, :value [0 1], :process 3, :time 11261949618, :index 880}
{:type :invoke, :f :cas, :value [0 3], :process 2, :time 11270260838, :index 881}
{:type :fail, :f :cas, :value [0 1], :process 3, :time 11270438288, :index 882}
{:type :fail, :f :cas, :value [0 3], :process 2, :time 11274564068, :index 883}
{:type :invoke, :f :write, :value 3, :process 4, :time 11295606418, :index 884}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 11298246098, :index 885}
{:type :ok, :f :write, :value 3, :process 4, :time 11302379287, :index 886}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 11303187487, :index 887}
{:type :invoke, :f :write, :value 3, :process 2, :time 11303944217, :index 888}
{:type :ok, :f :write, :value 3, :process 2, :time 11308005877, :index 889}
{:type :invoke, :f :read, :value nil, :process 6, :time 11316426007, :index 890}
{:type :ok, :f :read, :value 3, :process 6, :time 11317927737, :index 891}
{:type :invoke, :f :read, :value nil, :process 6, :time 11325135847, :index 892}
{:type :ok, :f :read, :value 3, :process 6, :time 11326645797, :index 893}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 11353701366, :index 894}
{:type :ok, :f :cas, :value [3 1], :process 0, :time 11359212886, :index 895}
{:type :invoke, :f :write, :value 0, :process 0, :time 11414519965, :index 896}
{:type :ok, :f :write, :value 0, :process 0, :time 11423746785, :index 897}
{:type :invoke, :f :read, :value nil, :process 3, :time 11442669155, :index 898}
{:type :ok, :f :read, :value 0, :process 3, :time 11444410675, :index 899}
{:type :invoke, :f :cas, :value [0 1], :process 3, :time 11475663354, :index 900}
{:type :invoke, :f :cas, :value [0 0], :process 2, :time 11477337014, :index 901}
{:type :ok, :f :cas, :value [0 1], :process 3, :time 11484106904, :index 902}
{:type :fail, :f :cas, :value [0 0], :process 2, :time 11484983094, :index 903}
{:type :invoke, :f :read, :value nil, :process 4, :time 11491786494, :index 904}
{:type :ok, :f :read, :value 1, :process 4, :time 11493421823, :index 905}
{:type :invoke, :f :read, :value nil, :process 6, :time 11503839624, :index 906}
{:type :ok, :f :read, :value 1, :process 6, :time 11505535754, :index 907}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 11517042373, :index 908}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 11524140023, :index 909}
{:type :invoke, :f :write, :value 4, :process 3, :time 11595421622, :index 910}
{:type :ok, :f :write, :value 4, :process 3, :time 11605191921, :index 911}
{:type :invoke, :f :cas, :value [4 0], :process 4, :time 11606635101, :index 912}
{:type :ok, :f :cas, :value [4 0], :process 4, :time 11610632501, :index 913}
{:type :invoke, :f :cas, :value [3 0], :process 2, :time 11633234671, :index 914}
{:type :fail, :f :cas, :value [3 0], :process 2, :time 11638969371, :index 915}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 11644770640, :index 916}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 11648965670, :index 917}
{:type :invoke, :f :write, :value 0, :process 4, :time 11704957169, :index 918}
{:type :ok, :f :write, :value 0, :process 4, :time 11712414229, :index 919}
{:type :invoke, :f :write, :value 3, :process 0, :time 11721407289, :index 920}
{:type :ok, :f :write, :value 3, :process 0, :time 11726433389, :index 921}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 11766544568, :index 922}
{:type :invoke, :f :read, :value nil, :process 2, :time 11770287598, :index 923}
{:type :ok, :f :read, :value 3, :process 2, :time 11772132848, :index 924}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 11773011658, :index 925}
{:type :invoke, :f :write, :value 3, :process 6, :time 11783256288, :index 926}
{:type :ok, :f :write, :value 3, :process 6, :time 11788497318, :index 927}
{:type :invoke, :f :write, :value 0, :process 4, :time 11795757648, :index 928}
{:type :ok, :f :write, :value 0, :process 4, :time 11800000017, :index 929}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 11817203857, :index 930}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 11821514017, :index 931}
{:type :invoke, :f :write, :value 0, :process 6, :time 11870776756, :index 932}
{:type :ok, :f :write, :value 0, :process 6, :time 11874880656, :index 933}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 11883754196, :index 934}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 11887519976, :index 935}
{:type :invoke, :f :read, :value nil, :process 2, :time 11920478615, :index 936}
{:type :ok, :f :read, :value 0, :process 2, :time 11922167545, :index 937}
{:type :invoke, :f :cas, :value [4 0], :process 2, :time 11928384555, :index 938}
{:type :fail, :f :cas, :value [4 0], :process 2, :time 11934112435, :index 939}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 11967219605, :index 940}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 11973330194, :index 941}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 11975172364, :index 942}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 11978893244, :index 943}
{:type :invoke, :f :write, :value 2, :process 4, :time 11989749293, :index 944}
{:type :ok, :f :write, :value 2, :process 4, :time 11993868064, :index 945}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 12018763653, :index 946}
{:type :ok, :f :cas, :value [2 4], :process 0, :time 12024029173, :index 947}
{:type :invoke, :f :read, :value nil, :process 2, :time 12129385211, :index 948}
{:type :ok, :f :read, :value 4, :process 2, :time 12131755081, :index 949}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 12149154791, :index 950}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 12162552280, :index 951}
{:type :invoke, :f :cas, :value [1 1], :process 6, :time 12165096500, :index 952}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 12166276200, :index 953}
{:type :invoke, :f :read, :value nil, :process 3, :time 12168618820, :index 954}
{:type :ok, :f :read, :value 4, :process 3, :time 12170522710, :index 955}
{:type :fail, :f :cas, :value [1 1], :process 6, :time 12170869700, :index 956}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 12171553550, :index 957}
{:type :invoke, :f :write, :value 2, :process 4, :time 12179858370, :index 958}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 12182765540, :index 959}
{:type :ok, :f :write, :value 2, :process 4, :time 12184141820, :index 960}
{:type :ok, :f :cas, :value [2 4], :process 0, :time 12186417980, :index 961}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 12213773960, :index 962}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 12219238639, :index 963}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 12230338559, :index 964}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 12235412919, :index 965}
{:type :invoke, :f :write, :value 3, :process 4, :time 12235602569, :index 966}
{:type :ok, :f :write, :value 3, :process 4, :time 12239520809, :index 967}
{:type :invoke, :f :write, :value 2, :process 6, :time 12255140399, :index 968}
{:type :ok, :f :write, :value 2, :process 6, :time 12260077478, :index 969}
{:type :invoke, :f :write, :value 0, :process 4, :time 12268794098, :index 970}
{:type :ok, :f :write, :value 0, :process 4, :time 12273100279, :index 971}
{:type :invoke, :f :read, :value nil, :process 4, :time 12290353318, :index 972}
{:type :ok, :f :read, :value 0, :process 4, :time 12292268638, :index 973}
{:type :invoke, :f :write, :value 3, :process 3, :time 12293476848, :index 974}
{:type :ok, :f :write, :value 3, :process 3, :time 12298630238, :index 975}
{:type :invoke, :f :read, :value nil, :process 4, :time 12313524707, :index 976}
{:type :ok, :f :read, :value 3, :process 4, :time 12315280647, :index 977}
{:type :invoke, :f :cas, :value [4 3], :process 2, :time 12326033417, :index 978}
{:type :fail, :f :cas, :value [4 3], :process 2, :time 12331772437, :index 979}
{:type :invoke, :f :cas, :value [0 0], :process 2, :time 12351052897, :index 980}
{:type :fail, :f :cas, :value [0 0], :process 2, :time 12356883416, :index 981}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 12383629756, :index 982}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 12389415796, :index 983}
{:type :invoke, :f :write, :value 2, :process 6, :time 12402366096, :index 984}
{:type :ok, :f :write, :value 2, :process 6, :time 12407401965, :index 985}
{:type :invoke, :f :write, :value 1, :process 4, :time 12449515095, :index 986}
{:type :ok, :f :write, :value 1, :process 4, :time 12457474695, :index 987}
{:type :invoke, :f :write, :value 4, :process 4, :time 12457653085, :index 988}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 12460659815, :index 989}
{:type :ok, :f :write, :value 4, :process 4, :time 12461558765, :index 990}
{:type :fail, :f :cas, :value [0 1], :process 6, :time 12464712235, :index 991}
{:type :invoke, :f :read, :value nil, :process 4, :time 12470777044, :index 992}
{:type :ok, :f :read, :value 4, :process 4, :time 12472320144, :index 993}
{:type :invoke, :f :write, :value 1, :process 3, :time 12487905214, :index 994}
{:type :ok, :f :write, :value 1, :process 3, :time 12492696254, :index 995}
{:type :invoke, :f :read, :value nil, :process 0, :time 12516662203, :index 996}
{:type :ok, :f :read, :value 1, :process 0, :time 12518673083, :index 997}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 12554200453, :index 998}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 12558549723, :index 999}
{:type :invoke, :f :read, :value nil, :process 6, :time 12606961571, :index 1001}
{:type :ok, :f :read, :value 1, :process 6, :time 12608825292, :index 1002}
{:type :invoke, :f :read, :value nil, :process 4, :time 12623514341, :index 1004}
{:type :ok, :f :read, :value 1, :process 4, :time 12625479701, :index 1005}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
