{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :invoke, :f :read, :value nil, :process 2, :time 40082452580, :index 3610}
{:type :fail, :f :read, :value nil, :process 2, :time 40084528530, :error "Remoting error:null", :index 3611}
{:type :invoke, :f :cas, :value [0 4], :process 2, :time 40145887158, :index 3616}
{:type :invoke, :f :write, :value 2, :process 4, :time 40146012278, :index 3617}
{:type :invoke, :f :write, :value 4, :process 0, :time 40147230408, :index 3618}
{:type :ok, :f :cas, :value [0 4], :process 2, :time 40149954299, :index 3619}
{:type :ok, :f :write, :value 2, :process 4, :time 40150007709, :index 3620}
{:type :ok, :f :write, :value 4, :process 0, :time 40150679569, :index 3621}
{:type :invoke, :f :write, :value 0, :process 6, :time 40219530807, :index 3622}
{:type :ok, :f :write, :value 0, :process 6, :time 40223176007, :index 3623}
{:type :invoke, :f :read, :value nil, :process 3, :time 40260801126, :index 3624}
{:type :ok, :f :read, :value 0, :process 3, :time 40262349026, :index 3625}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 40287975886, :index 3626}
{:type :ok, :f :cas, :value [0 3], :process 0, :time 40291806386, :index 3627}
{:type :invoke, :f :read, :value nil, :process 2, :time 40315245525, :index 3628}
{:type :ok, :f :read, :value 3, :process 2, :time 40316631135, :index 3629}
{:type :invoke, :f :read, :value nil, :process 4, :time 40318233965, :index 3630}
{:type :ok, :f :read, :value 3, :process 4, :time 40319346865, :index 3631}
{:type :invoke, :f :cas, :value [1 3], :process 2, :time 40333855505, :index 3632}
{:type :fail, :f :cas, :value [1 3], :process 2, :time 40337179615, :index 3633}
{:type :invoke, :f :write, :value 3, :process 6, :time 40355587314, :index 3634}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 40356602974, :index 3635}
{:type :ok, :f :write, :value 3, :process 6, :time 40359589874, :index 3636}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 40360396544, :index 3637}
{:type :invoke, :f :write, :value 4, :process 2, :time 40386414644, :index 3638}
{:type :ok, :f :write, :value 4, :process 2, :time 40389846853, :index 3639}
{:type :invoke, :f :cas, :value [0 2], :process 6, :time 40414882913, :index 3640}
{:type :fail, :f :cas, :value [0 2], :process 6, :time 40417957663, :index 3641}
{:type :invoke, :f :write, :value 4, :process 0, :time 40441074813, :index 3642}
{:type :ok, :f :write, :value 4, :process 0, :time 40444431113, :index 3643}
{:type :invoke, :f :cas, :value [3 0], :process 2, :time 40464219072, :index 3644}
{:type :invoke, :f :write, :value 2, :process 4, :time 40466605632, :index 3645}
{:type :fail, :f :cas, :value [3 0], :process 2, :time 40467791922, :index 3646}
{:type :ok, :f :write, :value 2, :process 4, :time 40469951222, :index 3647}
{:type :invoke, :f :cas, :value [2 2], :process 0, :time 40471665462, :index 3648}
{:type :ok, :f :cas, :value [2 2], :process 0, :time 40474294862, :index 3649}
{:type :invoke, :f :write, :value 2, :process 3, :time 40499583942, :index 3650}
{:type :ok, :f :write, :value 2, :process 3, :time 40502846671, :index 3651}
{:type :invoke, :f :write, :value 1, :process 6, :time 40555207351, :index 3652}
{:type :ok, :f :write, :value 1, :process 6, :time 40558115770, :index 3653}
{:type :invoke, :f :read, :value nil, :process 0, :time 40560498330, :index 3654}
{:type :ok, :f :read, :value 1, :process 0, :time 40561441620, :index 3655}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 40589102500, :index 3656}
{:type :fail, :f :cas, :value [4 4], :process 3, :time 40592353390, :index 3657}
{:type :invoke, :f :read, :value nil, :process 2, :time 40617019389, :index 3658}
{:type :ok, :f :read, :value 1, :process 2, :time 40618109979, :index 3659}
{:type :invoke, :f :read, :value nil, :process 4, :time 40646153669, :index 3660}
{:type :ok, :f :read, :value 1, :process 4, :time 40647437209, :index 3661}
{:type :invoke, :f :read, :value nil, :process 6, :time 40692379258, :index 3662}
{:type :invoke, :f :read, :value nil, :process 2, :time 40693319788, :index 3663}
{:type :ok, :f :read, :value 1, :process 6, :time 40694165667, :index 3664}
{:type :ok, :f :read, :value 1, :process 2, :time 40694947367, :index 3665}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 40734645047, :index 3666}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 40738566147, :index 3667}
{:type :invoke, :f :read, :value nil, :process 4, :time 40748663357, :index 3668}
{:type :ok, :f :read, :value 1, :process 4, :time 40750027186, :index 3669}
{:type :invoke, :f :read, :value nil, :process 6, :time 40754439646, :index 3670}
{:type :ok, :f :read, :value 1, :process 6, :time 40755674516, :index 3671}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 40783551086, :index 3672}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 40787331806, :index 3673}
{:type :invoke, :f :read, :value nil, :process 0, :time 40827884165, :index 3674}
{:type :ok, :f :read, :value 1, :process 0, :time 40829057225, :index 3675}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 40861548355, :index 3676}
{:type :invoke, :f :write, :value 4, :process 2, :time 40862183495, :index 3677}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 40864847344, :index 3678}
{:type :ok, :f :write, :value 4, :process 2, :time 40865441015, :index 3679}
{:type :invoke, :f :read, :value nil, :process 6, :time 40901905774, :index 3680}
{:type :ok, :f :read, :value 4, :process 6, :time 40903265834, :index 3681}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 40907263714, :index 3682}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 40909869233, :index 3683}
{:type :invoke, :f :read, :value nil, :process 3, :time 40935050653, :index 3684}
{:type :ok, :f :read, :value 4, :process 3, :time 40936088673, :index 3685}
{:type :invoke, :f :write, :value 1, :process 0, :time 40943246423, :index 3686}
{:type :ok, :f :write, :value 1, :process 0, :time 40945827663, :index 3687}
{:type :invoke, :f :read, :value nil, :process 3, :time 40946259593, :index 3688}
{:type :ok, :f :read, :value 1, :process 3, :time 40947254453, :index 3689}
{:type :invoke, :f :read, :value nil, :process 4, :time 40954046443, :index 3690}
{:type :ok, :f :read, :value 1, :process 4, :time 40955088883, :index 3691}
{:type :invoke, :f :cas, :value [2 4], :process 2, :time 40967601192, :index 3692}
{:type :fail, :f :cas, :value [2 4], :process 2, :time 40970494592, :index 3693}
{:type :invoke, :f :read, :value nil, :process 2, :time 41008674332, :index 3694}
{:type :ok, :f :read, :value 1, :process 2, :time 41009677582, :index 3695}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 41023453291, :index 3696}
{:type :fail, :f :cas, :value [2 2], :process 6, :time 41025999881, :index 3697}
{:type :invoke, :f :read, :value nil, :process 3, :time 41037437751, :index 3698}
{:type :ok, :f :read, :value 1, :process 3, :time 41038438061, :index 3699}
{:type :invoke, :f :write, :value 0, :process 4, :time 41039283321, :index 3700}
{:type :ok, :f :write, :value 0, :process 4, :time 41043190651, :index 3701}
{:type :invoke, :f :read, :value nil, :process 2, :time 41046853221, :index 3702}
{:type :ok, :f :read, :value 0, :process 2, :time 41047813721, :index 3703}
{:type :invoke, :f :read, :value nil, :process 0, :time 41062000040, :index 3704}
{:type :ok, :f :read, :value 0, :process 0, :time 41062982370, :index 3705}
{:type :invoke, :f :cas, :value [2 1], :process 6, :time 41070196511, :index 3706}
{:type :fail, :f :cas, :value [2 1], :process 6, :time 41072760400, :index 3707}
{:type :invoke, :f :read, :value nil, :process 2, :time 41078980970, :index 3708}
{:type :ok, :f :read, :value 0, :process 2, :time 41079897140, :index 3709}
{:type :invoke, :f :write, :value 0, :process 0, :time 41095169360, :index 3710}
{:type :ok, :f :write, :value 0, :process 0, :time 41097949110, :index 3711}
{:type :invoke, :f :read, :value nil, :process 6, :time 41114959690, :index 3712}
{:type :ok, :f :read, :value 0, :process 6, :time 41115968250, :index 3713}
{:type :invoke, :f :read, :value nil, :process 2, :time 41120062779, :index 3714}
{:type :ok, :f :read, :value 0, :process 2, :time 41121036159, :index 3715}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 41122666959, :index 3716}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 41125989459, :index 3717}
{:type :invoke, :f :read, :value nil, :process 4, :time 41126413919, :index 3718}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 41127138679, :index 3719}
{:type :ok, :f :read, :value 0, :process 4, :time 41127631059, :index 3720}
{:type :ok, :f :cas, :value [0 3], :process 0, :time 41129928619, :index 3721}
{:type :invoke, :f :read, :value nil, :process 6, :time 41144135489, :index 3722}
{:type :ok, :f :read, :value 3, :process 6, :time 41145158849, :index 3723}
{:type :invoke, :f :read, :value nil, :process 4, :time 41175865928, :index 3724}
{:type :ok, :f :read, :value 3, :process 4, :time 41176963528, :index 3725}
{:type :invoke, :f :write, :value 4, :process 4, :time 41182146378, :index 3726}
{:type :ok, :f :write, :value 4, :process 4, :time 41185191938, :index 3727}
{:type :invoke, :f :write, :value 3, :process 4, :time 41225382607, :index 3728}
{:type :ok, :f :write, :value 3, :process 4, :time 41228181488, :index 3729}
{:type :invoke, :f :cas, :value [2 4], :process 2, :time 41277191376, :index 3730}
{:type :fail, :f :cas, :value [2 4], :process 2, :time 41279985876, :index 3731}
{:type :invoke, :f :read, :value nil, :process 0, :time 41301109086, :index 3732}
{:type :ok, :f :read, :value 3, :process 0, :time 41302131286, :index 3733}
{:type :invoke, :f :read, :value nil, :process 4, :time 41303396036, :index 3734}
{:type :ok, :f :read, :value 3, :process 4, :time 41304451796, :index 3735}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 41316627266, :index 3736}
{:type :invoke, :f :write, :value 4, :process 6, :time 41319349086, :index 3737}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 41320850806, :index 3738}
{:type :ok, :f :write, :value 4, :process 6, :time 41322049786, :index 3739}
{:type :invoke, :f :write, :value 3, :process 3, :time 41325186355, :index 3740}
{:type :ok, :f :write, :value 3, :process 3, :time 41327801165, :index 3741}
{:type :invoke, :f :read, :value nil, :process 2, :time 41468207792, :index 3742}
{:type :ok, :f :read, :value 3, :process 2, :time 41469711632, :index 3743}
{:type :invoke, :f :write, :value 4, :process 0, :time 41487313392, :index 3744}
{:type :ok, :f :write, :value 4, :process 0, :time 41490441052, :index 3745}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 41492229762, :index 3746}
{:type :ok, :f :cas, :value [4 2], :process 6, :time 41495015442, :index 3747}
{:type :invoke, :f :read, :value nil, :process 4, :time 41514056502, :index 3748}
{:type :ok, :f :read, :value 2, :process 4, :time 41515444282, :index 3749}
{:type :invoke, :f :read, :value nil, :process 3, :time 41518984202, :index 3750}
{:type :ok, :f :read, :value 2, :process 3, :time 41519856271, :index 3751}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :invoke, :f :read, :value nil, :process 4, :time 41603683900, :index 3753}
{:type :ok, :f :read, :value 2, :process 4, :time 41605158670, :index 3754}
{:type :invoke, :f :read, :value nil, :process 6, :time 41625222820, :index 3755}
{:type :ok, :f :read, :value 2, :process 6, :time 41626998640, :index 3756}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 41627057240, :index 3757}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 41631166440, :index 3758}
{:type :invoke, :f :cas, :value [4 3], :process 2, :time 41663964159, :index 3759}
{:type :invoke, :f :read, :value nil, :process 6, :time 41664267479, :index 3760}
{:type :ok, :f :read, :value 2, :process 6, :time 41665461569, :index 3761}
{:type :fail, :f :cas, :value [4 3], :process 2, :time 41667303568, :index 3762}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 41674424858, :index 3763}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 41677405828, :index 3764}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 41683694338, :index 3765}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 41686662258, :index 3766}
{:type :invoke, :f :write, :value 1, :process 3, :time 41707471128, :index 3767}
{:type :invoke, :f :write, :value 2, :process 4, :time 41707621508, :index 3768}
{:type :ok, :f :write, :value 1, :process 3, :time 41710733338, :index 3769}
{:type :ok, :f :write, :value 2, :process 4, :time 41710737347, :index 3770}
{:type :invoke, :f :read, :value nil, :process 4, :time 41715999718, :index 3771}
{:type :ok, :f :read, :value 1, :process 4, :time 41716984738, :index 3772}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :invoke, :f :write, :value 0, :process 6, :time 41776759726, :index 3774}
{:type :invoke, :f :write, :value 3, :process 4, :time 41782248966, :index 3775}
{:type :ok, :f :write, :value 0, :process 6, :time 41782657826, :index 3776}
{:type :ok, :f :write, :value 3, :process 4, :time 41786468916, :index 3777}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 41804989756, :index 3778}
{:type :ok, :f :cas, :value [3 2], :process 0, :time 41809149436, :index 3779}
{:type :invoke, :f :cas, :value [4 2], :process 3, :time 41817027236, :index 3780}
{:type :invoke, :f :read, :value nil, :process 2, :time 41817547156, :index 3781}
{:type :ok, :f :read, :value 2, :process 2, :time 41819579676, :index 3782}
{:type :fail, :f :cas, :value [4 2], :process 3, :time 41821930045, :index 3783}
{:type :invoke, :f :cas, :value [2 1], :process 2, :time 41892221244, :index 3784}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 41893023814, :index 3785}
{:type :ok, :f :cas, :value [2 1], :process 2, :time 41896373774, :index 3786}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 41897272994, :index 3787}
{:type :invoke, :f :read, :value nil, :process 6, :time 41922507093, :index 3788}
{:type :ok, :f :read, :value 1, :process 6, :time 41924028253, :index 3789}
{:type :invoke, :f :write, :value 3, :process 4, :time 41981743352, :index 3790}
{:type :ok, :f :write, :value 3, :process 4, :time 41988955652, :index 3791}
{:type :invoke, :f :write, :value 2, :process 4, :time 41998250192, :index 3792}
{:type :invoke, :f :write, :value 4, :process 0, :time 41999465182, :index 3793}
{:type :ok, :f :write, :value 2, :process 4, :time 42001669592, :index 3794}
{:type :ok, :f :write, :value 4, :process 0, :time 42002706932, :index 3795}
{:type :invoke, :f :write, :value 2, :process 2, :time 42002674442, :index 3796}
{:type :ok, :f :write, :value 2, :process 2, :time 42006025632, :index 3797}
{:type :invoke, :f :write, :value 1, :process 6, :time 42008282082, :index 3798}
{:type :ok, :f :write, :value 1, :process 6, :time 42011090902, :index 3799}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 42014329532, :index 3800}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 42017205881, :index 3801}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 42058437551, :index 3802}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 42062479531, :index 3803}
{:type :invoke, :f :write, :value 0, :process 2, :time 42070274200, :index 3804}
{:type :ok, :f :write, :value 0, :process 2, :time 42073647800, :index 3805}
{:type :invoke, :f :write, :value 1, :process 2, :time 42088891800, :index 3806}
{:type :ok, :f :write, :value 1, :process 2, :time 42092290200, :index 3807}
{:type :invoke, :f :write, :value 3, :process 0, :time 42100957130, :index 3808}
{:type :ok, :f :write, :value 3, :process 0, :time 42104057280, :index 3809}
{:type :invoke, :f :read, :value nil, :process 3, :time 42132751229, :index 3812}
{:type :ok, :f :read, :value 3, :process 3, :time 42134464139, :index 3813}
{:type :invoke, :f :cas, :value [4 0], :process 4, :time 42161932939, :index 3816}
{:type :fail, :f :cas, :value [4 0], :process 4, :time 42164947059, :index 3817}
{:type :invoke, :f :write, :value 2, :process 6, :time 42173312759, :index 3818}
{:type :ok, :f :write, :value 2, :process 6, :time 42176296339, :index 3819}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
