{:type :info, :f :start, :process :nemesis, :time 5212501457, :index 395}
{:type :info, :f :start, :process :nemesis, :time 5624678769, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 428}
{:type :info, :f :stop, :process :nemesis, :time 10627145851, :index 818}
{:type :info, :f :stop, :process :nemesis, :time 10829946857, :value :network-healed, :index 837}
{:type :info, :f :start, :process :nemesis, :time 15830249318, :index 1308}
{:type :info, :f :start, :process :nemesis, :time 15932359336, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 1317}
{:type :info, :f :stop, :process :nemesis, :time 20932794748, :index 1800}
{:type :info, :f :stop, :process :nemesis, :time 21136578213, :value :network-healed, :index 1823}
{:type :info, :f :start, :process :nemesis, :time 26136880645, :index 2299}
{:type :info, :f :start, :process :nemesis, :time 26239146132, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2311}
{:type :info, :f :stop, :process :nemesis, :time 31239407264, :index 2780}
{:type :info, :f :stop, :process :nemesis, :time 31442205990, :value :network-healed, :index 2797}
{:type :info, :f :start, :process :nemesis, :time 36442475602, :index 3282}
{:type :info, :f :start, :process :nemesis, :time 36544605940, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 3295}
{:type :info, :f :stop, :process :nemesis, :time 41544880141, :index 3752}
{:type :info, :f :stop, :process :nemesis, :time 41747871597, :value :network-healed, :index 3773}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 42104191680, :index 3810}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 42108683020, :index 3811}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 42152937989, :index 3814}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 42156451919, :index 3815}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 42197729648, :index 3820}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 42200644218, :index 3821}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 42219686568, :index 3822}
{:type :ok, :f :cas, :value [0 0], :process 0, :time 42222777048, :index 3823}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 42224524177, :index 3824}
{:type :fail, :f :cas, :value [1 3], :process 6, :time 42227088328, :index 3825}
{:type :invoke, :f :read, :value nil, :process 2, :time 42248677997, :index 3826}
{:type :ok, :f :read, :value 0, :process 2, :time 42249841677, :index 3827}
{:type :invoke, :f :write, :value 1, :process 6, :time 42267268117, :index 3828}
{:type :ok, :f :write, :value 1, :process 6, :time 42270223297, :index 3829}
{:type :invoke, :f :read, :value nil, :process 0, :time 42304065686, :index 3830}
{:type :ok, :f :read, :value 1, :process 0, :time 42305249496, :index 3831}
{:type :invoke, :f :write, :value 4, :process 0, :time 42311453536, :index 3832}
{:type :ok, :f :write, :value 4, :process 0, :time 42314154696, :index 3833}
{:type :invoke, :f :read, :value nil, :process 4, :time 42332212106, :index 3834}
{:type :ok, :f :read, :value 4, :process 4, :time 42333446536, :index 3835}
{:type :invoke, :f :cas, :value [3 4], :process 2, :time 42342047975, :index 3836}
{:type :fail, :f :cas, :value [3 4], :process 2, :time 42344852455, :index 3837}
{:type :invoke, :f :cas, :value [4 2], :process 2, :time 42348139715, :index 3838}
{:type :ok, :f :cas, :value [4 2], :process 2, :time 42350939775, :index 3839}
{:type :invoke, :f :write, :value 1, :process 2, :time 42353137025, :index 3840}
{:type :ok, :f :write, :value 1, :process 2, :time 42355787505, :index 3841}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 42371641675, :index 3842}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 42374165785, :index 3843}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 42386857514, :index 3844}
{:type :ok, :f :cas, :value [1 4], :process 3, :time 42389546125, :index 3845}
{:type :invoke, :f :write, :value 1, :process 2, :time 42390014734, :index 3846}
{:type :invoke, :f :read, :value nil, :process 6, :time 42392432605, :index 3847}
{:type :ok, :f :read, :value 4, :process 6, :time 42393457105, :index 3848}
{:type :ok, :f :write, :value 1, :process 2, :time 42394242045, :index 3849}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 42419350904, :index 3850}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 42422765754, :index 3851}
{:type :invoke, :f :read, :value nil, :process 2, :time 42513438682, :index 3852}
{:type :ok, :f :read, :value 1, :process 2, :time 42514912502, :index 3853}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 42535777001, :index 3854}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 42538948811, :index 3855}
{:type :invoke, :f :read, :value nil, :process 4, :time 42545385021, :index 3856}
{:type :ok, :f :read, :value 1, :process 4, :time 42546478602, :index 3857}
{:type :invoke, :f :read, :value nil, :process 3, :time 42581164661, :index 3858}
{:type :ok, :f :read, :value 1, :process 3, :time 42582323711, :index 3859}
{:type :invoke, :f :read, :value nil, :process 6, :time 42592666300, :index 3860}
{:type :ok, :f :read, :value 1, :process 6, :time 42593663180, :index 3861}
{:type :invoke, :f :read, :value nil, :process 0, :time 42605063350, :index 3862}
{:type :ok, :f :read, :value 1, :process 0, :time 42606038250, :index 3863}
{:type :invoke, :f :cas, :value [0 0], :process 2, :time 42670151329, :index 3864}
{:type :fail, :f :cas, :value [0 0], :process 2, :time 42673364109, :index 3865}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 42677838669, :index 3866}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 42680471479, :index 3867}
{:type :invoke, :f :write, :value 4, :process 4, :time 42680685249, :index 3868}
{:type :ok, :f :write, :value 4, :process 4, :time 42683302479, :index 3869}
{:type :invoke, :f :read, :value nil, :process 0, :time 42752217037, :index 3870}
{:type :ok, :f :read, :value 4, :process 0, :time 42753389797, :index 3871}
{:type :invoke, :f :write, :value 3, :process 3, :time 42754530147, :index 3872}
{:type :ok, :f :write, :value 3, :process 3, :time 42757382257, :index 3873}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 42795575317, :index 3874}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 42798405126, :index 3875}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 42809654736, :index 3876}
{:type :fail, :f :cas, :value [1 3], :process 6, :time 42812180816, :index 3877}
{:type :invoke, :f :read, :value nil, :process 2, :time 42815540166, :index 3878}
{:type :invoke, :f :write, :value 1, :process 4, :time 42816510996, :index 3879}
{:type :ok, :f :read, :value 3, :process 2, :time 42816597906, :index 3880}
{:type :ok, :f :write, :value 1, :process 4, :time 42819034226, :index 3881}
{:type :invoke, :f :write, :value 2, :process 3, :time 42891616215, :index 3882}
{:type :ok, :f :write, :value 2, :process 3, :time 42894869935, :index 3883}
{:type :invoke, :f :write, :value 2, :process 6, :time 42895377344, :index 3884}
{:type :ok, :f :write, :value 2, :process 6, :time 42897990404, :index 3885}
{:type :invoke, :f :cas, :value [0 2], :process 3, :time 42946133223, :index 3886}
{:type :fail, :f :cas, :value [0 2], :process 3, :time 42949628774, :index 3887}
{:type :invoke, :f :read, :value nil, :process 2, :time 42989787233, :index 3888}
{:type :ok, :f :read, :value 2, :process 2, :time 42991329673, :index 3889}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 42992608782, :index 3890}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 42995759872, :index 3891}
{:type :invoke, :f :read, :value nil, :process 4, :time 43005224652, :index 3892}
{:type :ok, :f :read, :value 2, :process 4, :time 43006301872, :index 3893}
{:type :invoke, :f :read, :value nil, :process 4, :time 43006404822, :index 3894}
{:type :ok, :f :read, :value 2, :process 4, :time 43007389972, :index 3895}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 43019859492, :index 3896}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 43022786932, :index 3897}
{:type :invoke, :f :read, :value nil, :process 2, :time 43029587532, :index 3898}
{:type :ok, :f :read, :value 2, :process 2, :time 43030558572, :index 3899}
{:type :invoke, :f :write, :value 2, :process 6, :time 43041191372, :index 3900}
{:type :ok, :f :write, :value 2, :process 6, :time 43044191281, :index 3901}
{:type :invoke, :f :read, :value nil, :process 3, :time 43049041561, :index 3902}
{:type :ok, :f :read, :value 2, :process 3, :time 43050180371, :index 3903}
{:type :invoke, :f :cas, :value [1 0], :process 2, :time 43107782310, :index 3904}
{:type :fail, :f :cas, :value [1 0], :process 2, :time 43111607180, :index 3905}
{:type :invoke, :f :read, :value nil, :process 4, :time 43139586810, :index 3906}
{:type :ok, :f :read, :value 2, :process 4, :time 43141153979, :index 3907}
{:type :invoke, :f :write, :value 4, :process 0, :time 43161965669, :index 3908}
{:type :ok, :f :write, :value 4, :process 0, :time 43165978689, :index 3909}
{:type :invoke, :f :write, :value 4, :process 3, :time 43175367259, :index 3910}
{:type :ok, :f :write, :value 4, :process 3, :time 43179194129, :index 3911}
{:type :invoke, :f :write, :value 3, :process 6, :time 43215422738, :index 3912}
{:type :ok, :f :write, :value 3, :process 6, :time 43219263328, :index 3913}
{:type :invoke, :f :read, :value nil, :process 4, :time 43265411637, :index 3914}
{:type :ok, :f :read, :value 3, :process 4, :time 43266899157, :index 3915}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 43280540767, :index 3916}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 43284271617, :index 3917}
{:type :invoke, :f :cas, :value [2 2], :process 2, :time 43284916737, :index 3918}
{:type :fail, :f :cas, :value [2 2], :process 2, :time 43287931257, :index 3919}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 43296268656, :index 3920}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 43299116616, :index 3921}
{:type :invoke, :f :read, :value nil, :process 6, :time 43307517766, :index 3922}
{:type :ok, :f :read, :value 3, :process 6, :time 43308510586, :index 3923}
{:type :invoke, :f :write, :value 0, :process 3, :time 43343451516, :index 3924}
{:type :ok, :f :write, :value 0, :process 3, :time 43346629396, :index 3925}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 43348862955, :index 3926}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 43351738066, :index 3927}
{:type :invoke, :f :cas, :value [0 1], :process 4, :time 43353136426, :index 3928}
{:type :ok, :f :cas, :value [0 1], :process 4, :time 43356041375, :index 3929}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 43361992125, :index 3930}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 43364918155, :index 3931}
{:type :invoke, :f :write, :value 1, :process 2, :time 43390148905, :index 3932}
{:type :ok, :f :write, :value 1, :process 2, :time 43393181174, :index 3933}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 43398380854, :index 3934}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 43401292525, :index 3935}
{:type :invoke, :f :read, :value nil, :process 2, :time 43427390404, :index 3936}
{:type :ok, :f :read, :value 1, :process 2, :time 43428564084, :index 3937}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 43471272253, :index 3938}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 43474641153, :index 3939}
{:type :invoke, :f :write, :value 4, :process 0, :time 43476552563, :index 3940}
{:type :ok, :f :write, :value 4, :process 0, :time 43479728903, :index 3941}
{:type :invoke, :f :read, :value nil, :process 6, :time 43486726703, :index 3942}
{:type :ok, :f :read, :value 4, :process 6, :time 43487937043, :index 3943}
{:type :invoke, :f :write, :value 3, :process 0, :time 43504050152, :index 3944}
{:type :ok, :f :write, :value 3, :process 0, :time 43507052452, :index 3945}
{:type :invoke, :f :write, :value 0, :process 6, :time 43540144452, :index 3946}
{:type :ok, :f :write, :value 0, :process 6, :time 43543252462, :index 3947}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 43552131701, :index 3948}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 43555126981, :index 3949}
{:type :invoke, :f :cas, :value [0 3], :process 2, :time 43575749211, :index 3950}
{:type :ok, :f :cas, :value [0 3], :process 2, :time 43578700551, :index 3951}
{:type :invoke, :f :read, :value nil, :process 4, :time 43579847361, :index 3952}
{:type :invoke, :f :write, :value 3, :process 0, :time 43580353081, :index 3953}
{:type :ok, :f :read, :value 3, :process 4, :time 43580951341, :index 3954}
{:type :ok, :f :write, :value 3, :process 0, :time 43582998261, :index 3955}
{:type :invoke, :f :write, :value 3, :process 3, :time 43593301651, :index 3956}
{:type :ok, :f :write, :value 3, :process 3, :time 43596723141, :index 3957}
{:type :invoke, :f :read, :value nil, :process 6, :time 43643480480, :index 3958}
{:type :ok, :f :read, :value 3, :process 6, :time 43644863189, :index 3959}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 43654978620, :index 3960}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 43658248720, :index 3961}
{:type :invoke, :f :write, :value 3, :process 2, :time 43691990469, :index 3962}
{:type :ok, :f :write, :value 3, :process 2, :time 43695999808, :index 3963}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 43697145459, :index 3964}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 43700363339, :index 3965}
{:type :invoke, :f :read, :value nil, :process 0, :time 43734243088, :index 3966}
{:type :ok, :f :read, :value 3, :process 0, :time 43735983398, :index 3967}
{:type :invoke, :f :read, :value nil, :process 6, :time 43738086138, :index 3968}
{:type :ok, :f :read, :value 3, :process 6, :time 43739245647, :index 3969}
{:type :invoke, :f :write, :value 2, :process 2, :time 43773307827, :index 3970}
{:type :ok, :f :write, :value 2, :process 2, :time 43777226907, :index 3971}
{:type :invoke, :f :read, :value nil, :process 6, :time 43802482747, :index 3972}
{:type :ok, :f :read, :value 2, :process 6, :time 43803814517, :index 3973}
{:type :invoke, :f :write, :value 3, :process 0, :time 43808235677, :index 3974}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 43809600966, :index 3975}
{:type :ok, :f :write, :value 3, :process 0, :time 43811784566, :index 3976}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 43812644116, :index 3977}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 43840468656, :index 3978}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 43843703716, :index 3979}
{:type :invoke, :f :read, :value nil, :process 4, :time 43928877744, :index 3980}
{:type :ok, :f :read, :value 3, :process 4, :time 43930436444, :index 3981}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 43932927804, :index 3982}
{:type :invoke, :f :read, :value nil, :process 6, :time 43933036634, :index 3983}
{:type :ok, :f :read, :value 3, :process 6, :time 43934571314, :index 3984}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 43936851454, :index 3985}
{:type :invoke, :f :write, :value 2, :process 2, :time 43941525664, :index 3986}
{:type :ok, :f :write, :value 2, :process 2, :time 43945060674, :index 3987}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 43959135364, :index 3988}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 43962886583, :index 3989}
{:type :invoke, :f :read, :value nil, :process 0, :time 43999036743, :index 3990}
{:type :ok, :f :read, :value 2, :process 0, :time 44000568343, :index 3991}
{:type :invoke, :f :cas, :value [3 4], :process 2, :time 44030405082, :index 3992}
{:type :fail, :f :cas, :value [3 4], :process 2, :time 44034403612, :index 3993}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 44054856312, :index 3994}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 44058421401, :index 3995}
{:type :invoke, :f :cas, :value [4 4], :process 4, :time 44109727940, :index 3996}
{:type :fail, :f :cas, :value [4 4], :process 4, :time 44113541151, :index 3997}
{:type :invoke, :f :read, :value nil, :process 3, :time 44115202920, :index 3998}
{:type :ok, :f :read, :value 2, :process 3, :time 44116433951, :index 3999}
{:type :invoke, :f :read, :value nil, :process 0, :time 44183862209, :index 4000}
{:type :ok, :f :read, :value 2, :process 0, :time 44185561289, :index 4001}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 44201722279, :index 4002}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 44202638389, :index 4003}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 44206027009, :index 4004}
{:type :ok, :f :cas, :value [2 0], :process 3, :time 44207029859, :index 4005}
{:type :invoke, :f :read, :value nil, :process 2, :time 44207672979, :index 4006}
{:type :ok, :f :read, :value 0, :process 2, :time 44209119059, :index 4007}
{:type :invoke, :f :write, :value 1, :process 4, :time 44221842488, :index 4008}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 44223279148, :index 4009}
{:type :ok, :f :write, :value 1, :process 4, :time 44225573798, :index 4010}
{:type :ok, :f :cas, :value [1 1], :process 3, :time 44226788058, :index 4011}
{:type :invoke, :f :write, :value 1, :process 0, :time 44363809446, :index 4022}
{:type :ok, :f :write, :value 1, :process 0, :time 44366749195, :index 4023}
{:type :invoke, :f :write, :value 3, :process 6, :time 44396310985, :index 4026}
{:type :ok, :f :write, :value 3, :process 6, :time 44399131465, :index 4027}
{:type :info, :f :start, :process :nemesis, :time 46748154298, :index 4258}
{:type :info, :f :start, :process :nemesis, :time 46850179066, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 4271}
{:type :info, :f :stop, :process :nemesis, :time 51850516068, :index 4752}
{:type :info, :f :stop, :process :nemesis, :time 52053443514, :value :network-healed, :index 4777}
{:type :info, :f :start, :process :nemesis, :time 57053704265, :index 5236}
{:type :info, :f :start, :process :nemesis, :time 57155491723, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 5243}
{:type :info, :f :stop, :process :nemesis, :time 62155776044, :index 5542}
{:type :info, :f :stop, :process :nemesis, :time 62358661581, :value :network-healed, :index 5543}
